<div>
<div id="song_discovery" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Song</span> Discovery</span>
	<br>
	<br>
	<%if user_signed_in?%>
		<%x_range = [*10..370]%>

		<%@keywords.each do |k,v|%>

		<%x = x_range.sample%>
		<%y = 5%>
		<%x_range = x_range - [*x-20..x+20]%>
		
		<div style="position:relative;left:<%=x%>px;top:-5px;font-size:15px;border-radius:3px;display: inline-block">
			<a href="#" style="position:relative;float:left;" onclick="add_keyword('<%=k%>',<%=v[:value] ? true : false%>,this);submit_keywords();">
				<strong>&nbsp;<%=v[:name]%></strong>
			</a>
			&nbsp;<button class="close" style="display:none;top:-2px;float:right;" onclick="remove_keyword('<%=k%>',<%=v[:value] ? true : false%>,this);submit_keywords();">×</button>
		
			<%if v[:value]%>
			<%values = UploadedSong.send(k.to_s+"_value",current_user)%>
				<select name="<%=k.to_s+'_value'%>" id="<%=k.to_s+'_value'%>" style="width:110px;font-size:10px;height:22px" onchange="remove_keyword('<%=k%>',<%=v[:value] ? true : false%>,$(this).siblings()[1]);add_keyword('<%=k%>',<%=v[:value] ? true : false%>,$(this).siblings()[0]);submit_keywords();">
					<%values.each do |va|%>
						<option value="<%=va%>"><%=va[0]%></option>
					<%end%>
				</select>
			<%end%>
			</div>
			<br clear="both">
		<%end%>
		<div id="semantic-sentence"></div>
		<div id="semantic-search"></div>
	<%else%>
	<p>
		You can discover new music you like instantly
	<p>
		Please sign in at the top corner to discover songs
	</p>
	<%end%>
</div>

<%= render :partial => "layouts/footer" %>

</div>
<script>
keywords = []
keyword_values = {
	values: {

	}
}
keyword_display_names = {
	display_names: {

	}
}
function add_keyword(k,has_value,el)
{
	if(keywords.indexOf(k) == -1)
	{
		show_selection(el);
		if(has_value)
		{
			var value = JSON.parse($("#"+k+"_value :selected").val());
			keyword_values['values'][k] = value[1];
			keyword_display_names['display_names'][k] = value[0];
		}
		keywords.push(k);
	}
}

function remove_keyword(k,has_value,el)
{
	if(keywords.indexOf(k) != -1)
	{
		show_deselection(el);
		if(has_value)
		{
			delete keyword_values['values'][k];
		}
		keywords.splice(keywords.indexOf(k),1);
	}
}

function show_selection(el)
{
	$(el).parent().css({'background-color':'#ccc'});
	$($(el).siblings()[0]).show();
}
function show_deselection(el)
{
	$(el).parent().css({'background-color':'transparent'});
	$(el).hide();
}
function submit_keywords()
{
	var url = "/song_discovery/semantic_search?keywords="+keywords.join(',')+'&'+$.param(keyword_values)+'&'+$.param(keyword_display_names)
	invoke_controller_action('','GET',url,'');
}
</script>