<%if @error.blank?%>
$('#semantic-sentence').html('<h4><%=@sentence%></h4>');
$('#semantic-search').html('<%= escape_javascript(render :partial => "/utility/song_list",:locals => {:songs => @result}) %>');
<%else%>
$('#semantic-sentence').html('<h4><%=@error%></h4>');
$('#semantic-search').html('');
<%end%>
$("#song_discovery .pagination a").click(function(e){
  e.preventDefault();
  $('#semantic-search').stop().fadeTo('fast','0.3',function(){});
  load_url(e.target.href,"$('#semantic-search').stop().fadeTo('fast','1',function(){});");
})
