<script>
  	var audioElement = document.createElement('audio');
  	<% if params[:src] %>
  	var notification = webkitNotifications.createNotification("",
      "Playing amuzz.in in background ",
      "Music still plays in background for <%=current_user.name%>");
  	notification.show();
  	<%end%>
	audioElement.setAttribute('src', '<%=params[:src]%>');
	audioElement.setAttribute('currentTime', '<%=params[:tme]%>');
	audioElement.play();



function play_in_bg() { 

  	if (window.chrome && window.chrome.app && window.chrome.app.isInstalled && $('.player-pause').length > 0) {
  		pl = player_objects[0];
  		sng = pl.current_audio;
  		src = sng.src;
  		tme = sng.currentTime;
		window.open("/chrome/bg_play?src="+src+"&tme="+tme, "bg", "background");
	}

}

function pause_bg()
{
	if (window.chrome && window.chrome.app && window.chrome.app.isInstalled)
	{
		bg_window = window.open("/chrome/bg_play", "bg", "background");
		player_objects[0].current_audio=bg_window.audioElement;
		bg_window.audioElement.pause();
	}
}

</script>
