<div class="pull-left">
				<img src="<%=notify.owner.get_profile_pic%>" class='queue-image small-image' />
			</div>
					<a href="/u/<%=notifier.owner.id%>" class="ajax-link tool-tip" data-title="Profile-<%=notifier.owner.name%>" title="<%=get_tooltip_details(notifier.owner)%>"><span style="font-weight: bold">
						 &nbsp;&nbsp;&nbsp;<%=notifier.owner.name%> </span>
					
			</a>
			  <i class="icon-comment" title='commented'></i> on your song 

<a href="/s/<%=notifier.commentable_id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(notifier.commentable.title, :length=> 20)%>" title="<%=notifier.commentable.title%>">
			 <i class="icon-music"></i> <%=truncate(notifier.commentable.title,:length => 30)%> </a>
<br/>
<br/>
			<blockquote>
			 <%=notifier.owner.name%> says: <small> <%=notifier.body%></small>

			</blockquote>
			
			<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=notifier.created_at.iso8601%>">
		<%=notifier.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>
