				<div class="pull-left">
				<img src="<%=notify.owner.get_profile_pic%>" class='queue-image small-image' />
			</div>
						<a href="/u/<%=notifier.user.id%>" class="ajax-link tool-tip" data-title="Profile-<%=notifier.user.name%>" title="<%=get_tooltip_details(notifier.user)%>"><span style="font-weight: bold">

					
						 &nbsp;&nbsp;&nbsp;<%=notifier.user.name%>
							</a>
							 <i class="icon-heart" title='favourited'></i> your song

		<a href="/s/<%=notifier.uploaded_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(notifier.uploaded_song.title, :length=> 20)%>" title="<%=notifier.uploaded_song.title%>">

			<i class="icon-music"></i>
							 <%=truncate(notifier.uploaded_song.title,:length => 35)%>   
				</a>
				<br/><br/>
				<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=notifier.created_at.iso8601%>">
		<%=notifier.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>
