<div class="pull-left">
				<img src="<%=notify.owner.get_profile_pic%>" class='queue-image small-image' />
			</div>
					<a href="/u/<%=notify.owner.id%>" class="ajax-link tool-tip" data-title="Profile-<%=notify.owner.name%>" title="<%=get_tooltip_details(notify.owner)%>"><span style="font-weight: bold">
						 &nbsp;&nbsp;&nbsp;<%=notify.owner.name%> </span>
					
			</a>
			  invited you to join the group <i class="icon-group" title='Group Listen'></i>  <strong><%=notify.trackable.name%></strong>&nbsp;&nbsp;
	<%if notify.parameters[:used].blank?%>
	<button class="ajax-link btn btn-xs btn-success" data-title="Amuzzin-Group Listen" title="Join Group Listen" onclick="accept_group_request(<%=notify.id%>)">
			 Join Group Now </button>
<%else%>
	<button class="btn btn-xs btn-success disabled">Already Joined </button>
<%end%>
<br/>
<br/>
			<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=notifier.created_at.iso8601%>">
		<%=notify.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>