<div>
<div id="notification_list" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
        <span class="amuzzin-font"><span class="red">Messages</span> for Me</span>
        <br />
        <br />
        <%if current_user%>
        <%if @notifications.present?%>
        	<table class="table table-condensed">
		<tbody>
<% @notifications.each do |notify| %>
	<% notifier = notify.trackable %>

		<tr>
			<td>
				<div class="notified-entity">

				<% if notifier.class.eql?(Favourite) %>
					<%= render :partial => "favourite" , :locals => {:notifier => notifier, :notify => notify} %>
				<%elsif notifier.class.eql?(Comment) %>
					<%= render :partial => "comment" , :locals => {:notifier => notifier, :notify => notify} %>
				<%elsif notifier.class.eql?(Group) %>				
					<%= render :partial => "group" , :locals => {:notifier => notifier, :notify => notify} %>
				<%elsif notify.key.eql?("user.add_friend") %>				
					<%= render :partial => "request_pending" , :locals => {:notifier => notifier, :notify => notify} %>
				<%elsif notify.key.eql?("user.accept_friend") %>				
					<%= render :partial => "request_accepted" , :locals => {:notifier => notifier, :notify => notify} %>
				<%end%>

				</div>
			</td>
		</tr>


<%end%>

		</tbody>
	</table>
	<%else%>
	No messages for you
	<%end%>
<%= will_paginate @notifications , :renderer => BootstrapPagination::Rails %>
<script>
	$(document).ready(function() {
  		$("abbr.timeago").timeago();
  		$('.notified-entity:lt('+parseInt($('#notify_count').html())+')').css('backgroundColor','#F5F5F5');
	});
</script>
<%else%>
<p>Please sign in at the top corner to view all your messages</p>
<%end%>
</div>

<%= render :partial => "layouts/footer" %>
</div>
