<div class="pull-left">
				<img src="<%=notifier.get_profile_pic%>" class='queue-image small-image' />
			</div>
					<a href="/u/<%=notifier.id%>" class="ajax-link tool-tip" data-title="Profile-<%=notifier.name%>" title="<%=get_tooltip_details(notifier)%>"><span style="font-weight: bold">
						 &nbsp;&nbsp;&nbsp;<%=notifier.name%> </span>
					
			</a>
			  sent you friend request&nbsp;&nbsp;


			 <% if notify.parameters[:used].present? %>
				<button  class='btn btn-xs btn-success btn-disabled' disabled>
				 Already Added 
				</button>
			 <% else %>
				<button  class='btn btn-xs btn-success' onclick="invoke_controller_action('','POST','/user/accept_friend?activity=<%=notify.id%>','refresh_current_page()')">
				 Accept 
				</button>
			<% end %> 

<br/>
<br/>
			<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=notify.created_at.iso8601%>">
		<%=notify.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>