				<div class="pull-left">
				<img src="<%=notifier.get_profile_pic%>" class='queue-image small-image' />
			</div>
						<a href="/u/<%=notifier.id%>" class="ajax-link tool-tip" data-title="Profile-<%=notifier.name%>" title="<%=get_tooltip_details(notifier)%>"><span style="font-weight: bold">

					
						 &nbsp;&nbsp;&nbsp;<%=notifier.name%>
							</a>
							  accepted your friend request

				<br/><br/>
				<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=notifier.created_at.iso8601%>">
		<%=notify.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>
