$('#content').html("<%= escape_javascript(render :partial => "/notification/notification",:locals=>{:notifications=>@pending_requests,
	:favourites => @favourites_received,
    :comments => @comments_received}) %>");
$("#notification_list .pagination a").attr('data-title','Amuzzin-My Notifications');
$("#notification_list .pagination a").attr('class','ajax-link');
$('#notify_count').html('0');
$('#notify_count').hide();