<!-- 
    TODO:
      Handle SetIntevral for Processed
      Set popup Size 
      -->

	<style type="text/css">
	    div#withBackground {
	        background-image: url(<%=@song.art("big")%>);
			background-size:125px 125px;
	        background-repeat: no-repeat;
			width:125px;
			height:125px ;
			
	    }
		.ui-widget-header {
		border: 1px solid 
		#E78F08;
		background: 
		#34ED5F  50% 50% repeat-x;
		color: 
		white;
		font-weight: bold;
		}


	</style>
	<div id="title" style="position:absolute;border-radius:10px 10px 0px 0px;behavior: url(/PIE/PIE.htc);height:40px;width:100%;top:15px;left:0px;">
		<span  style="font-family: 'Palitine Linotype',Serif; font-size: 20px;font-weight:bolder;margin-left:15px;"><span class="red">Cut</span> and Share</span>
		<button class="popup-close close" style="float:right;margin-right:15px;">×</button>
	</div>
<div  id="cut_popup" style="position:relative;top:30px;">
	<center>
		<div class="span3">
	<div id="withBackground" class="big-image" onclick="play_music()">
	    <img id ="play_icon" src="/play.png"  style="position: relative; 
	        top: 35px; 
	        left: 0px;" width="50" height="50" />
	</div>	
	<br/>
	</div>
	<div class="span5">
		<table>
			<tr>
<td><span class="label label-inverse">Song Title</span></td><td> 
 <%=@song.title%>
</td>
</tr>
<tr>

		<td> <span class="label label-inverse">Artist</span> </td><td> <%=@song.artist%> </td></tr>
<tr>	<td> <span class="label label-inverse">Album</span></td><td> <%=@song.album%></td></tr>
<tr><td>	<span class="label label-inverse">Genre</span></td><td> <%=@song.genre%></td></tr> 


<tr>	<td> <span class="label label-inverse">Year</span></td><td> <%=@song.year%></td></tr>
<tr>	<td> <span class="label label-inverse">Uploader</span></td><td> <%=@song.get_user%></td></tr>
</table></center>



	</div>
	<div class="span8">
	<div class="demo">
		<hr/>

	<div id="slider-range"></div>

	<span class="progress progress-striped active">
		  <div id="playbar" class="bar"
		       style="width: 0%;"></div>
		</div>
		</span>

			<center>
				<div id="loader-image"><img src="/loader.gif" /></div>
				<div id="console" style="display:none;">

				<span class="input-prepend input-append">
				                <span class="add-on">From</span>
				<input class="span1"  size="5" type="text" id="start"/><span class="add-on">th Second</span>
				              </span> 

							<span class="input-prepend input-append">
							                <span class="add-on">To</span>
							<input class="span1"  size="5" type="text" id="end"/><span class="add-on">th Second</span>
							              </span>


										<hr/>

				<textarea class="input-xlarge" id="comments" rows="3" placeholder="Add few comments and lyrics you love .                         I Like this song because "></textarea>

						<table class="table table-condensed">
							<tr class="info">
								<td >
						 	   <label class="checkbox">
						 	<img src="/facebook_icon_small.jpg"/>
					      <input type="checkbox" id="c_fb"> Facebook
					       <% if current_user.blank? or !current_user.has_fb_auth? %>
					          <a href="/auth/facebook" target="_blank"> [ Click here to Connect with Facebook ] </a>
					        <%end%>
					    </label>
					   </td>
				 	  </tr>

				 	  <tr class="success">
						 	  	<td >
					     <label class="checkbox">
					     	<img src="/twitter-icon-small.gif"/>
					      <input id="c_tw" type="checkbox"> Twitter
					        <% if current_user.blank? or !current_user.has_tweet_auth? %>
					          <a href="/auth/twitter" target="_blank"> [ Click here to Connect with Twitter ] </a>
					        <%end%>
					    </label>
					</td>
				</tr>
						</table>
			 <br/>

						
						<button  class="btn" onclick="save_cut()"  title="Creates a Draft version of what you want to share. You can view this song in Menu -> My Cuts and share it later.">
						<i class="icon icon-list"></i>Draft it
						</button>

							<button  class="btn btn-danger" onclick="share(this)" title="Share this song to your Facebook Timeline">
							<i class="icon icon-share"></i>Share it
							</button>

							<!--button  class="btn btn-danger" onclick="save_and_share()" >
							<i class="icon icon-film"></i>Publish
							</button-->

						</div>
						<div>
						</center>


		

</div>
</div>

	<script>

	var play = 0,init = 0 ;
 	audioElement = document.createElement('audio');
 	if(!isNaN(audioElement.duration))
	isAppLoaded();
	else
	audioElement.addEventListener('loadedmetadata',isAppLoaded,false);
	audioElement.setAttribute('src', '<%=@song_path%>');
	audioElement.preload="metadata";
	$('body').append(audioElement);
	audioElement.play();
	audioElement.pause();

	function isAppLoaded()
	{
		$('#loader-image').hide();
		document.getElementById("console").style.display="";
				$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: audioElement.duration,			
	  values: [ 0, audioElement.duration ],

			   slide: function(event, ui) { 
				pb.style.width = (100/audioElement.duration)*((ui.values[0])) +"%";
				$("#start" ).val(ui.values[ 0 ] );
				$("#end").val(ui.values[ 1 ]);
				} ,
				change: function(event, ui) { 
				pb.style.width = (100/audioElement.duration)*((ui.values[0])) +"%";
				audioElement.currentTime = ui.values[0];
				}
		});
		$( "#start" ).val(0);
		$( "#end" ).val(audioElement.duration);
		set=self.setInterval("progress_player()",100);
	}

	var cur= document.getElementById("curr");
	var pb = document.getElementById("playbar");

	var set;
	function play_music()
	{
		if(play==0)
			{

				image = document.getElementById("play_icon");
				image.src="/pause.png";
				play=1;
				audioElement.play();
}
		else
		{
			image = document.getElementById("play_icon");
			image.src="/play.png";
			play=0;
			audioElement.pause();
		}
	}


	function progress_player()
	{
		var start=document.getElementById("start")
		var end=document.getElementById("end");
		if(document.getElementById('start')==null)
		{
			window.clearInterval(set);
		}
		else
		{
		if(audioElement.currentTime > parseFloat(end.value) )
		{
			audioElement.currentTime = start.value;
		}
		pb.style.width = (100/audioElement.duration)*(audioElement.currentTime) +"%";
		//curr.value=audioElement.currentTime;
		}
	}




	function play_selected()
	{
		start=$("#slider-range").values[0];
		end=$("#slider-range").values[1];	
	}

	function save_cut()
	{
  var sd = parseInt(document.getElementById("start").value);
		var ed = parseInt(document.getElementById("end").value);
		s = $.ajax({
		type: "POST",
		url: "/share_service/draft_song/",
		data: "id=<%=@song.id%>"+"&start_duration="+sd+"&end_duration="+ed+"&comments="+document.getElementById("comments").value,
  
    beforeSend: function(jqXHR, settings){
    	//sp = document.getElementById("share_fb");
		//sp.style.display="";
		//spl = document.getElementById("share_fb_link");
		//spl.share_url = "http://karthik.com";
		//sp.innerHTML =" <img src='/loader.gif'/>";
  },

		success: function(msg){
			//sp = document.getElementById("cut_msg");
			//sp.style.display="";
			//spl = document.getElementById("share_fb_link");
			//spl.share_url = "http://karthik.com";
			//sp.innerHTML =msg;
		}
		});

  }



	function share(el)
	{

		var fb = $('#c_fb')[0].checked;
		var tw = $('#c_tw')[0].checked;
		if(!(fb||tw))
		{
			alert(" You should select atleast one social stream to share");
			return;
		}

		var share ="&fb_share="+fb+"&tw_share="+tw;

			var sd = parseInt(document.getElementById("start").value);
			var ed = parseInt(document.getElementById("end").value);
			s = $.ajax({
			type: "POST",
			url: "/share_service/share_song/",
			data: "req=cid&share=true&id=<%=@song.id%>"+"&start_duration="+sd+"&end_duration="+ed+"&comments="+document.getElementById("comments").value+share,
			success: function(msg){
					alert(msg);
				}
			});
			close_modal();
	}
	function close_modal()
	{
		$('#emptydiv').bPopup().close();
	}
	
	</script>
