<%=popup_title('Share Song')%>

<%unless @song.blank?%>
<div id="share_song" class="offset15pxt">
<div class="pull-left">
<img src="<%=@song.art('big')%>"/ class="big-image share-art">
</div>
<div class="pull-left offset10pxl">
<p style="font-size: 16px;color: #454545"><%= truncate(@song.title, :length=> 30)%></p>
<p style="color: #606060"><%= truncate(@song.album, :length=> 40)%></p>
<p style="color: #999999">by <%= truncate(@song.get_user, :length=> 40)%></p>

</div>
<br clear="both">
<br/>
<table class='table'>
	<tr>
		<td>
<p style="color: #606060">Shareable Link:
<p>
<span id="share_info_label" style="display:none" class="label label-success"> Successfully copied to clipboard </span></p>

 </p>
<p>
<div class="input-append">


	<input type="text" readonly style="width:150px" value="http://amuzz.in/s/<%=@song.id%>"></input>
<button class="btn btn-warning btn-sm" title="Copy to clipboard" id='share-clip' data-clipboard-text="http://amuzz.in/s/<%=@song.id%>"><icon class="icon icon-paste"></i></button>

</div>

</p>
</td>
<td align='right' rowspan=2>
	<p style="color: #606060"><b>QR Code: </b></p>

		<div id='share_qr_code' class='big-image qr-art'></div>
</td>
</tr>
<tr>
	<td>

<p style="color: #606060"><b>(or) Share it in: </b></p>

<button class="btn btn-sm btn-fb share-btn" alt="Facebook" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=<%=FACEBOOK_KEY%>&link=http://amuzz.in/s/<%=@song.id%>&name=<%= CGI.escape @song.title%>&caption=<%=CGI.escape @song.title %>&description=Amuzzin%20is%20a%20social%20music%20sharing%20platform%20for%20music%20lovers&redirect_uri=https://m.facebook.com&picture=<%=@song.art("original")%>','sharer','toolbar=0,status=0,width=548,height=325');">
<i class="icon icon-facebook" style="font-size:16px"></i>
</button>


<button class="btn btn-sm btn-twitter share-btn"  alt="Twitter" onclick="window.open( 'https://twitter.com/intent/tweet?text=Hey there! This song is great - ♫ <%=@song.title[0..25]%><%= "..." if @song.title.size > 25%>. Listen to it at &via=amuzzinapp&url=http://amuzz.in/s/<%=@song.id%>&hashtags=amuzzin,NowPlaying&related=amuzzinapp', 'myWindow', 'status = 1, height = 300, width = 600, resizable = 0');">
<i class="icon icon-twitter" style="font-size:16px"></i>
</button>

<button class="btn btn-sm btn-danger share-btn" alt="Google" onclick="window.open( 'https://plus.google.com/share?url=http://amuzz.in/s/<%=@song.id%>', 'myWindow', 'status = 1, height = 300, width = 600, resizable = 0' );">
<i class="icon icon-google-plus" style="font-size:16px"></i>
</button>
</p>

<p>
</div>
</td>
</tr>
</table>

<%end%>

<script type='text/javascript'>

var clip = new ZeroClipboard( document.getElementById("share-clip"), {
  moviePath: "/ZeroClipboard.swf"
} );

clip.on( 'complete', function(client, args) {
  this.disabled = true; // "this" is the element that was clicked
  $('#share_info_label').show();
} );

	$('#share_qr_code').qrcode({width: 128,height: 128, text: "http://amuzz.in/s/<%=@song.id%>"});
</script>

