<strong>changed the song to</strong> 
<br>
<% if activity.trackable %>
  <%=activity.trackable.uploaded_song.title%> 
  <br>
  <a href="/user/friends_stream" class="ajax-link" data-title="Amuzzin-Friends' Radio"> View your friends' stream</a>
<% else %>
  a song which has since been removed
<% end %>
<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=activity.created_at.iso8601%>">
		<%=activity.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>
