Hi <span style="font-weight:bold"><%= @user.name %></span>,
<br/><br/>
&nbsp;&nbsp;&nbsp;<span style="font-weight:bold">Here are some of the trending new uploads in Amuzzin:</span>
<br/><br/>
	<table>
	<%@new_songs.each do |s|%> 
	<tr>
		<td>
			<img src="<%=s.art("big")%>" style="height:100px;width:100px"/>
		</td>
		<td>
			<div style="width:350px;height:20px;margin-left:10px;">
				<b style="color:#606060" >Song: </b>
				<a href="http://amuzz.in/s/<%=s.id%>" title="<%=s.title%>">
					<span class="tool-tip"><%= truncate(s.title, :length=> 40)%></span>
				</a>
				<br/>
			</div>
			<div style="width:350px;height:20px;margin-left:10px;">
				<b style="color:#606060" >Album: </b><span class="tool-tip" title="<%= s.album%>"><%= truncate(s.album, :length=> 40)%></span>
			</div>
			<div style="width:350px;height:20px;margin-left:10px;">
				<b style="color:#606060" >Artist: </b><span class="tool-tip" title="<%= s.artist%>"><%=s.artist.blank? ? 'Not Available':truncate(s.artist, :length=> 40)%></span>
			</div>
			<div style="width:350px;height:20px;margin-left:10px;">
				<b style="color:#606060" >Genre: </b><span class="tool-tip" title="<%= s.genre%>"><%=s.genre.blank? ? 'Not Available':truncate(s.genre, :length=> 40)%></span>
			</div>

			<div style="width:350px;height:20px;margin-left:10px;">
				<b style="color:#606060" >by </b><a href="http://amuzz.in/u/<%=s.user.id%>"><span title="<%= s.get_user%>"><%=s.get_user%></span></a>
			</div>

		</td>

	</tr>
	<%end%>
</table>
<br/>
<br/>

&nbsp;&nbsp;	Visit <a href='http://amuzz.in' target='_blank'>amuzz.in</a> for much more !!!
</p>
<br/>
Thanks, <br/>
amuzzin Team