Hi <span style="font-weight:bold"><%= @amuzzin_user.name %></span>,
<br/>
&nbsp;&nbsp;&nbsp;<h1>Your friend <a href="http://amuzz.in/u/<%=@new_user.id%>"><span style="color:red"><%=@new_user.name%></span></a> has joined Amuzzin</h1>
<br/>
	<a href="http://amuzz.in/u/<%=@new_user.id%>"><img src="<%=@new_user.get_profile_pic%>" style="width:200px;height:200px"/>
	</a>
<br/><br/>
<span style="font-weight:bold">Visit http://amuzz.in now to explore the music world along with your buddy.</span>
<br/><br/>

Thanks, <br/>
amuzzin Team