Hi <%= @user.name %>,
<br/>
<p>
&nbsp;&nbsp;&nbsp;Thank you for registering through facebook.

<br/>
<br/>
	From next time, you can alternatively login with amuzz.in username & password for faster access.
<br/>
<br/>

	Please find your amuzzin login details below:
<br/>
<br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<b> username:</b> <%= @user.email %><br/>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;	<b> password:</b> <%= @pass %><br/>

<br/>

Please feel free to change the password anytime by logging into <a href='http://amuzz.in' target='_blank'>amuzz.in</a> and choosing the <b> Change Password </b> setting in Top Right Dropdown of the amuzzin header.<br/><br/>

&nbsp;&nbsp;	Goto <a href='http://amuzz.in' target='_blank'>amuzz.in</a> Enjoy!
</p>

Thanks, <br/>
amuzzin Team