<%page=params[:page]%>
<% if activity.trackable %>
<% feed_song=activity.trackable%>
	<% feed_img_url = feed_song.soundcloud_art %>
	<strong> imported this Audio Stream</strong>

<table class="song-el-table table table-striped" style="margin-top: 10px;">
	<tbody>
	<tr>
		<td><img src="<%= feed_img_url %>" class='medium-image feed-art'/></td>
		<td>
		<div style="height:20px;width:200px;">
				<a href="/s/<%=feed_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(feed_song.title, :length=> 20)%>">

			<span class="feed-tool-tip<%=page%> bold red" title="<%= get_tooltip_for_song(feed_song)%>"><b><%= truncate(feed_song.title, :length=> 25)%></b></span>
		</a>
		</div>
		<div style="height:20px;width:200px;">
			<span class="feed-tool-tip<%=page%> bold" title="<%= feed_song.album%>"><b style="color: #909090"><%= truncate(feed_song.album, :length=> 25)%></b></span>
		</div>
		<div style="height:20px;width:200px;color:#606060">
			by <a href="/u/<%= feed_song.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= feed_song.get_user%>"><span class="feed-tool-tip<%=page%>" title="<%= feed_song.get_user%>"><%= truncate(feed_song.get_user, :length=> 25)%></span></a>
		</div></td>
		<td>
		<div class="btn-group" style="margin-left:50px">
			<button class="btn btn-default btn-xs add-it">
				<i class="icon-plus icon"></i>

			</button>
			<button class="btn btn-default btn-xs play-it">
				<i class="icon-play icon"></i>
			</button>
			<button id="sharepopup_<%= feed_song.id%>"  class="sharepopup btn btn-default btn-xs" data-bpopup="{"contentContainer":".content"}" title="Share this song">
				<i class="icon icon-share-alt"></i>
			</button>
			<% if user_signed_in? %>
			<% unique=Favourite.find(:all,:conditions=>{:uploaded_song_id=>feed_song.id,:user_id=>current_user})%>
			<%if unique.blank?%>
			
				<%= link_to '<i class="icon icon-heart"></i>'.html_safe,{:controller=>"favourite",:action=>"add_favourite",:s_id=>feed_song.id},:remote=>"true",:onclick=>"disable_favourite(this)",:method=>:post,:class=>"favourite-link btn btn-default btn-xs"%>
			
			<%else%>
			<button class="btn btn-default btn-xs disabled">
				<i class="icon icon-heart"></i>
			</button>
			<%end%>
			<span class="btn btn-default btn-xs dropdown-toggle playlist-menu-button playlist-ajax-button" id="playlist_<%=feed_song.id%>" data-toggle="dropdown"> <i class="icon-list icon"></i> </span>
			<div class="dropdown-menu playlist-menu" style="top:30px;font-size:12px;margin-left:-20px;">
			</div>
			<%end%>
		</div></td>

		<td class="song-el"><span data-identifier="<%= generate_random%>" data-src="<%= feed_song.src_path%>" data-name="<%= feed_song.title%>" data-art="<%= feed_song.art("small")%>" data-album="<%= feed_song.album%>" data-id="<%= feed_song.id%>" ></span></td>

	</tr>
	</tbody>
</table>


from this <span class="red"> 
<a href="<%=feed_song.soundcloud_url%>" target="_blank">
Soundcloud stream. 
</a>
<br/>


					<center>
								<object height="81" width="100%" id="myPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
				<% url=CGI::escape(feed_song.soundcloud_url)%>
  
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=<%=url%>&enable_api=true&object_id=myPlayer"></param>
  <param name="allowscriptaccess" value="always"></param>
  <param name="wmode" value="transparent"></param>
  <embed wmode="transparent" allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%=url%>&enable_api=true&object_id=myPlayer" type="application/x-shockwave-flash" width="470px" name="myPlayer"></embed>
</object>
					</center>
<% else %>
which has since been removed
<% end %>
<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=activity.created_at.iso8601%>">
		<%=activity.created_at.to_s(:long)%>
	</abbr>
</p>



