
<%page=params[:page]%>
 <strong>updated</strong> <strong> Lyrics </strong>

<% if activity.trackable %>
<% feed_song=activity.trackable%>
	<% feed_img_url = feed_song.art("medium") %>

<% feed_song=activity.trackable%>

			<div style="width:435px;border:1px;" class="">


				<div id="feed-lyrics<%=feed_song.id%>" style="position:relative;width:435px;background-color:#f6f6f6;text-align:justify;margin:0 auto;">
					<center>
					<%unless feed_song.lyrics.blank?%>

						<p style="width:435px;color:gray;font-size:110%;font-family:Courier New;">
							<%= feed_song.lyrics.to_s.gsub("\n","<br/>").html_safe %>
						</p>
					<%else%>
					No Lyrics found
					<%end%>
				</center>
				</div>
			</div>

<strong>for the Song </strong>
<table class="song-el-table table table-striped" style="margin-top: 10px;">
	<tbody>
	<tr>
		<td><img src="<%= feed_img_url %>" class='medium-image feed-art'/></td>
		<td>
		<div style="height:20px;width:250px;">
				<a href="/s/<%=feed_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(feed_song.title, :length=> 20)%>">

			<span class="feed-tool-tip<%=page%> bold red" title="<%= get_tooltip_for_song(feed_song)%>"><b><%= truncate(feed_song.title, :length=> 25)%></b></span>
		</a>
		</div>
		<div style="height:20px;width:250px;">
			<span class="feed-tool-tip<%=page%> bold" title="<%= feed_song.album%>"><b style="color: #909090"><%= truncate(feed_song.album, :length=> 25)%></b></span>
		</div>
		<div style="height:20px;width:250px;color:#606060">
			by <a href="/u/<%= feed_song.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= feed_song.get_user%>"><span class="feed-tool-tip<%=page%>" title="<%= feed_song.get_user%>"><%= truncate(feed_song.get_user, :length=> 25)%></span></a>
		</div></td>
		<td>
				<%= render :partial => "utility/song_toolbar" , :locals => {:song => feed_song , :style => "margin-left:50px"} %>
</td>

		<td class="song-el"><span data-identifier="<%= generate_random%>" data-src="<%= feed_song.src_path%>" data-name="<%= feed_song.title%>" data-art="<%= feed_song.art("small")%>" data-album="<%= feed_song.album%>" data-id="<%= feed_song.id%>" ></span></td>

	</tr>
	</tbody>
</table>





<% else %>
which has since been removed
<% end %>
<p class="time-ago"><i class="icon icon-time" ></i>
	<abbr class="timeago" title="<%=activity.created_at.iso8601%>">
		<%=activity.created_at.to_s(:long)%>
	</abbr>
</p>


<script type="text/javascript">

	$('#feed-lyrics<%=feed_song.id%>').slimScroll({
		height : '150px',
		railVisible : true
	});

</script>