<h1>Welcome to amuzz.in, <%= @user.name %>!</h1>
 <p>
 You have successfully signed up to amuzzin,
 your username is: <%= @user.email %>.<br/>
 </p>
 <p>
 You need to confirm your email first: <%= link_to 'confirm my account', confirmation_url(@user, :confirmation_token => @user.confirmation_token) %>.
 </p>
 <p>Thanks for joining and have a great day!</p>

  <p>If this was not you, please ignore this email.</p>


<br/>
 Regards,<br/>
 amuzzin Team