<div>
<div id="paypal" class="well well-small offset10pxl offset15pxt" style="width: 535px;">

<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="QZEL7VP78XQ7W">
<table>
<tr><td>
  <span class="amuzzin-font"><span class="red"> Raise funds </span> for amuzzin</span>
  <br/><br/>
 </td></tr><tr><td>
  <input name="os0" type="radio" value="Thank you for Donating">  Thank you for Donating $1.00 USD</input>
  <br/><br/>
  <input name="os0" type="radio" value="We will add more features with your" checked>  We will add more features with your $10.00 USD</input>
  <br/><br/>
  <input name="os0" type="radio" value="We will upgrade our servers with your">  We will upgrade our servers with your $100.00 USD</input>
<br/><br/></td></tr>
</table>
<input type="hidden" name="currency_code" value="USD">
<br/>
<button class="zocial paypal" border="0" name="submit">Donate with Paypal</button>
<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
</form>
</div>
<%= render :partial => "layouts/footer" %>
</div>