<div>
<div id="privacy" class="well well-small offset10pxl offset15pxt" style="width: 535px;">

  <span class="amuzzin-font"><span class="red">Privacy</span> Policy</span>
<br/>
<p>
This Privacy Policy governs the manner in which amuzzin collects, uses, maintains and discloses information collected from users (each, a "User") of the http://amuzz.in website ("Site"). This privacy policy applies to the Site and all products and services offered by amuzzin.
</p>
<strong class="red">Personal identification information</strong>
<p>
We may collect personal identification information from Users in a variety of ways in connection with activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
</p>

<strong class="red">Non-personal identification information</strong>
<p>

We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
</p>

<strong class="red">Web browser cookies</strong>
<p>

Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
</p>

<strong class="red">How we use collected information</strong>
<p>

amuzzin may collect and use Users personal information for the following purposes:

- To improve customer service
  Information you provide helps us respond to your customer service requests and support needs more efficiently.
- To personalize user experience
  We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
</p>

<strong class="red">How we protect your information</strong>
<p>

We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
</p>

<strong class="red">Sharing your personal information</strong>
<p>

We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
</p>

<strong class="red">Third party websites</strong>
<p>

Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.
</p>

<strong class="red">Changes to this privacy policy</strong>
<p>

amuzzin has the discretion to update this privacy policy at any time. When we do, we will send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
</p>

<strong class="red">Your acceptance of these terms</strong>
<p>

By using this Site, you signify your acceptance of this policy and terms of service. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
</p>

<strong class="red">Contacting us</strong>
<p>

If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
<strong class="red">support@amuzz.in</strong>
</p>

<p>
This document was last updated on <strong>January 03, 2014</strong>
</p>


</div>
	<%= render :partial => "layouts/footer" %>
	</div>