<div>
<div id="terms" class="well well-small offset10pxl offset15pxt" style="width: 535px;">

  <span class="amuzzin-font"><span class="red">Terms</span> of Use</span>
<br/><br/>
Upload and share only if you are the creator of what you're uploading, or have permission from all relevant rights holders. Anyone who repeatedly uploads other people’s content risks having their account suspended or terminated. If you need more information about copyright, check out:
<br>
<a href="http://en.wikipedia.org/wiki/Copyright" target="_blank" class="red"> What is copyright? </a>
<br><br>
If you have any copyright complaints please email us at <a href="mailto:legal@amuzz.in" target="_blank" class="red">legal@amuzz.in</a> with the following information:
<ul>
	<li>
<i class="icon-legal"></i> Your name, address, and electronic signature.
</li>
<li>
<i class="icon-legal"></i> The infringing materials and their Internet location
</li>
<li>
<i class="icon-legal"></i> Sufficient information to identify the copyrighted works.
</li>
<li>
<i class="icon-legal"></i> A statement that you have a good faith belief that there is no legal basis for the use of the materials complained of.
</li>
<li>
<i class="icon-legal"></i> A statement of the accuracy of the notice and, under penalty of perjury, that you are authorized to act on the behalf of the owner.
</li>
</ul>
</div>
	<%= render :partial => "layouts/footer" %>
	</div>



