<!--span class="pull-left" style="font-weight: bold;">Login</span-->
<div>
 <button class='btn btn-sm btn-block btn-fb' id="fb_login" onclick="disable_button('fb_login');location.href='/auth/facebook'"> 
 	<i class="icon icon-facebook" style="font-size:16px"></i>
 	<span class="divider-vertical"></span>
 	Login with Facebook 
 </button>
</div>

<div id="amuzzin_login">
<hr/>

 <%= form_for(:user, :url => "#", :html => { :id => "ajax_signin"}) do |f| %>

<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-user black"></i>
  </span>
<%= f.email_field :email , :placeholder => 'user@email.com' , :style => 'width:150px' %>
</div>

<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-asterisk black"></i>
  </span>
<%= f.password_field :password , :placeholder => '*************' , :style => 'width:150px'%>
</div>

						  <!--span><%= f.check_box :remember_me -%><span style="position:relative;bottom:-5px;"> Remember Me</span></span><br-->

 <button type="submit" class='btn btn-sm btn-block btn-danger' style='font-size: 12px;' >
 	 Login with amuzzin  
</button>

<a href="#" class="red" onclick="$('#forgot_password').toggle();$('#amuzzin_login').toggle()"><u> Forgot Password ?</u></a>

<% end %>

</div>
<div id="forgot_password" style="display:none">
  <hr/>


  <%= form_tag("/user/generate_new_password_email", :id => "ajax_forgot_password", :remote => true) do %>
    <div class="input-prepend">
      <span class="add-on">
        <i class="icon icon-user black"></i>
      </span>
    <input type="email" name="email" placeholder='user@email.com' style='width:150px' />
    </div>

     <button type="submit" id="reset_password_button" class='btn btn-sm btn-block btn-danger' style='font-size: 12px;' >
       Reset my password 
    </button>
  <a href="#" class="red" onclick="$('#forgot_password').toggle();$('#amuzzin_login').toggle()"><u> I got my password! </u></a>
  <% end %>

</div>

<script>
$(document).ready(function(){

  $('#ajax_forgot_password').bind("ajax:beforeSend", function(evt, xhr, settings){
      $('#reset_password_button').html('Requesting ...');
      $('#reset_password_button').attr('disabled',true);
    });

  $('#ajax_forgot_password').bind("ajax:complete", function(evt, xhr, settings){
      $('#reset_password_button').html('Reset my password ');
      $('#reset_password_button').attr('disabled',false);
    });
});

</script>