
/  
  %span(class="pull-left label" style='font-weight:bold;') Login with:
  %table.authentication_services(class="pull-left" style='position:relative;top:15px;margin-left:30px;')
    %tr
      %td
        = link_to '/auth/facebook', class: 'auth_provider' do
          %span(class='zocial facebook moz-font chrome-font icon' alt='Facebook' style='')
      %td
        = link_to '/auth/google_oauth2', class: 'auth_provider' do
          %span(class='zocial googleplus moz-font chrome-font icon' alt='Google' style='')

      %td
        = link_to '/auth/github', class: 'auth_provider' do
          %span(class='zocial github moz-font chrome-font icon' alt='Google' style='height:70px')
    %tr
      %td
        %span(style='font-weight:bold;margin-left:-8px')Facebook
      %td
        %span(style='font-weight:bold')Google+
      %td
        %span(style='font-weight:bold')GitHub
  .clear

