
<div>
 <button class='btn btn-sm btn-block btn-fb' id='fb_signup' onclick="disable_button('fb_signup');location.href='/auth/facebook';">
 <i class="icon icon-facebook" style="font-size:16px"></i>
  <span class="divider-vertical"></span> 
 	Signup with Facebook 
 </button>
<hr/>

<%= form_for(:user, :url => "#", :html => {:id => "ajax_signup"}) do |f| %>
 
<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-user black"></i>
  </span>
    <%= f.text_field :name ,:placeholder => "First Name Last Name"%>
   </div>

    <br>

<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-envelope black"></i>
  </span>
    <%= f.email_field :email ,:placeholder => "Personal Email"%>
</div><br/>

<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-asterisk black"></i>
  </span>
    <%= f.password_field :password ,:placeholder => "Choose Password"%>
   </div><br/>


<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-asterisk black"></i>
  </span>
    <%= f.password_field :password_confirmation , :placeholder => "Confirm Password"%>
   </div><br/>

  <span><%= f.submit "Enter amuzzin" , :class => "btn btn-block btn-sm btn-danger" , :id => "native_signup"%></span>
<% end %>

