- if @authentications
  - unless @authentications.empty?
    %strong You can sign into this account using:
    .authentications
      - @authentications.each do |authentication|
 
        .authentication
          = image_tag "#{authentication.provider}_32.png", size: '32x32'
          .provider
            = authentication.provider.titleize
          .uid
            = authentication.uid
 
          = link_to 'X', authentication, confirm: 'Are you sure you want to remove this authentication option?', method: 'delete', class: 'remove'
 
    .clear
  
    %br
    %strong Add another service to sign in with:
- else
  %strong Sign in through one of these services:
 
= render partial: 'services'
= render :partial => "login_form"
