<div class="well well-small offset15pxt offset10pxl" id="cut-song" style="width: 535px;">
<%if @authorized %>

<div>
	<center>
		<div class="well well-small">
	<h4><%=cut_song.get_comment[0..200]%></h4>

		<%=cut_song.humanize cut_song.start_duration%> sec to	<%=cut_song.humanize cut_song.end_duration%> sec
					<%player_id=generate_random%>
					<br/>
					<div class="player-mini" id="player<%=player_id%>">
					</div>
	</center>
	<div class="span3" style="margin-left: 0px;">
	<center>
		<br/>
			  </span>  	
			<div class="well well-small">	<img src="<%=cut_song.uploaded_song.art("big")%>" id="cut-song-art"/></div> <br/>

				<table class="table">
				<tr><th> Song Info </th> <th></th> </tr>
					<tr> <td>
					<span class="label label-important">Song Title: </span></td><td>  
					<%=cut_song.uploaded_song.title %>
					</td></tr>

          	<tr> <td>
					<span class="label label-important">Author Comments: </span></td><td>  
					<%=cut_song.get_comment %>
					</td></tr>


				<tr><td>
						<span class="label label-important">Artist: </span></td><td><%=cut_song.uploaded_song.artist%><br/><br/></td></tr>
				<tr>	<td> <span class="label label-important">Album: </span></td><td><%=cut_song.uploaded_song.album%></td></tr>
		</table>

		 </div>

	<div class="row-fluid">
<div class="container-fluid">


<div class="span3" style="position:relative;margin-left:35px;margin-top:20px">
<center>
	<table class="table">
		<tr><th> </th><th> Author Info <h6> <%=@username%> </h6></th> </tr>
	<tr><td>
				<span class="label label-important">Author: </span></td><td> 
        <% if cut_song.user.present? %>
          <%=image_tag cut_song.user.get_profile_pic ,:id => 'cut-profile-pic'%>
        <% else %>
          <img src='/anonym.png' id="cut-profile-pic"/>
        <% end %>
        </td></tr>


	<tr><td>
				<span class="label label-important">Shared To: </span></td>
			  <% if cut_song.shared.present? %>
				  <% if cut_song.shared.eql? 'public'%>
				    <td> <h6> Everyone </h6></td>
				  <% else %>
				    <td> <%=image_tag @shared_user_pic %></td>
				  <%end%>
        <% else %>
         <td>  <h6> Not Shared </h6> </td>
        <% end %>
				</tr>


	</table>
</center><br/>
</div>

 <div id="disqus_thread" style="position:relative;width:538px;margin-left:-20px;"></div>
    <script type="text/javascript">
    //solution for coexistence of two disqus threads
    function disqus_config()
    {
    	this.callbacks.onReady = [function(){$('#content #disqus_thread').attr('id','temp_disqus');load_content('current',null);}];
    }
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'musiccutter'; // required: replace example with your forum shortname
        var disqus_identifier = 'http://www.amuzz.in/ct/<%=cut_song.url%>';
        var disqus_url = 'http://www.amuzz.in/ct/<%=cut_song.url%>';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<center>


</div>
</div>

</div>
</div>
<%else%>
<center>

<div class="well well-small">
  <h4>Private page requested!</h4>
<br/>
	Author of this page wants this page to be private . <br/>
	Please forgive us. <br/>
	But we can help you getting an access to this page. <br/><br/>
			<textarea class="input-xlarge" id="comments" rows="3" placeholder="Write few lines requesting this share "></textarea>
		 <br/>

					<button id="cut" class="btn btn-danger" >
					<i class="icon-user icon"></i>
					<span> Request Author</span>
					</button>
	</div>
	</center>

<%end%>
</div>
<span id="cut_song_detail<%=cut_song.id%>" data-identifier="<%= generate_random%>" data-src="<%=cut_song.path.gsub('public','')%>" data-name="<%= cut_song.uploaded_song.title%>" data-art="<%=cut_song.uploaded_song.art("small")%>" data-album="<%= cut_song.uploaded_song.album%>" data-id="<%= cut_song.id%>"></span>
<script>
	load_player(<%=player_id%>);
	$('.special-ellipsis').dotdotdot({wrap: 'letter'});
	addit(<%=player_id%>,document.getElementById('cut_song_detail<%=cut_song.id%>'));
</script>
