<div>
<div id="home" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
<% unless current_user %>
		<span class="amuzzin-font"><span class="red">What's</span> amuzzin</span>
	<br />
		<br />

<iframe id="vp1Qsysw" title="Video Player" width="540" height="303" frameborder="0" src="http://embed.animoto.com/play.html?w=swf/production/vp1&e=1389644944&f=QsyswFe1cSItiBeK0QWDYg&d=0&m=b&r=360p&volume=100&start_res=null&i=m&asset_domain=s3-p.animoto.com&animoto_domain=animoto.com&options=" allowfullscreen></iframe>

	<br />
	<br />
<%end%>
	<span class="amuzzin-font"><span class="red">What's</span> Popular</span>
	<br />
	<br />
	<%unless top20.blank?%>
	<div id="popular_carousel" class="carousel slide" style="width: 475px;height:270px;margin-left:30px;">
		<ol class="carousel-indicators">
			<%for i in 0..(top20.length.to_f/3).ceil-1%>
			<%if i==0%>
			<li data-target="#popular_carousel" data-slide-to="<%= i%>" class="active"></li>
			<%else%>
			<li data-target="#popular_carousel" data-slide-to="<%= i%>"></li>
			<%end%>
			<%end%>
		</ol>
		<div class="carousel-inner" style="position: absolute;top:20px;">
			<% index=0%>
			<% i=0%>
			<%while index < top20.length%>
			<% index_end = i*3 + 2%>
			<%if index==0%>
			<div class="item active">
				<%else%>
				<div class="item">
					<%end%>
					<table id="popular-table" style="margin-left: 10px;">
						<thead>

							<tr>
								<%while index <= index_end && index < top20.length%>
								<% song = top20[index]['song']%>
								<td class="popular-td">
								<div style="height:150px;width:140px;">
									<img src="<%= song.art("big")%>" class="popular-art big-image"/>
								</div>
								<div style="width:140px;height:20px;margin-top: 10px;">
										<a href="/s/<%=song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(song.title, :length=> 20)%>">
										<span title="<%=get_tooltip_for_song(song)%>" class="tool-tip">
 											<%= truncate(song.title, :length=> 20)%></span>
										</a>
								</div>
								<div style="width:140px;height:20px;color:#606060">
										<span title="<%= top20[index]['song_count']%>" class="tool-tip red bold"><b><%= top20[index]['song_count']%></b></span> plays
							/
										<span title="<%= top20[index]['queue_count']%>" class="tool-tip red bold"><b><%= top20[index]['queue_count']%></b></span> queues
								</div>

								<div style="width:140px;height:30px;">
									<%= render :partial => "utility/song_toolbar" , :locals => {:song => song , :style => "left:28px;top:-75px;-webkit-box-shadow: 0px 0px 5px 0px #999999;-moz-box-shadow: 0px 0px 5px 0px #999999;box-shadow: 0px 0px 5px 0px #999999;", :dropup => "true"} %>
								</div>


								</td>
								<!-- <td> <%= get_time(song.created_at)%> </td> -->
								<% index = index + 1%>
								<%end%>
							</tr>
						</thead>
					</table>
				</div>
				<% i=i+1%>
				<%end%>
			</div>
			<a class="carousel-control left no-hover" href="#popular_carousel" data-slide="prev" style="left:-37px;">&lsaquo;</a>
			<a class="carousel-control right no-hover" href="#popular_carousel" data-slide="next" style="right:-20px;">&rsaquo;</a>
		</div>
		<%end%>
		<span class="amuzzin-font"><span class="red">Recommended</span> for you</span>
		<br />
		<br />
		<%unless recommended.blank?%>

		<ul class="recommended-list">
			<%recommended.each do |r|%>
			<% s = UploadedSong.find_by_id(r)%>
			<%unless s.blank?%>
			<li class="play-all" style="margin-right:10px;border-bottom:solid 1px #DDD" data-identifier="<%= generate_random%>" data-src="<%= s.src_path%>" data-name="<%= s.title%>" data-art="<%= s.art("small")%>" data-album="<%= s.album%>" data-id="<%= s.id%>">
				<table class="recommended-table">
					<tr>
						<td> <img src="<%=s.art("medium")%>" class='medium-image recommended-image'/> </td>
						<td>
						<div style="height: 20px; width:240px;">
							<a href="/s/<%=s.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(s.title, :length=> 20)%>">
							<span class="tool-tip" title="<%= get_tooltip_for_song(s)%>"><%= truncate(s.title,:length=>32)%></span>
							</a>
						</div>
						<div style="height: 20px; width:240px;">
							<span class="tool-tip" style="color:#000" title="<%= s.album%>"><%= truncate(s.album,:length=>32)%></span>
						</div></td>
						<td>
						<%= render :partial => "utility/song_toolbar" , :locals => {:song => s , :style => ""} %></td>
					</tr>
				</table>
			</li>

			<%end%>
			<%end%>
		</ul>
		<%else%>
		No recommendations
		<%end%>
	</div>

	<%if current_user%>
	<script>
		$('#popular_carousel').carousel();

	</script>
	<%end%>
	<script>
	</script>
<%= render :partial => "layouts/footer" %>
</div>
