

	<%=popup_title('Favourites by Friends')%> 
<br/>
<small>( for the song <a href="/s/<%=favs.first.uploaded_song_id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(favs.first.uploaded_song.title, :length=> 20)%>" title="<%=favs.first.uploaded_song.title%>">
			<b> <i class="icon-music"></i> <%=truncate(favs.first.uploaded_song.title,:length => 30)%> </a>)
			</small>
<br/>
<br/>
							<div id="fav_friends_scroll">

<table class="table table-condensed">
		<tbody>
<% favs.each do |f| %>
			<tr>
				<td>
				<div class="pull-left">
				<%= image_tag f.user.get_profile_pic,:class=>'queue-image small-image' %>
			</div>
		</td>
		<td>
						<a href="/u/<%=f.user.id%>" class="ajax-link tool-tip" data-title="Profile-<%=f.user.name%>" title="<%=get_tooltip_details(f.user)%>"><span style="font-weight: bold">

					
						 &nbsp;&nbsp;&nbsp;<%=f.user.name%>
							</a>
						</td>
						<td>
						<b>	 <i class="icon-heart" title="favourited"></i>  this song  </b>

	<p class="time-ago"> &nbsp;&nbsp;&nbsp; <i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=f.created_at.iso8601%>">
		<%=f.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>
			</td>
	</tr>
<%end%>
</div>
</tbody>
</table>
<script>
	$(document).ready(function() {
  		$("abbr.timeago").timeago();
	});
</script>
