<div>
<div id="my_favourites" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">My</span> Favourites</span>
	<br />
	<br />
	<%if current_user%>
	<%unless favourites.blank?%>
	<% friend_ids = current_user.get_friends.collect{|e| e.id}.join(",") %>
	<%= will_paginate favourites , :renderer => BootstrapPagination::Rails %>

	<button class="btn btn-default btn-sm btn-danger add-page" style="margin-left:20px;">
		<i class="icon-plus icon"></i>
		<span>Add all</span>
	</button>
	<button class="btn btn-default btn-sm play-page" style="margin-left:20px;">
		<i class="icon-play icon"></i>
		<span style="color: #000000">Play all</span>
	</button>
	<br />
	<br />
	<table id="favourite_table" class="table table-striped">
		<tbody>
			<% favourites.each_with_index do |f|%>
			<tr>

				<td><img src="<%= f.art("medium")%>" class='medium-image fav-art'/></td>
				<td>
				<div style="height:20px;width:200px;">
					<a href="/s/<%=f.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(f.title, :length=> 20)%>">
					<span title="<%= f.title%>" class="tool-tip bold red"><b><%= truncate(f.title, :length=> 25)%></b></span>
					</a>
				</div>
				<div style="height:20px;width:200px;">
					<span title="<%= f.album%>" class="tool-tip bold"><b style="color: #909090"><%= truncate(f.album, :length=> 25)%></b></span>
				</div>
				<div style="height:20px;width:200px;color:#606060">
					by <a href="/u/<%= f.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= f.get_user%>"><span class="tool-tip" title="<%= f.get_user%>"><%= truncate(f.get_user, :length=> 25)%></span></a>
				</div></td>
				<td>
						<%= render :partial => "utility/song_toolbar" , :locals => {:song => f , :style => ""} %>
				<br/>
				<% fcount = Favourite.count(:conditions => "uploaded_song_id = #{f.id} and user_id in (#{friend_ids})") rescue 0 %>

				<p class="muted">
					<% if fcount > 0 %>
					<a href="#" data-height="350" data-width="250" data-url="/favourite/friends_list/<%= f.id%>" class="bpopup" data-bpopup="{"contentContainer":".content"}" title="">
					<small>
					<span class="red">
						<%=fcount%>
					</span>
						 of your friends also <i class="icon-heart" title="favourited"></i> this song.
					</small>
				</a>
				<%end%>
				</p>
			</td>
				<td class="song-el"><span data-identifier="<%= generate_random%>" data-src="<%= f.src_path%>" data-name="<%= f.title%>" data-art="<%= f.art("small")%>" data-album="<%= f.album%>" data-id="<%= f.id%>" ></span></td>
				<td>
				<div class="dropdown confirm-dropdown">
					<button class="close dropdown-toggle" data-toggle="dropdown">
						×
					</button>
					<%=render :partial=>"layouts/confirm_dropdown",:locals=>{:confirm_message => "Are you sure you want to remove this song from your favourites?",:action=>"remove_favourite(#{f.id},this.parentNode.parentNode.parentNode)"}%>
				</div></td>
			</tr>

			<%end%>
		</tbody>
	</table>
	<script>
		$('.playlist-menu div').slimScroll({
			height : '150px',
			alwaysVisible : true,
			railVisible : true
		});
	</script>

	<%else%>
	<p>
		You don't have any favourites
	</p>

	<%end%>
	<%else%>
	<p>
		You can find your favourites here
	</p>
	<p>
		Please sign in at the top corner to use this feature
	</p>
	<%end%>
	</div>
	<%= render :partial => "layouts/footer" %>
</div>
