$('#content').html("<%= escape_javascript(render :partial => "/favourite/my_favourite",:locals=>{:favourites=>@favourites}) %>");
$("#my_favourites .pagination a").attr('data-title','Amuzzin-My Playlists');
$("#my_favourites .pagination a").attr('class','ajax-link');