<% if user_signed_in? %>
<%unless @song_remove_id.blank?%>
if(player_objects[0].position>-1)
{
if(player_objects[0].current_audio.getAttribute('data-id')=='<%=@song_remove_id%>')
{
	enable_fav_button();	
}
}
<%end%>
<%else%>
if(player_objects[0].position>-1)
{
	enable_fav_button();
}
<%end%>
<%=render 'layouts/show_flash' %>
if(document.getElementById('my_favourites')!=null)
refresh_current_page();

