<div>
<div id="search_results" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Search</span> Results</span>
	<br />
	<br />
	<ul class="nav nav-tabs" id="search-tab">
		<li class="active">
			<a href="#search-result-songs" id="search-songs-tab" data-toggle="tab">Songs <span class="red"><%= songs.size%><%= "+" if songs.size == 10%></span></a>
		</li>
		<li>
			<a href="#search-result-albums" id="search-albums-tab" data-toggle="tab">Albums <span class="red"><%= albums.size%><%= "+" if albums.size == 10%></span></a>
		</li>
		<li>
			<a href="#search-result-lyrics" id="search-lyrics-tab" data-toggle="tab">Lyrics <span class="red"><%= lyrics.size%><%= "+" if lyrics.size == 10%></span></a>
		</li>
		<li>
			<a href="#search-result-genre" id="search-genre-tab" data-toggle="tab">Genre <span class="red"><%= genre.size%><%= "+" if genre.size == 10%></span></a>
		</li>
		<li>
			<a href="#search-result-playlists" id="search-playlists-tab" data-toggle="tab">Public Playlists <span class="red"><%= playlists.size%><%= "+" if playlists.size == 10%></span></a>
		</li>
		<li>
			<a href="#search-result-users" id="search-users-tab" data-toggle="tab">Users <span class="red"><%= users.size%><%= "+" if users.size == 10%></span></a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="search-result-songs">
			<p>
				Displaying songs with title <span style="color:#c11b17">"<%= query%>"</span>
			</p>
			<%=render :partial => "/utility/song_list",:locals => {:songs => songs,:param_name => 'search_song_page'}%>
		</div>
		<div class="tab-pane" id="search-result-albums">
			<p>
				Displaying songs with album name <span style="color:#c11b17">"<%= query%>"</span>
			</p>
			<%=render :partial => "/utility/song_list",:locals => {:songs => albums,:param_name => 'search_album_page'}%>
		</div>
		<div class="tab-pane" id="search-result-lyrics">
			<p>
				Displaying songs with lyrics containing <span style="color:#c11b17">"<%= query%>"</span>
			</p>
			<%=render :partial => "/utility/song_list",:locals => {:songs => lyrics,:param_name => 'search_lyrics_page'}%>
		</div>
		<div class="tab-pane" id="search-result-genre">
			<p>
				Displaying songs with genre <span style="color:#c11b17">"<%= query%>"</span>
			</p>
			<%=render :partial => "/utility/song_list",:locals => {:songs => genre,:param_name => 'search_genre_page'}%>
		</div>
		<div class="tab-pane" id="search-result-playlists">
			<p>
				Displaying public playlists with name <span style="color:#c11b17">"<%= query%>"</span>
			</p>
			<%unless playlists.blank?%>
			<%= will_paginate playlists ,:param_name => 'search_playlists_page', :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
			<table class="playlist-table">
				<tbody>
					<% playlists.each_with_index do |p|%>
					<tr>
						<td>
						<div class="pull-left offset10pxl">
							<img src="<%= p.art("small")%>" class="small-image playlist-art" />
						</div>
						<div style="width: 150px;height:50px;margin-left: 20px" class="pull-left">
							<div style="width: 150px;height:35px" class="pull-left">
								<a href="/playlists/public_playlist/<%=p.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(p.name, :length=> 20)%>" title="<%=p.name%>">
								<span class="tool-tip red bold" title="<%= p.name%>"><%= truncate(p.name, :length=> 22)%></span></a>
							</div>
							<div style="width: 150px;height:35px" class="pull-left">
								<span><b style="color:#606060">by </b> <a href="/u/<%= p.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= p.user.name%>"><span class="tool-tip" title="<%= p.user.name%>"><%= truncate(p.user.name, :length=> 25)%></span></a></span>
							</div>
						</div>
						<div style="float: right;">
							<div class="btn-group">
								<button class="btn btn-default btn-xs view_playlist" onclick="showSongs(this,'playlist');">
									<i class="icon-chevron-up icon"></i>

								</button>
								<button class="btn btn-default btn-xs play-playlist" data-loaded="false">
									<i class="icon-play icon"></i>

								</button>
								<button class="btn btn-default btn-xs add-playlist" data-loaded="false">
									<i class="icon-plus icon"></i>

								</button>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="playlist-songs" id="playlist_songs_<%=p.id%>">

						</div></td>

					</tr>
					<%end%>
				</tbody>
			</table>
			<%else%>
			<p>
				No results found
			</p>

			<%end%>
		</div>
		<div class="tab-pane" id="search-result-users">
			<p>
				Displaying users with name <span style="color:#c11b17">"<%= query%>"</span>
			</p>
			<%unless users.blank?%>
			<%= will_paginate users ,:param_name => 'search_users_page', :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
			<table id="search_table" class="table table-striped">
				<tbody>
					<% users.each_with_index do |f|%>
					<tr>
						<td><%= image_tag f.get_profile_pic,:class=>'small-image search-art'%></td>
						<td>
						<div style="height:20px;width:200px;margin-left:-20px;">
							<span class="tool-tip red bold" title="<%= f.name%>"><%= truncate(f.name, :length=> 25)%></span>
						</div></td>
						<td><a href="/u/<%= f.id%>" class="ajax-link"  data-title="Amuzzin-<%= f.name%>">
						<button class="btn btn-default btn-xs btn-danger">
							<i class="icon icon-user"></i><span style="color:#FFFFFF"> View Profile</span>
						</button></a></td>
					</tr>

					<%end%>
				</tbody>
			</table>
			<%else%>
			No results found
			<%end%>
		</div>

	</div>
	</div>
	<%= render :partial => "layouts/footer" %>
	</div>

	<script>
		$('.playlist-songs-inner').slimScroll({
			height : '200px',
			alwaysVisible : true,
			railVisible : true
		});
	</script>
