<%unless songs.blank?%>
      <%if defined?(param_name).present?%>
      <%= will_paginate songs ,:param_name => param_name, :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
      <%else%>
      <%= will_paginate songs, :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
      <%end%>

      <button class="btn btn-default btn-sm btn-danger add-page" style="margin-left:20px;">
        <i class="icon-plus icon"></i>
        <span>Add all</span>
      </button>
      <button class="btn btn-default btn-sm play-page" style="margin-left:20px;">
        <i class="icon-play icon"></i>
        <span style="color: #000000">Play all</span>
      </button>
      <br />
      <br />
      <table id="search_table" class="table table-striped">
        <tbody>
          <% songs.each_with_index do |f|%>
          <tr>
            <td><img src="<%= f.art("medium")%>" class='medium-image search-art'/></td>
            <td>
            <div style="height:20px;width:200px;">
              <a href="/s/<%=f.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(f.title, :length=> 20)%>" title="<%=f.title%>">
              <span class="tool-tip red bold" title="<%= f.title%>"><b><%= truncate(f.title, :length=> 25)%></b></span></a>
            </div>
            <div style="height:20px;width:200px;">
              <span class="tool-tip" title="<%= f.album%>"><b style="color: #909090"><%= truncate(f.album, :length=> 25)%></b></span>
            </div>
            <div style="height:20px;width:200px;color:#606060">
              by <a href="/u/<%= f.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= f.user.name%>"><span class="tool-tip" title="<%= f.get_user%>"><%= truncate(f.get_user, :length=> 25)%></span></a>
            </div></td>
            <td>
                <%= render :partial => "utility/song_toolbar" , :locals => {:song => f , :style => ""} %>

            </td>

            <td class="song-el"><span data-identifier="<%= generate_random%>" data-src="<%= f.src_path%>" data-name="<%= f.title%>" data-art="<%= f.art("small")%>" data-album="<%= f.album%>" data-id="<%= f.id%>" ></span></td>

          </tr>

          <%end%>
        </tbody>
      </table>
      <%else%>
      <p>
        No results found
      </p>
      <%end%>