
          <% identifier=generate_random%>
          <div class="btn-group <%='dropup' if defined?dropup%>" style="<%=style%>">
            <button class="btn btn-default btn-xs" onclick="addit(1,this);return false;"  data-identifier="<%= identifier%>" data-src="<%= song.src_path%>" data-name="<%= song.title%>" data-art="<%= song.art("small")%>" data-album="<%= song.album%>" data-id="<%= song.id%>" title=" [+] Add this song to curent queue. This will append this song to end of your Current Queue. If you wish to hear this song but do not want to interrupt with currently hearing song,  then this would be the best option." >
              <i class="icon icon-plus"></i>
            </button>

            <button class="btn btn-default btn-xs" onclick="playit(1,this);return false;" data-identifier="<%= identifier%>" data-src="<%= song.src_path%>" data-name="<%= song.title%>" data-art="<%= song.art("small")%>" data-album="<%= song.album%>" data-id="<%= song.id%>" title=" [>] Play this song Now. This will add this song to top of the Current Queue and will start playing this song immediately." >
              <i class="icon icon-play"></i>
            </button>
            <button class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
              <i style="font-size:14px" class="icon icon-ellipsis-horizontal"></i>
            </button>
            <ul class="dropdown-menu more-song-options" style="left:-45px;">
              <li class="bpopup" data-height="390" data-width="400" data-url="/share_service/share_popup/<%= song.id%>" data-bpopup="{"contentContainer":".content"}" title="Share this song">
                <a href="#"><i class="icon icon-share-alt"></i> Share this song</a>
              </li>
              <%if current_user%>
                <% unique=Favourite.find(:all,:conditions=>{:uploaded_song_id=>song.id,:user_id=>current_user})%>
                <%if unique.blank?%>
                <li class="divider"></li>
                <li><%= link_to '<i class="icon icon-heart"></i> Favourite this song'.html_safe,{:controller=>"favourite",:action=>"add_favourite",:s_id=>song.id},:remote=>"true",:onclick=>"$(this.parentNode).remove()",:method=>:post,:class=>"favourite-link",:id=>"my-song-fav"%>
                </li>

                <%end%>
                <li class="divider"></li>
                <li>
                 <%= link_to '<i class="icon icon-user"></i> Set as profile song'.html_safe,{:controller=>"user",:action=>"set_profile_song",:song_id=>song.id},:remote=>"true",:onclick=>"$(this.parentNode).remove()",:method=>:post, :title => " Set this song as your Profile Song. This will be pinned to your profile and anyone who views your profile will know this as your beloved song. You can change this anytime depending on your current mood by clicking this icon on other songs which you might like." %>
               </li>
               <li class="divider"></li>

                <li class="bpopup" data-height="270" data-width="290" data-url="/playlists/available_playlists/<%=song.id%>" title="[=] Add this to your existing Playlist. If you already have created a Playlist you can directly add this song to any number of playlist by just clicking this button and choosing the appropriate Playlist. If you don't have a playlist yet then you can create one from My Playlists menu.">
                  <a href="#"><i class="icon icon-plus"></i> Add to playlist</a>
                </li>
              <%end%>
            </ul>
          </div>