			<a href="#" onclick="hide_and_show('current_song')"> <i class="icon icon-caret-left"></i> Back to Current Song Info </a>
			<br/>
			<br/>

						<span  class="amuzzin-font"><span class="red">Mix</span> Songs</span> 

						<span class="pull-right">
						<img src="http://developers.soundcloud.com/assets/powered_by_black.png"/>
					</span>
			<br/>
			<br/>

			<% suggested_tracks = suggested_tracks[0] %>
    		<% suggested_tracks.each do |e| %>

   <%=  "<a href='#{e.permalink_url}' target='_blank' >#{e.title[0..25]}</a> by <a href='#{e.user.permalink_url}' target='_blank'> #{e.user.username[0..10]}</a> ".html_safe %>

   <button title="Clicking this will add this song to your amuzzin's *My Song* section. This may take few minutes to reflect. Please note that we only allow **Creative Common** licensed songs to be added to our database. You may see Disabled button if the song is not licensed under **Creative Common** license." class="btn btn-default btn-sm btn-danger pull-right" style="margin-top:-5px" onclick='invoke_controller_action("","GET","/upload_song/add_soundcloud_song?id=<%=e.id%>","")' <%= "disabled" unless e.downloadable%> >
				<i class="icon icon-plus-sign"></i> Add </button>

			<object height="81" width="100%" id="myPlayer" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
				<% url=CGI::escape(e.permalink_url)%>
  
  <param name="movie" value="http://player.soundcloud.com/player.swf?url=<%=url%>&enable_api=true&object_id=myPlayer&wmode=opaque"></param>
  <param name="allowscriptaccess" value="always"></param>
  <param name="wmode" value="transparent"></param>
  <embed wmode="transparent" allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%=url%>&enable_api=true&object_id=myPlayer&wmode=opaque" type="application/x-shockwave-flash" width="100%" name="myPlayer"></embed>
</object>
			<br/>

<%end%>
