<% if tweets.blank? %>
 <script>$('#twitter_trend').show();</script>
<%else%>
<%	require 'rails_autolink' %>
					<a href="#" onclick="hide_and_show('current_song')"> <i class="icon icon-caret-left"></i> Back to Current Song Info </a>
			<br/>
			<br/>

						<span  class="amuzzin-font"><span class="red">Tweets</span> about this Song </span> 
			<br/>
<div class="bubble-list">

    <% tweets.each do |e| %>
    		<div class="bubble clearfix">
			  <a href='<%="https://twitter.com/#{e.user.screen_name}"%>'>
			  	<img class='medium-image pull-right' src='<%=e.user.profile_image_url%>' title='<%=e.user.screen_name%>'/>
			  </a>
			<div class="bubble-content">
			<div class="point"></div>
			<p>
			<a class='red' href='<%="https://twitter.com/#{e.user.screen_name}"%>'>@<%=e.user.screen_name%>:</a>
			    		<%= auto_link(e.text, :html => { :target => '_blank' }) do |text|
  				truncate(text, :length => 30)
			end%>

			</p>
		</div>
		</div>
	<%end%>
 </div>

 <script>$('#twitter_about_this').show();console.log('yes tweets');
</script>
<%end%>
