<%if @current_song%>

    
    <div id="related" class="offset10pxl" style="position:fixed;top: 60px;width:302px;display:none">
    			<a href="#" onclick="hide_and_show('current_song')"> <i class="icon icon-caret-left"></i> <strong>Back to Current Song Info</strong> </a>
			<br><br>
			

						<span  class="amuzzin-font"><span class="red">Related</span> Songs</span> 
						<br>
						<br>
							<div id="related-songs-container">
								<center><img src='/images/loading.gif' style="margin-top:60px;" /></center>
							</div>
						
			<br/>
			<br/>
					<br/>
			<br/>
    </div>
<%end%>
<div id="current_song" style="position:fixed;top: 60px">


	<div  class="offset10pxl" style="width:302px;border:1px #DDD solid;border-radius:3px 3px 0px 0px;behavior: url(/PIE/PIE.htc);max-height: 420px;">

		<div class="offset10pxl" style="margin-top: 10px;">
			<span  class="amuzzin-font"><span class="red">Now</span> Playing</span> 
			&nbsp;&nbsp;&nbsp;
			<%if @current_song%>
			<div class="btn-group">
		<button title="Related Songs" class="btn btn-default btn-xs" style="margin-top:-5px" onclick="hide_and_show('related','<%=@song_query%>','<%=@owner%>',<%=@current_song.id%>)">
		      	<i class="icon icon-link"></i> Related Songs
		</button>
		</div>
		<%end%>
			<br>
			<br>

			<%if @current_song.blank?%>
			<p>
				No song is currently being played
			</p>
			<%else%>
			
			<div id="info" style="height:100px;">
				<div style="position:relative;float:left;">
					<img src="<%=@current_song.art("big")%>" class ="album-art-main big-image" />
				</div>
				<div style="position:relative;float:right;margin-right:10px;margin-top:-10px">
					<div style="width:159px;height:20px;margin-left:10px;">
						<b style="color:#606060" >Song: </b>
						<a href="/s/<%=@current_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(@current_song.title, :length => 18)%>" title="<%=@current_song.title%>">
							<span class="tool-tip"><%= truncate(@current_song.title, :length=> 18)%></span>
						</a>
						<br/>
					</div>
					<%if current_user%>
					<div style="width:159px;height:20px;margin-left:10px;">
				 		<%= rating_for @current_song, "music"%>
					</div>
					<%end%>
					<div style="width:159px;height:20px;margin-left:10px;">
						<b style="color:#606060" >Album: </b><span class="tool-tip" title="<%= @current_song.album%>"><%= truncate(@current_song.album, :length=> 18)%></span>
					</div>
					<div style="width:159px;height:20px;margin-left:10px;">
						<b style="color:#606060" >Artist: </b><span class="tool-tip" title="<%= @current_song.artist%>"><%=@current_song.artist.blank? ? 'Not Available':truncate(@current_song.artist, :length=> 18)%></span>
					</div>
					<div style="width:159px;height:20px;margin-left:10px;">
						<b style="color:#606060" >Genre: </b><span class="tool-tip" title="<%= @current_song.genre%>"><%=@current_song.genre.blank? ? 'Not Available':truncate(@current_song.genre, :length=> 18)%></span>
					</div>

					<div style="width:159px;height:20px;margin-left:10px;">
						<b style="color:#606060" >by </b><a href="/u/<%=@current_song.user.id%>" class="ajax-link"  data-title="Amuzzin-<%=@current_song.user.name%>"><span class="tool-tip" title="<%= @current_song.get_user%>"><%= @current_song.get_user%></span></a>
					</div>

				</div>

			</div>
			<br clear="both">
			<div id="info1">

				<div id="lyrics" style="position:relative;width:160px;float:left;">
					<b style="color:#606060">Lyrics: <%=@current_song.show_language%></b>
					<br>
					<%unless @current_song.lyrics.blank?%>
					<div id="lyrics-div" style="width: 130px;">
						<p>
							<%= @current_song.lyrics.to_s.html_safe %>
							 <%= rating_for @current_song, "lyrics" if current_user %>

						</p>
					</div>
						<center>
						</center>

					<%else%>
					No Lyrics found
					<%end%>
				</div>


					<div id="video-thumbnail" style="position: relative;float:right;width:120px;margin-right:10px;">
																<b style="color:#606060">Video:</b>

					<%unless @current_song.video_url.blank?%>
					<img src="<%= @current_song.video_img%>"  height="100" width="120" />
					<%else%>
					No video
					<%end%>
				</div>
			</div>
			<br clear="both">
			<%unless @current_song.video_url.blank?%>
			<img src="/play.png" style="position:absolute;left:230px;top:230px;cursor:pointer;height:30px;width:30px" onclick="load_video('<%= escape_javascript(@current_song.video_url)%>','<%= escape_javascript(@current_song.title)%>')"/>
			
			<%end%>
			<%end%>
			<br>
	
		</div>
	</div>
	<div class="comments_section" style="width:302px;border: solid #DDD 1px;border-top: none;margin-left:10px;border-radius: 0px 0px 5px 5px;behavior: url(/PIE/PIE.htc);">

	<%unless @current_song.blank?%>
			
		<%= render_comments_form @current_song %>
		<%= render_comments @current_song, :page => params[:page], :limit => 5 %>
	<%end%>
	</div>
</div>

<script type="text/javascript">
var soundcloud_loaded = false;
var youtube_loaded = false;
var related_loaded = false;

	<%unless @current_song.blank?%>
		$('#twitter_nowplaying').hide();
		$('#player1 .share').addClass('bpopup');
		$('#player1 .share').attr('data-url','/share_service/share_popup/<%=@current_song.id%>');
		$('#player1 .playlist').addClass('bpopup');
		$('#player1 .playlist').attr('data-url','/playlists/available_playlists/<%=@current_song.id%>');
	<%else%>
		//Reset share button
		$('#player1 .share').removeClass('bpopup');
		$('#player1 .share').attr('data-url','');
		$('#player1 .playlist').removeClass('bpopup');
		$('#player1 .playlist').attr('data-url','');
	<%end%>
<% if user_signed_in? %>
<%unless @current_song.blank?%>
<%eligible_for_fav=Favourite.find(:all,:conditions=>{:uploaded_song_id=>@current_song.id,:user_id=>current_user.id})%>
<%if eligible_for_fav.blank?%>
	enable_fav_button();
<%else%>
	disable_fav_button();
<%end%>

<%else%>
	//Reset count button
	$('#info-div').html('No info available');
	
<%end%>
<%end%>

	
	<% if @current_song %>
	bind_events_for_video_modal();
	
	if($('#lyrics-div').height() > 200)
	{
	$('#lyrics-div').slimScroll({
		height : '180px',
		railVisible : true
	});
	}
	//fix chrome modal issue: add modal to body. To prevent adding the same modal again and again remove it first
	$('#current-song-container #videoModal').appendTo($('body'));
	$('#twitter_trend').hide();	
	load_letsrate();
	scroll_logic();
	set_quality_state(1);
	<%end%>
	</script>


