<div id="related-songs-wrapper">
	<% unless @related_songs.blank? %>

	<table id="related-table">
		<% @related_songs.each do |song|%>
		<%if song.present?%>
		<tr class="link link-text">
			<td><% identifier=generate_random%>
			<div class="related-song" onclick="javascript:playit(1,this);return false;" data-identifier="<%= identifier%>" data-src="<%= song.src_path%>" data-name="<%= song.title%>" data-art="<%= song.art("small")%>" data-album="<%= song.album%>" data-id="<%= song.id%>" >

				<div style="float: left;width:240px;height:60px;">
					<div style="height: 20px;width:100%">
						<span class="tool-tip" title="<%= song.title%>"><%= truncate(song.title, :length=>33)%></span>
					</div>
					<div style="color: #808080;height: 20px;width:100%">
						<span class="tool-tip" title="<%= song.album%>"><%= truncate(song.album, :length=>33)%></span>
					</div>
					<div style="color: #404040;height: 20px;width:100%;font-size: 11px;">
						by <span class="tool-tip" title="<%= song.get_user%>"><%= truncate(song.get_user, :length=>33)%></span>
					</div>
				</div>
				<div class="related-song-art" style="float: right;margin-top:2px;">
					<img src="<%= song.art("medium")%>" height="50" width="50" class="small-image" />
				</div>
			</div></td>
		</tr>
		<%end%>
		<%end%>

	</table>
	<%else%>
	<p>
		There are no suggestions right now
	</p>
	<%end%>
</div>

<!-- <script>
	$('#related-songs-wrapper').slimScroll({
		height : '270px',
		railVisible : true
	}); 
</script> -->