$('#content').html("<%= escape_javascript(render :partial => "/utility/search_results",:locals=>{:songs=>@songs,:albums=>@albums,:lyrics=>@lyrics,:genre=>@genre,:playlists=>@playlists,:users=>@users,:query=>@query}) %>");
$("#search_results .pagination a").attr('data-title','Amuzzin-Search Results');
$("#search_results .pagination a").attr('class','ajax-link');
$('#search-text').val('');
if(document.getElementById(tab)!=null)
{
	$(document.getElementById(tab)).tab('show');
}
else
{
	$('#song-els-tab').tab('show');
}