<%=form_tag '/passwords/request_password_reset', :method => 'post' ,:remote=>true do%>
 <%=email_field_tag 'email',nil, :placeholder => 'Email' %>
 <br>
 <%=submit_tag 'Reset', :class=>'btn btn-danger'%>
<%end%>
