
<%=popup_title('Change Password')%>
<br /><br />	

<%= form_for(current_user, :as => 'user',:remote=>'true',:url => password_path, :html => { :method => :put }) do |f| %>
<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-asterisk"></i>
  </span>
     <%= f.password_field :current_password , :placeholder => "Current Password" %></div>
<br/>
  <div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-asterisk"></i>
  </span>
  <%= f.password_field :password , :placeholder => "New Password"%>
</div>
<br/>
<div class="input-prepend">
  <span class="add-on">
  	<i class="icon icon-asterisk"></i>
  </span>  <%= f.password_field :password_confirmation  , :placeholder => "Confirm New Password"%>
  <div>
<br/>
  <p><center><%= f.submit "Change Password",:class=>"btn btn-sm btn-danger" %></center></p>
<% end %>
