<div id="reset-password">
<br>
<%if @valid%>
<%=form_tag '/passwords/reset', :method => 'post', :remote=>true do %>
<%=hidden_field_tag 'id', @id %>
<%=hidden_field_tag 'token', @token %>
 <%=password_field_tag 'password',nil,:placeholder => "Password" %>
 <br><br>
 <%=password_field_tag 'password_confirmation',nil,:placeholder => "Confirm Password" %>
 <br>
 <%=submit_tag 'Reset',:class => "btn btn-sm btn-danger"%>
<%end%>
<%else%>
The link is not valid or expired
<%end%>
</div>