<div>
	<div id="page-not-found" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Page</span> Not Found</span>
	<br>
	<br>
	<p>
		The page you are looking for does not exist
	</p>
</div>
<%= render :partial => "layouts/footer" %>
</div>