<div>
	<div id="server-error" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Server</span> Error</span>
	<br>
	<br>
		<p>Our Server encountered a problem</p>
		<p>We apologize for any inconvenience caused</p>
</div>
<%= render :partial => "layouts/footer" %>
</div>