<%if edit_song.present?%>

  <%= form_for edit_song, :remote=>true, :html=>{:id=>'upload_edit_form_for_song',:onsubmit=>"show_flash('Saving song...',true)"}   do |f| %>

<p>
The more accurate the details are, better are the chances for your song to be identified in search
</p>
<table>
  <tr>
    <td>
    <span class="upload-preview" >
        <img src="<%=edit_song.art("original").to_s%>"  height=200 width=200  class="big-image" id ="new_album_art"/>
        <br/>
    </span>
        <%= f.file_field :image , :class => "file", :style=>"width:175px" %> <br/>
            <%= f.label :remote_image_url, "or paste image URL" %>

  <span class="input-prepend">
  <span class="add-on"><i class="icon-globe"></i></span>
    <%= f.text_field :remote_image_url , :id => "remote_url",:style=>"width:145px" %> 
    <br/>
</span>
</div>
</td>
<td colspan="2" style="padding-left:20px;">    

  <span class="input-prepend">
      <span class="add-on">Title:</span>
      <%= f.text_field :title,:style => "width: 270px;" %>
    </span><br />
  <span class="input-prepend">
      <span class="add-on">Album:</span>
      <%= f.text_field :album,:style => "width: 258px;" %>
  </span><br/>
  <span class="input-prepend">
      <span class="add-on">Artist:</span>
      <%= f.text_field :artist,:style => "width: 263px;" %>
  </span>
  <br />
  <span class="input-prepend">
      <span class="add-on">Genre:</span>
      <%= f.select :genre, options_for_select(ExtractionLayer::list_of_genres,edit_song.genre),{},{:style => "width: 273px;"} %>
  </span>
  <br />
  <span class="input-prepend">
      <span class="add-on">Youtube URL:</span>
  <%= f.text_field :youtube_url,:style => "width: 215px;" %>
  </span><br />
    <span class="input-prepend">
      <span class="add-on">Year:</span>
  <%= f.text_field :year,:style => "width: 269px;" %>
  </span><br />
  <span class="input-prepend">
      <span class="add-on">Language:</span>
      <%= f.select :language, options_for_select(ExtractionLayer::list_of_languages,edit_song.language),{},{:style => "width: 249px;"} %>
  </span>
  </div>
  <br/>
</td>
</tr>
</table>

<table>
  <tr>
  <td>
    <center>
     <%= f.text_area :lyrics, :rows=>'13', :placeholder => "Enter lyrics here ...", :style => "width:520px" %>
   </center>
     <br />
</td>
</tr>
</table>

  <br clear="both">
  <center><div>
    <%= f.submit "Uploading File ..." ,:class=>"btn btn-sm btn-danger start", :disabled => "disabled" , :id => "uploaded_song_save_button" %><div></center>
<% end %>
<%else%>
<center><strong><i class="icon icon-warning-sign red"></i> Either the song does not exist or you do not have permission to edit this song</strong></center>
<%end%>

<script type="text/javascript">
$(document).ready(function(){
    var preview = $(".upload-preview img");

    $("#remote_url").change(function(event){
      preview.attr("src", $("#remote_url").val());
    });

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
});
</script>