<div>
<div id="uploader" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
  <span class="amuzzin-font"><span class="red">Upload</span> Song</span>
  <br/>
  <br/>

  <%if user_signed_in?%>
    <%= form_tag '/upload_song/upload_song', :multipart => true, :id => "fileupload" do %>
      <span class="btn btn-sm btn-danger fileinput-button">
        <i class="icon-folder-open"></i>  Choose File
        <%= file_field 'upload', 'datafile' , :class => "media-file"  %> 
      </span>
      <div id='copyright_info'>
          <br>
      <br>
      <p>
        Size limit per file is <span class="red"><b>25 MB</b></span>
      </p>
      <p>
        Do not upload <span class="red"><b>copyrighted</b></span> content
      </p>
      <p>
        See our terms &amp conditions <a href="/terms" class="ajax-link" data-title="Amuzzin-Terms & Conditions"><span class="red" ><b>here</b> </span></a>
      </div>
    <%end%>

<div class="pull-right">
  <div class="pull-left" id="file-status" style="width:75px"></div>
  <div class="pull-left" id="upload-percent" style="width:30px"></div>
</div>

<br/>

    <div class="progress progress-danger  upload-progress" style="height:5px;display:none;">
        <div class="bar" id="upload-bar" style="width: 0%"></div>
    </div>

  

  <div id="edit_new_song" style="display:none">
    <%= render :partial => "upload_song/inplace_edit_song", :locals => { :edit_song => UploadedSong.new } %>
  </div>
  <%else%>
  <p>Please sign in at the top right corner to upload your songs</p>
  <%end%>

</div>
    <%= render :partial => "layouts/footer" %>
</div>