<div style="background:#CC3333" width="100%" height="50px">
	<center>
		<img src="/logo_4.png" width="250px" height="50px"/>
	</center>
</div>

<table>
<tr>
<td rowspan="8">
<i>Playing song <%=@uploaded_song.name%></i>
<% song = @uploaded_song %>
<br/>
<img width="125px" height="125px" src="<%=@uploaded_song.art('medium')%>"/>
</td>
</tr>
<tr>
<td>Album: <%= truncate(song.album, :length=> 30)%></td>
</tr>
<tr>
<td>Artist: <%=song.artist.blank? ? 'Not Available':truncate(song.artist, :length=> 30)%></td>
</tr>
<tr>
<td>Genre: <%=song.genre.blank? ? 'Not Available':truncate(song.genre, :length=> 30)%></td>
</tr>
<tr>
<td>Year: <%=song.year.blank? ? 'Not available':truncate(song.year.to_s, :length=> 30)%></td>
</tr>
<tr>
<td>by <%= song.get_user%></td>
</tr>
<tr>
<td>Current Duration: <div id="duration">00:00</div></td>
</tr>
<tr><td></td></tr>
<tr><td></td></tr>
<tr><td></td></tr>

<tr colspan="2">
	<td >
		<button id='ps' onclick="audioElement.pause();this.style.display='none';document.getElementById('pl').style.display=''"> Pause </button>
		<button id='pl' onclick="audioElement.play();this.style.display='none';document.getElementById('ps').style.display=''" style="display:none"> Play </button>
	</td>
</tr>
</table>
<script type="text/javascript">
  	var audioElement = document.createElement('audio');
	audioElement.setAttribute('src', '<%=@uploaded_song.src_path%>');
	audioElement.play();
	setInterval(function(){document.getElementById('duration').innerHTML=Math.floor(audioElement.currentTime/60)+":"+Math.floor(audioElement.currentTime%60)},1000);
</script>