<div>
<div id="song_page" class="well well-small offset10pxl offset15pxt" style="width: 535px;">

	<div>

		<div class="offset10pxl" style="margin-top: 10px;">
			<span  class="amuzzin-font"><span class="red">Song</span> Page
			<%if current_user && song%>
			<span>
				<%= rating_for song, "music" , :disable_after_rate => false %>
			</span>
			<%else%>
			<br>
			<%end%>
			</span>
			<br>
			<%if song.blank?%>
			<p>
				No song found
			</p>
			<%else%>
			<div id="info_main" style="height:190px;">
				<div style="position:relative;float:left;height: 185px;width:140px;">
					<img src="<%=song.art("big")%>" class ="song-page-art big-image" />
					<%= render :partial => "utility/song_toolbar" , :locals => {:song => song , :style => "top:-15px;left:32px;-webkit-box-shadow: 0px 0px 5px 0px #999999;-moz-box-shadow: 0px 0px 5px 0px #999999;box-shadow: 0px 0px 5px 0px #999999;"} %>
				</div>
				<div style="position:relative;float:left;margin-left:7px;margin-top:-5px;">
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Song: </b><span class="tool-tip" title="<%= song.title%>"><%= truncate(song.title, :length=> 30)%></span>
					</div>

					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Album: </b><span class="tool-tip" title="<%= song.album%>"><%= truncate(song.album, :length=> 30)%></span>
					</div>
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Artist: </b><span class="tool-tip" title="<%= song.artist%>"><%=song.artist.blank? ? 'Not Available':truncate(song.artist, :length=> 30)%></span>
					</div>
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Genre: </b><span class="tool-tip" title="<%= song.genre%>"><%=song.genre.blank? ? 'Not Available':truncate(song.genre, :length=> 30)%></span>
					</div>
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Year: </b><span class="tool-tip" title="<%= song.year%>"><%=song.year.blank? ? 'Not available':truncate(song.year.to_s, :length=> 30)%></span>
					</div>
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Duration: </b><span class="tool-tip" title="<%= song.humanize%>"><%=song.duration.blank? ? 'Not available' : song.humanize %></span>
					</div>
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">Language: </b><span class="tool-tip" title="<%= song.language%>"><%=song.language.blank? ? 'Not available':truncate(song.language.to_s, :length=> 30)%></span>
					</div>
					<div style="width:250px;height:20px;margin-left:10px;">
						<b style="color:#606060">by </b><a href="/u/<%=song.user.id%>" class="ajax-link"  data-title="Amuzzin-<%=song.get_user%>"><span class="tool-tip" title="<%= song.get_user%>"><%= song.get_user%></span></a>
					</div>

						<div style="width:250px;height:10px;margin-left:10px;">
						</div>


				</div>
				<div style="position:relative;margin-left: 370px;top:-5px;">
					<p class="red" style="font-size: 35px"><%=song_count%></p>
					<p>Current Plays</p>

					<p class="red" style="font-size: 35px"><%=queue_count%></p>
					<p>Current Queues</p>

					<p class="red" style="font-size: 35px"><%=song.favourites.count%></p>
					<p>Favourites</p>
				</div>


			</div>
			<br clear="both">
			<div id="info1_main">

				<div id="lyrics_main" style="position:relative;width:260px;float:left;">
					<b style="color:#606060">Lyrics:</b>
					<br>
					<%unless song.lyrics.blank?%>
					<div id="lyrics-div-main" style="width: 250px;">
						<p>
							<%= song.lyrics.to_s.html_safe %>
						</p>
					</div>
					<%else%>
					No Lyrics found
					<%end%>
				</div>
				<div style="position: relative;float:right;width:120px;margin-right:10px;">
					<b style="color:#606060">Video:</b>
					<br>
					<%unless song.video_url.blank?%>
					<div style="position: relative; left: 0; top: 0;">
					<img id="video-thumbnail-main" src="<%= song.video_img%>"  height="100" width="120" style="position: relative; top: 0; left: 0;" />
					<img src="/play.png" height="30" width="30" style="position:absolute;left:47px;top:35px;cursor:pointer;height:30px; width:30px" onclick="load_video('<%= escape_javascript(song.video_url)%>','<%= escape_javascript(song.title)%>')"/>
					</div>
					<%else%>
					No video
					<%end%>


					<div id="song-page-qr-code" style="position: relative;float:right;width:120px;">
					<b style="color:#606060">QR Code:</b>
					<br>

					</div>

				</div>
			</div>




			<br clear="both">

			<%end%>
		</div>
	</div>
	<div class="comments_section" style="width:535px;border-radius: 0px 0px 5px 5px;">
	<%unless song.blank?%>
		<%= render_comments_form song %>
		<%= render_comments song, :page => params[:page], :limit => 5  %>
	<%end%>
	</div>
</div>
	<%= render :partial => "layouts/footer" %>
	</div>

<%unless song.blank?%>
<script type="text/javascript">
	if($('#lyrics-div-main').height() > 250)
	{
	$('#lyrics-div-main').slimScroll({
		height : '250px',
		railVisible : true
	});
	}
	$('#song-page-qr-code').qrcode({width: 128,height: 128, text: "http://amuzz.in/upload_song/play_qr_song/<%=song.id%>"});
			load_letsrate();

</script>
<%end%>
