<div data-role="header" data-position="fixed" data-theme="b" class="toolbar">

<% if current_user %>
                   
<div data-role="popup" id="userinfo" data-overlay-theme="b" class="ui-content" >


</div>
                   <a href="#settings" class="ui-btn-right" data-transition="slidedown" data-inline="true" data-rel="popup" > <%=image_tag current_user.get_profile_pic('square') , :id => 'profile-pic-mini' , :size => '25x25'%>      
</a>



  <div data-role="popup" id="settings" data-overlay-theme="b" class="ui-content">
    <form action="#" method="get">
     

      
     <div data-role="controlgroup">
       <legend> <%= link_to "Sign out", destroy_user_session_path,  :method => :delete %> </legend>
       <legend>Services you wish to connect: </legend>
        
       <input type="checkbox" name="fb" id="fb" class="custom" />
       <label for="fb">Facebook</label>
        
       <input type="checkbox" name="twt" id="twt" class="custom" />
       <label for="twt">Twitter</label>
        
     </div>    
      
     <div data-role="fieldcontain">
       <legend>Default Volume:</legend>
       <input type="range" name="quantity" id="quantity" value="1" min="1" max="10" default="5" data-show-value="true" data-popup-enabled="true" />
     </div>

      
    <div class="ui-body ui-body-b">
      <fieldset class="ui-grid">
        <div class="ui-block-a"><button data-theme="d">Cancel</button></div>
        <div class="ui-block-b"><button type="submit" data-theme="b">Save</button></div>     
      </fieldset>
    </div>
      
  </div>
 

                     <% end %>
            <h1> <a href="#" data-rel="back">  amuzz.in&copy; </a></h1>

</div>


<div data-role="footer" data-position="fixed" data-theme="b" >
<h1>
                    <%# image_tag "/min-menu.png" , :size => "30x30" %>
                    <%= image_tag "/play.png" , :size => "50x50" , :id => "song_state" , :onclick => "toggle_music()"%>
                    <%# image_tag "/next.png" , :size => "30x30" %>
                  </h1>

</div>
<script type="text/javascript">
  if(playing == 1)
  {
    play_song();
  }
  else
  {
    pause_song();
  }
</script>