<div>
<div id="uploader" class="well well-small offset10pxl offset15pxt" style="width: 535px;">

	<span class="amuzzin-font"><span class="red">Upload</span> Songs</span>
	<br />
	<br />
	<%if user_signed_in?%>
	<%= form_tag '/upload_song/upload_song', :multipart => true, :id => "fileupload" do %>
	<!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	<div class="row fileupload-buttonbar">
		<div class="span7" style="width: 100%">
			<!-- The fileinput-button span is used to style the file input field as button -->
			<span class="btn btn-default btn-sm btn-danger fileinput-button"> <i class="icon-plus icon"></i> Add your Songs <%= file_field 'upload', 'datafile' , :multiple => true %> </span>
			<br>
			<br>
			<p>
				Size limit per file is <span class="red"><b>25 MB</b></span>
			</p>
			<p>
				Do not upload <span class="red"><b>copyrighted</b></span> content
			</p>
			<p>
				See our terms &amp conditions <a href="/terms" class="ajax-link" data-title="Amuzzin-Terms & Conditions"><span class="red" ><b>here</b> </span></a>
		</div>
		<div class="span5">
			<!-- The global progress bar -->
			<div class="progress progress-success progress-striped active fade">
				<div class="bar" style="width:0%;"></div>
			</div>
		</div>
	</div>
	<!-- The loading indicator is shown during image processing -->
	<div class="fileupload-loading"></div>
	<br>
	<!-- The table listing the files available for upload/download -->
	<table class="table" aligned="center">
		<thead class="files" id="upload-table" data-toggle="modal-gallery" data-target="#modal-gallery"></thead>
	</table>
	<% end %>

	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
		{% for (var i=0, file; file=o.files[i]; i++) { %}
		<tr class="template-upload fade">
		<td class="name"><div style="height: 50px;width:140px">{%=file.name%}</div></td>
		{% if (file.error) { %}
		<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
		{% } else if (o.files.valid && !i) { %}
		<td>
		<div class="progress progress-success progress-striped active" style="width:150px;"><div class="bar" style="width:0%;"></div></div>
		</td>
		<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>

		<td class="start">{% if (!o.options.autoUpload) { %}
		<button class="btn btn-danger" >

		<span>{%=locale.fileupload.start%}</span>
		</button>
		{% } %}</td>
		{% } else { %}
		<td colspan="2"></td><td colspan="2"></td>
		{% } %}
		<td class="cancel">{% if (!i) { %}
		<button class="btn btn-sm btn-default">

		<span >{%=locale.fileupload.cancel%}</span>
		</button>
		{% } %}</td>
		</tr>
		{% } %}
	</script>

	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">

		{% for (var i=0, file; file=o.files[i]; i++) { %}
		<tr class="template-download fade">

		{% if (file.error) { %}
		<td class="name"><div style="height: 50px;width:140px;">{%=file.name%}</div></td>
		<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
		<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
		<td colspan="2"></td>
		<td colspan="2"></td>
		{% } else if (file.special) { %}


		{% if (file.name) { %}
			<td colspan="3" class="name"> You<span class="red"><strong>Tube</strong></span>: {%=file.name%}</td>
					<td>

				<span class="label label-success"> Done </span>

				</td>
		{% } else { %}
			<td><span>Processing from You<span class="red"><strong>Tube</strong></span>: 
			<a href="{%=file.url%}" target="_blank">{%=file.url%}</a></span></td>

					<td class="size" colspan="3">
		<span class="setinterval" data-id="{%=file.id%}"></span>
		<span id="youtube_progress_span_{%=file.id%}"> <img src="/loader.gif"/></span></td>

		{% } %}

		{% } else { %}
		<td colspan="3">
		<span class="popup"> 
		<a href="/s/{%=file.id%} " class="ajax-link" data-title="Amuzzin-output">
					<span title="{%=file.name%} " class="tool-tip"><b>{%=file.name%} </b></span>
					</a>
		 &nbsp;

		 <div class="btn-group">
		 <button id="editpopup_{%=file.id%}" class="editpopup btn btn-default btn-xs" data-bpopup="{" contentcontainer":".content"}"="" title=" [#] Edit Metadata of this song. If you feel the songs Metadata is either incorrect or missing , you can edit the fields like Title, Album, Genre, Year and Lyrics of the song and make it perfect. You can also add YouTube Url of this song if you occassionaly wish to watch the video while hearing the song.">
							<i class="icon icon-pencil"></i>
						</button>

		 	<button id="sharepopup_{%=file.id%}" class="sharepopup btn btn-default btn-xs" data-bpopup='{" contentcontainer":".content"}"="' title="Share this song">
							<i class="icon icon-share-alt"></i>
						</button>
							</div>
		</span>
		</td>
		<td>

		<span class="label label-success"> Done</span>

	
				</td>

		{%	loadingImage = '/loader.gif';		//Use relative path from this page
		source_cut = 'share_service/popup_cutsong?id='+file.id; %}
		<td> <span id="cutpopup_{%=file.id%}" class="cutpopup" data-bpopup="{"contentContainer":".content"}">
		<span class="pl-cut player-cut"/> </span>
		</td>

		{% } %}
		</tr>
		{% } %}

	</script>

	<script type="text/javascript" charset="utf-8">
		
		$(function() {'use strict';
			// Initialize the jQuery File Upload widget:
			$('#fileupload').fileupload({
				// Uncomment the following to send cross-domain cookies:
				//xhrFields: {withCredentials: true},
				url : 'upload_song/upload_song'
			});
$('#fileupload').fileupload('option', { autoUpload:true	});
			if (window.location.hostname === 'amuzz.in') {
				// Demo settings:
				$('#fileupload').fileupload('option', {
					url : '/upload_song/upload_song',
					maxFileSize : 25000000,
					acceptFileTypes : /(\.|\/)(mp3)$/i,
				});
			} else {
				// Load existing files:
				load_existing_files();
			}

		});
	</script>
</div>
  <%else%>
  <p>
    To upload songs please sign in at the top corner
  </p>
  <%end%>
<%= render :partial => "layouts/footer" %>
</div>
