<div data-role="page">
<%= render :partial => "toolbar"%>
<ul data-role="listview" data-inset="true">
		<%if user_signed_in?%>
		<% unless current_user.cut_songs.blank? %>

	<% current_user.cut_songs.each do |cut|%>
		<% shared = cut.shared_cuts.count > 0 %>
		<li><a href="#" onclick="set_song('<%=cut.src_path%>')"><%= image_tag cut.uploaded_song.art("medium") %> <%=cut.get_comment%> </a></li>
	<% end %>

<%else%>
<li> You have no cut songs </li>
<%end%>
<%else%>
<li> Please sign in at the top corner to use this feature</li>
<%end%>
</ul>
</div>

<script>
	function delete_cut(cut_id,el)
	{
		$(el).remove();
		invoke_controller_action('','POST','/cut_song/delete_cut_song?id='+cut_id,'');
	}
</script>

</div>