	
<%=popup_title('Edit Song')%>
<br /><br />
<%if @edit_song.present?%>

	<%= form_for @edit_song, :remote=>true, :html=>{:id=>'edit_form',:onsubmit=>"show_flash('Saving song...',true)"}   do |f| %>

      <div id="edit1" class="pull-left" style="width:220px;border-right:solid #ddd 1px" >

    <span class="upload-preview" >
        <img src="<%=@edit_song.art("original").to_s%>"  style="width:175px;height:175px"  class="big-image"/>
        <br/>
    </span>
        <%= f.file_field :image , :class => "file", :style=>"width:200px" %> <br/>
            <%= f.label :remote_image_url, "or paste image URL" %>

  <span class="input-prepend">
  <span class="add-on"><i class="icon-globe"></i></span>
    <%= f.text_field :remote_image_url , :id => "remote_url",:style=>"width:147px" %> <br/>
</span>
</div>
	<div id="edit2" class="pull-left" style="width:300px;margin-left:33px;border-right:solid #ddd 1px">
    <span class="input-prepend">
      <span class="add-on">Title:</span>
      <%= f.text_field :title,:style => "width: 210px;" %>
    </span><br />
  <span class="input-prepend">
      <span class="add-on">Album:</span>
      <%= f.text_field :album,:style => "width: 198px;" %>
  </span><br/>
  <span class="input-prepend">
      <span class="add-on">Artist:</span>
      <%= f.text_field :artist,:style => "width: 205px;" %>
  </span>
  <br />
  <span class="input-prepend">
      <span class="add-on">Genre:</span>
      <%= f.select :genre, options_for_select(ExtractionLayer::list_of_genres,@edit_song.genre),{},{:style => "width: 215px;"} %>
  </span>
  <br />
  <span class="input-prepend">
      <span class="add-on">Youtube URL:</span>
  <%= f.text_field :youtube_url,:style => "width: 157px;" %>
  </span><br />
    <span class="input-prepend">
      <span class="add-on">Year:</span>
  <%= f.text_field :year,:style => "width: 212px;" %>
  </span><br />
  <span class="input-prepend">
      <span class="add-on">Language:</span>
      <%= f.select :language, options_for_select(ExtractionLayer::list_of_languages,@edit_song.language),{},{:style => "width: 192px;"} %>
  </span><br />
  </div>




  <div id="edit3" class="pull-left" style="margin-left:40px;">
	   <%= f.text_area :lyrics, :rows=>'13',:placeholder=>'Lyrics' %><br />
  </div>
  <br/>
  <br clear="both">
  <center><div style="position: relative;top:10px;">
    <%= f.submit "Save Song" ,:class=>"btn btn-default btn-sm btn-danger start",:onclick=>"$('#bpopup-div').bPopup().close();"%><div></center>
<% end %>
<%else%>
<center><strong><i class="icon icon-warning-sign red"></i> Either the song does not exist or you do not have permission to edit this song</strong></center>
<%end%>


<script type="text/javascript">
$(document).ready(function(){
    var preview = $(".upload-preview img");

    $("#remote_url").change(function(event){
      preview.attr("src", $("#remote_url").val());
    });

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });
});
</script>