
<style type='text/css'>
#menu {
  position: fixed;
  right: 30%;
  top: 20%;
  width: 300px;
  margin-top: -2.5em;
}
</style>

<script>
$(function() {
    var availableTags = <%=  current_user.get_fb_friends(session[:fb_token]).collect { |e| e.name }.to_json.html_safe  %>;
$( "#fb_friends" ).autocomplete({
source: availableTags
});
});
</script>

<div class="well">
  <div class="input-append">

		<form action='/upload_song/send_to_fb' >
     <input id="fb_friends" class="span2" id="appendedInputButton" size="25" type="text">
     <button class="btn btn-danger" type="button">Share</button>
     </form>
  </div>
</div>		

<br/><br/><br/><br/><br/><br/>

<script type="text/javascript">

function add_list(name,id)
{
	document.getElementById('selected_friends_item').value = document.getElementById('selected_friends_item').value +','+ id;
	document.getElementById('selected_friends').innerHTML = document.getElementById('selected_friends').innerHTML +' <span class="label label-success">'+ name;
	
}
</script>
