<%=render 'layouts/show_flash' %>
<%unless edit_song.blank?%>
var playlist = player_objects[0].playlist;
for(var i=0;i<playlist.length;i++)
{
	
	if($('#'+playlist[i]).attr('data-id')==<%=edit_song.id%>)
	{
		if(player_objects[0].position==i) //check if song being saved is current song
		{
			//refresh now playing
			$("#current-song-container").load("/utility/current_song?id=" + <%=edit_song.id%>);
		}
		$('#'+playlist[i]).attr('data-name','<%=edit_song.title%>');
		load_playlist(1,0);
		break;
	}
	
}

<%end%>
refresh_current_page();