
<div>
<div id="all_friends" class="well well-small offset10pxl offset15pxt" style="width: 533px;">
	<%if current_user%>
	<span class="amuzzin-font"> <span class="red">All</span> Friends (<%=current_user.friends.count%>)</span> <%else%>
	<span class="amuzzin-font"> <span class="red">All</span> Friends</span>
	<%end%>
	         &nbsp;&nbsp;&nbsp;&nbsp;
	         <br/><br/>
<%if current_user%>
<%unless users.blank?%>
<%= will_paginate users ,:renderer => BootstrapPagination::Rails,:inner_window=>2 %>
<table id="all_friends_table" class="table table-striped">
	<tbody>
		<% users.each_with_index do |f|%>
		<tr>
			<td><%= image_tag f.get_profile_pic,:class=>'small-image search-art'%></td>
			<td>
			<div style="height:20px;width:180px;">
				<a href="/u/<%= f.id%>" title="<%= f.name%>" class="ajax-link"  data-title="Amuzzin-<%= f.name%>">
				<%= truncate(f.name, :length=> 20)%>
				</a>
			</div></td>
			<td>
			<%=friend_stream_button(f,'small',false)%>
			</td>
		</tr>

		<%end%>
	</tbody>
</table>
<%= will_paginate users ,:renderer => BootstrapPagination::Rails,:inner_window=>2 %>
<%else%>
No Friends.
<%end%>
<%else%>
Please sign in at the top corner to view your friends
<%end%>
</div>
	<%= render :partial => "layouts/footer" %>
</div>