<div>
<div id="friends" class="well well-small offset10pxl offset15pxt" style="width: 533px;">
	<span class="amuzzin-font"> <span class="red">Friends'</span> Stream </span> 
	         &nbsp;&nbsp;&nbsp;&nbsp;
	<%if current_user%>
	        <%unless online_friends.blank?%> 
			<button title="Show friends in Map View" class="btn btn-default btn-xs btn-danger" style="margin-top:-5px" onclick="show_friends_in_map()">
				<i class="icon icon-map-marker"></i> Map View
			</button>
			<%end%>

			<button title="Show All Friends" class="btn btn-default btn-xs btn-danger" style="margin-top:-5px" onclick='put_state("/all_friends", "Amuzzin-All Friends", "/all_friends")'>
				<i class="icon icon-group"></i> All Friends
			</button>

			<% if current_user.friends.count == 0 %>
			<button title="Show All Friends" class="btn btn-xs btn-fb" style="margin-top:-5px" onclick='invoke_controller_action("","GET","/user/all_friends","")'>
				<i class="icon icon-refresh"></i> Sync FB Friends
			</button>
			<%end%>
			<% if @pending_requests_count > 0 %>
			<a href='#'>
				<span title="Pending friend requests to share their friends' stream. Accept or Reject by clicking here." class="red pull-right" style="margin-top:-5px" onclick="load_once_div('pending_friend_requests','/user/pending_friend_requests')">
					<i class="icon icon-user"></i> <u><%=@pending_requests_count%> Pending Requests</u>
				</span>
			</a>
			<%end%>
	<br>
	<br>
	
	

	    <div id="pending_friend_requests" style="display:none"></div>

		 <div id="map" style="display:none"></div>

	<%unless online_friends.blank?%>
	<table id="friend-table">
		<% online_friends.each_with_index do |f,index|%>
		<% current_song=friends_current_song[index]%>
		<tr>
			<td>
			<div>
				<div style="width: 370px;float: left;margin-top: 15px;">

					<div class="pull-left">
						<a href="/u/<%= f.id%>" class="ajax-link tool-tip" data-title="Profile-<%= f.name%>" title="<%= f.name%>"> <img src="<%=f.get_profile_pic%>" class='friend_pic small-image'/> </a>
					</div>

					<div class="pull-left offset10pxl" style="height: 30px;width:290px;">
						<a href="/u/<%= f.id%>" class="ajax-link tool-tip" data-title="Profile-<%= f.name%>" title="<%= f.name%>"> <%= truncate(f.name, :length=> 27)%> </a>
						<%if f.current_group && f.is_group_listen_enabled?%>
						&nbsp;<span class="bold"><i class="icon icon-group"></i> In Group Listen</span>
						<%end%>
					</div>
					<div class="pull-left offset10pxl" style="height: 40px;width:290px;color:#454545">
						Current song:
						<% if current_song%>
						<a href="/s/<%=current_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(current_song.title, :length=> 20)%>"><span class="tool-tip red" title="<%= current_song.title%>"> <%= truncate(current_song.title, :length=> 27)%></span></a>
							<%else%> <span class="tool-tip red" title="Idle"> Waiting for User to Play </span>
								<%end%> 
					</div>

				</div>

				<div style="float: right;margin-top: 20px;">
					<div class="btn-group">

						<!--button class="btn btn-default btn-sm btn-danger" onclick="connect_with_friend(<%=f.id%>)" title="Wear your friends headphone, get into his soul.">
							<i class="icon icon-headphones"></i>
						</button-->	

						
						<button class="btn btn-default btn-xs view-friend-playlist" onclick="showSongs(this,'friend');">
							<i class="icon-chevron-up icon"></i>
						</button>
						<button class="btn btn-default btn-xs add-friend-playlist" data-loaded="false">
							<i class="icon-plus icon"></i>
						</button>
						<button class="btn btn-default btn-xs play-friend-playlist" data-loaded="false">
							<i class="icon-play icon"></i>
						</button>
						<button title="locate my friend" class="btn btn-default btn-xs" style="width:30px" onclick="locate_friend(<%=f.id%>)">
							<i class="icon-map-marker"></i>
						</button>
					</div>
				</div>
			</div></td>
		</tr>

		<tr>
			<td>
			<div class="friend-songs" id="friend_songs_<%=f.id%>" style="margin-top: 15px;">
				
			</div></td>
		</tr>

		<%end%>
	</table>
	<script>
		//variables used in friend_map.js
		var friend_map = undefined;
		var friend_geojson = undefined;
		var pending_friend_requests_loaded = false;
		$('#online_count').html('<%=online_friends.length%>');
		$('#online_count').show();
	</script>
	<%else%>
	<p>
		No friend is online.

	</p>
	<p>To add friends search for them in the search bar, then go to their profile and click on</p> 
		<p class="red">+Friend Stream</p>
	<script>
		$('#online_count').html('0');
		$('#online_count').hide();
	</script>
	<%end%>

	<%else%>
	<br/><br/>
	<p>
		Now you can see what your friends are hearing to
	</p>
	<p>
		Sign in using your facebook account to access this feature
	</p>
	<%end%>
</div>
	<%= render :partial => "layouts/footer" %>
</div>
