<div>
<div id="insight" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Artist</span> Dashboard</span>
	<br>
	<br>

	<%if user_signed_in? %>

	<ul class="nav nav-tabs" id="insight-tab">
		<li class="active">
			<a href="#summary" id="summary-tab" data-toggle="tab">
				<i class="icon-home" style="vertical-align:top"></i> Summary
			</a>
		</li>
		<li>
			<a href="#timeline" id="timeline-tab" data-toggle="tab" onclick="drawArtistTimelineChart()">
			<i class="icon-bar-chart" style="vertical-align:top"></i> Timeline</a>
		</li>
		<li>
			<a href="#favourites" id="favourites-tab" data-toggle="tab" onclick="drawArtistFavouriteChart()">
				<i class="icon-heart" style="vertical-align:top"></i> Favourites</a>
		</li>
		<li>
			<a href="#listend" id="listend-tab" data-toggle="tab" onclick="drawArtistListendChart()">
				<i class="icon-play" style="vertical-align:top"></i> Now Playing </a>
		</li>
		<li>
			<a href="#queued" id="queued-tab" data-toggle="tab" onclick="drawArtistQueuedChart()">
				<i class="icon-list" style="vertical-align:top"></i> Queued</a>
		</li>

	</ul>

<div class="tab-content">
	<div class="tab-pane active" id="summary">
		<table class="table table-striped">
			<tr>
				<td> <b title="People who have one song of yours as their current song"> Total People currently listening to your songs </b> </td>
				<td> <%= current_user.listening_songs_count %> </td>
			</tr>
			<tr>
				<td> <b title="Sum of all the favourites all your songs has ever received"> Total Favourites received </b> </td>
				<td> <%= current_user.received_favourites_count%> </td>
			</tr>
			<tr>
				<td> <b title="People who have atleast one song of yours in their queue"> Total People currently having your songs in queue </b> </td>
				<td> <%= current_user.queued_songs_count %> </td>
			</tr>
			<tr>
				<td> <b title="A fan is the one who has favourited atleast one of your songs"> Your Unique Fans Count </b> </td>
				<td> <%= current_user.fans_count %> </td>
			</tr>
		</table>
	</div>
		
	<div class="tab-pane" id="timeline">
  		<div id="timeline_insight" style="width: 500px; height: 500px;"></div>
  	</div>

	<div class="tab-pane" id="favourites">
  		<div id="favourite_insight" style="width: 500px; height: 500px;"></div>
  	</div>

  	<div class="tab-pane" id="listend">
  		<div id="listend_insight" style="width: 500px; height: 500px;"></div>
  	</div>

	<div class="tab-pane" id="queued">
  		<div id="queued_insight" style="width: 500px; height: 500px;"></div>
  	</div>
</div>
	<%else%>
	<p>
		You can find your uploaded creations here
	</p>
	<p>
		Please sign in at the top corner to use this feature
	</p>
	<%end%>
</div>
<%= render :partial => "layouts/footer" %>
</div>
