	<div id="isai_map" class="well well-small offset10pxl offset15pxt" style="width: 555px;">
	<span  style="font-family: 'Palitine Linotype',Serif; font-size: 20px;font-weight:bold;"><span class="red">Isai</span> Map</span><br /><br />
	<div id="map_div" style="width: 555px; height: 750px;">
		</div>
	</div>
  <script type="text/javascript">
 var ids = [];
 var locations_lon=[];
 var locations_lat=[];
 
$.getJSON("/user/isai_map", function(data){
var song_data=data.songs;
var location_data=data.locations;
for(var i = 0;i<song_data.length; i++ )
{

ids[i] ='<p>The user is currently listening to:</p>'+'<b><p style="color:#CC3333">'+song_data[i].title+'</p>'+'<p>'+song_data[i].album+'</p></b>'+'<p><audio controls="controls" preload="none" src="'+song_data[i].path.replace("public","")+'"></audio><p>';
locations_lon[i]= location_data[i].lng;
locations_lat[i]= location_data[i].lat;
}
     var locations = [
      ['Karthik selvakumar <br/> Now Playing : <i>what I have done </i><br/><br/> <audio controls="controls"   <source src="test.mp3" type="mp3" /> </audio> ', 17.44709, 78.35740, 4],
      ['Prasad  <br/> Now Playing : <i>what I have done </i><br/><br/> <audio controls="controls"   <source src="test.mp3" type="mp3" /> </audio> ', 17.44715, 78.35524, 5],
      ['Narendran <br/> Now Playing : <i>what I have done </i><br/><br/> <audio controls="controls"   <source src="test.mp3" type="mp3" /> </audio> ', 17.44868, 78.35352, 3],
      ['Rajnikanth <br/> Now Playing : <i>what I have done </i><br/><br/> <audio controls="controls"   <source src="test.mp3" type="mp3" /> </audio> ', 18.44709, 78.357407, 2],
      [' Anonymous <br/> Now Playing : <i>what I have done </i><br/><br/> <audio controls="controls"   <source src="test.mp3" type="mp3" /> </audio> ', 17.44709, 76.35740, 1]
    ];

    var map = new google.maps.Map(document.getElementById('map_div'), {
      zoom: 2,
      minZoom:2,
      center: new google.maps.LatLng(17.44709, 78.35740),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < ids.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations_lat[i], locations_lon[i]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
        
          infowindow.setContent(ids[i]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    //To prevent dragging beyond bounds

    
});

  </script>
  