<div>
<div id="my_songs" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">My</span> Songs</span>

	<%if user_signed_in? && my_songs.present?%>
		<button  onclick="put_state('/insight', 'Amuzzin-Insights', '/insight');" class="btn btn-danger btn-xs pull-right"  title="Insights">
		<i class="icon icon-signal"></i> View Insights
		</button>
	<%end%>

	<br>
	<br>
	<%if user_signed_in?%>
	<% unless my_songs.blank? %>
	<%= will_paginate my_songs , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
	</center>
	<table id="my-song-table">
		<thead>
			<% n=0%>
			<% my_songs.each do |song|%>
			<%if n==0%>
			<tr>
				<%end%>

				<td class="my-song-td">
				<div style="height: 155px;width:140px;">
					<img src="<%= song.art("big")%>" class="my-song-art big-image"/>
					<span  style="position:relative;top:-150px;right:-132px;font-size:15px;" class="bpopup link" data-height="400" data-width="820" data-url="/upload_song/edit_song/<%= song.id%>" data-bpopup="{"contentContainer":".content"}" title=" [#] Edit Metadata of this song. If you feel the songs Metadata is either incorrect or missing , you can edit the fields like Title, Album, Genre, Year and Lyrics of the song and make it perfect. You can also add YouTube Url of this song if you occassionaly wish to watch the video while hearing the song.">
							<i class="icon icon-edit" style="font-size:20px"></i>
						</span>
						<%= render :partial => "utility/song_toolbar" , :locals => {:song => song , :style => "top:-15px;left:4px;-webkit-box-shadow: 0px 0px 5px 0px #999999;-moz-box-shadow: 0px 0px 5px 0px #999999;box-shadow: 0px 0px 5px 0px #999999;"} %>
				</div>
				<div style="width:140px;height:20px;">
					<a href="/s/<%=song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(song.title, :length=> 20)%>">
					<span title="<%=get_tooltip_for_song(song)%>" class="tool-tip"><%= truncate(song.title, :length=> 20)%></span>
					</a>
				</div>
				<div style="width:140px;height:20px;color:#000">
					<span title="<%= song.album%>" class="tool-tip"><%= truncate(song.album, :length=> 20)%></span>
				</div>

			</td>
				<!-- <td> <%= get_time(song.created_at)%> </td> -->
				<%if n==2%>
			</tr>
			<%end%>
			<% n=n+1%>
			<%if n==3%>
			<% n=0%>
			<%end%>
			<%end%>
		</thead>
	</table>
	<script type="text/javascript">
		load_letsrate();
	</script>
	<%else%>
	You have no songs <a href="/upload" class="ajax-link" data-title="Amuzzin-Upload songs"><span class="red"> go here to start uploading .. </span></a>
	<%end%>

	<%else%>
	<p>
		You can find your uploaded creations here
	</p>
	<p>
		Please sign in at the top corner to use this feature
	</p>
	<%end%>
</div>
<%= render :partial => "layouts/footer" %>
</div>
