<%if @groups.present?%>
<div style="overflow-x:auto;max-height:200px">
<table class="table table-striped">
<% @groups.each do |group|%>
<tr>
	<td><b><i class="icon icon-group" ></i> <%= group.name %></b> 
	<br/>	managed by 

	<a href="/u/<%=group.started_by_id%>" class="ajax-link tool-tip" data-title="Profile-<%=group.started_by.name%>" title="<%=get_tooltip_details(group.started_by)%>">
	<%=group.started_by.name%></a>
	</td>
	<td>
		<%if current_user.current_group == group%>
		<strong>Current Group</strong>
		<%else%>
		<button class="ajax-link btn btn-xs btn-success" data-title="Amuzzin-Group Listen" title="Join Group Listen" onclick="switch_group(<%=group.id%>)">
					 Join Group Now </button>
		<%end%>
		</td>
	<td>
<p class="time-ago"> group created <i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=group.created_at.iso8601%>">
		<%=group.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
	</td>
</tr>
			
<%end%>

</table>
</div>
<script>
	$(document).ready(function() {
  		$("abbr.timeago").timeago();
	});
</script>
<%else%>
<p class="red">You are not in any groups</p>
<%end%>
<br/>