
			<strong>
				Pending <span class="red">Friends'</span> Stream requests
			</strong>
	<table id="pending_friends_table" class="table">
		<tbody>
			<%if notifications.present?%>
			<% notifications.each_with_index do |f|%>
			<tr>
				<td>
					<a href="/u/<%=f.id%>" class="ajax-link tool-tip" data-title="Profile-<%=f.name%>" title="<%=get_tooltip_details(f)%>">
					<img src="<%=f.get_profile_pic%>" class='small-image queue-image'/>
				</a>
				</td>
			
			<td>
					<a href="/u/<%=f.id%>" style="margin-left:-40px;" class="ajax-link tool-tip" data-title="Profile-<%=f.name%>" title="<%=get_tooltip_details(f)%>">
					<%=f.name%>
					</a>
			</td>
				<td>
						<center>

									<span class="btn btn-success btn-default btn-xs" onclick="invoke_controller_action('','POST','/user/accept_friend?user=<%=f.id%>','refresh_current_page()')">
					 Accept
					</span>

					<small>
					<abbr title="Choose your friends wisely. There is no harm in blocking a bad one early."><a href='#' class='pull-right' onclick="invoke_controller_action('','POST','/user/block_friend?user=<%=f.id%>','refresh_current_page()')">
					 <span class="red"><u><i class="icon-ban-circle"></i> Block</u></span>
					</a></abbr>
				</small>
			</center>

				</td>
			</tr>

			<%end%>
			<%end%>
		</tbody>
	</table>
	