<div>
<div id="profile" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<%unless user.blank?%>
	<div style="position: relative">
		<div class="pull-left profile-preview" style="width:175px;position:relative">
			<img src="<%= user.get_profile_pic%>" class="big-image" id="profile-page-pic" />
						<% if current_user and current_user.id.eql?(user.id)%>
								<button class="btn btn-default btn-xs" style="position:absolute;right:25px;bottom:10px" onclick="$('#profile_photo_upload').click()">
						<i class="icon-pencil"></i> Edit Profile Picture
					</button>
					<%end%>
		</div>
		<div class="pull-right" style="width: 360px;">

			<span class="amuzzin-font"><%= user.name%></span>
			<br>
			<span class="amuzzin-font" style="font-size: 15px;font-weight: normal">
				<i class="icon icon-music"></i>
				<%=get_profile_song_content(user)%>
			</span>

			<span class="amuzzin-font" style="font-size: 18px;font-weight: normal"><span class="red"><%= user.uploaded_songs.count%></span> Creation(s)</span>
			<br>
			<span class="amuzzin-font" style="font-size: 18px;font-weight: normal"><span class="red"><%= user.playlists.public.count%></span> Public Playlist(s)</span>
			<br/>
			<div>
				<%if current_user%>
				<%= friend_stream_button(user,'large',true) %>
				<%end%>
			</div>
		</div>
	</div>
	<br clear="both">
	<br>
	<ul class="nav nav-tabs" id="search-tab">
		<li>
			<a href="#user-uploaded-songs" id="song-tab" data-toggle="tab">Creations</a>
		</li>
		<li>
			<a href="#public-playlists" id="playlist-tab" data-toggle="tab">Public playlists</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="user-uploaded-songs">
			<%unless user_songs.blank?%>
			<%= will_paginate user_songs ,:param_name => 'song_page', :renderer => BootstrapPagination::Rails,:inner_window=>2 %>

			<button class="btn btn-default btn-sm btn-danger add-page" style="margin-left:20px;">
				<i class="icon-plus icon"></i>
				<span>Add all</span>
			</button>
			<button class="btn btn-default btn-sm play-page" style="margin-left:20px;">
				<i class="icon-play icon"></i>
				<span style="color: #000000">Play all</span>
			</button>
			<br />
			<br />
			<table id="search_table" class="table table-striped">
				<tbody>
					<% user_songs.each_with_index do |f|%>
					<tr>
						<td><img src="<%= f.art("medium")%>" class='medium-image search-art'/></td>
						<td>
						<div style="height:20px;width:200px;">

							<a href="/s/<%=f.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(f.title, :length=> 20)%>" title="<%=f.title%>">

							<span class="tool-tip bold red" title="<%= f.title%>"><b><%= truncate(f.title, :length=> 25)%></b></span>
						</a>
						</div>
						<div style="height:20px;width:200px;">
							<span class="tool-tip bold" title="<%= f.album%>"><b style="color: #909090"><%= truncate(f.album, :length=> 25)%></b></span>
						</div>
						<div style="height:20px;width:200px;color:#606060">
							by <span class="tool-tip" title="<%= f.get_user%>"><%= truncate(f.get_user, :length=> 25)%></span>
						</div></td>
						<td>
						<%= render :partial => "utility/song_toolbar" , :locals => { :song => f , :style => ""} %>
					</td>

						<td class="song-el"><span data-identifier="<%= generate_random%>" data-src="<%= f.src_path%>" data-name="<%= f.title%>" data-art="<%= f.art("small")%>" data-album="<%= f.album%>" data-id="<%= f.id%>" ></span></td>

					</tr>

					<%end%>
				</tbody>
			</table>
			<%else%>
			<p>
				The user has not uploaded any songs
			</p>

			<%end%>
		</div>
		<div class="tab-pane" id="public-playlists">
			<%unless user_playlists.blank?%>
			<%= will_paginate user_playlists ,:param_name => 'playlist_page', :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
			<table class="playlist-table">
				<tbody>
					<% user_playlists.each_with_index do |p|%>
					<tr>
						<td>
						<div class="pull-left offset10pxl">
							<img src="<%= p.art("small")%>" class="small-image playlist-art" />
						</div>
						<div style="width: 150px;margin-left:20px" class="pull-left">
							<a href="/playlists/public_playlist/<%=p.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(p.name, :length=> 20)%>" title="<%=p.name%>">
							<span class="tool-tip bold red" title="<%= p.name%>"><%= truncate(p.name, :length=> 20)%></span></a>
						</div>
						<div style="float: right;margin-right:50px;">
							<div class="btn-group">
								<button class="btn btn-default btn-xs view_playlist" onclick="showSongs(this,'playlist');">
									<i class="icon-chevron-up icon"></i>
								</button>
								<button class="btn btn-default btn-xs add-playlist" data-loaded="false">
									<i class="icon-plus icon"></i>
								</button>
								<button class="btn btn-default btn-xs play-playlist" data-loaded="false">
									<i class="icon-play icon"></i>
								</button>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="playlist-songs" id="playlist_songs_<%=p.id%>">
						</div></td>

					</tr>
					<%end%>
				</tbody>
			</table>
			<%else%>
			<p>
				The user has no public playlists
			</p>

			<%end%>
		</div>
	</div>
	<%else%>
	<span class="amuzzin-font"><span class="red">No</span> User</span><br><br>
	The user does not exist
	<%end%>
</div>
<%= render :partial => "layouts/footer" %>
</div>

<script>
$(document).ready(function(){
    var preview = $(".profile-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
       show_flash("Changing Profile picture ...",false);
      $('#upload_form').click();
    });

  		$("abbr.timeago").timeago();
});
</script>