$('#content').html("<%= escape_javascript(render :partial => "/user/friends_stream",:locals=>{:online_friends=>@online_friends,:friends_current_playlist=>@friends_current_playlist,:friends_current_song=>@friends_current_song}) %>");
<%if current_user%>
$("#friends .pagination a").attr("data-title","Amuzzin-Friends' Radio");
$("#friends .pagination a").attr("class","ajax-link");
friend_geojson = JSON.parse('<%=@mapped_friends_geojson.html_safe%>');
<%end%>