<div class="friend-songs-inner">
					<%unless @friend_queue.blank?%>
					<ul>
						<% @friend_queue.each do |s|%>
						<%unless s.blank?%>
						<li class="play-all" style="margin-right:10px;border-bottom:solid 1px #DDD" data-identifier="<%= generate_random%>" data-src="<%= s.src_path%>" data-name="<%= s.title%>" data-art="<%= s.art("small")%>" data-album="<%= s.album%>" data-id="<%= s.id%>">
							<table class="fr-songs-table">
								<tr>
									<td><img src="<%= s.art("small")%>" class="small-image friend-song-image"/></td>
									<td>
									<div style="width: 220px;height:20px">
										<a href="/s/<%=s.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(s.title, :length=> 20)%>">
										<span class="tool-tip red" title="<%= s.title%>"><%= truncate(s.title, :length=> 28)%></span>
										</a>
									</div>
									<div style="height: 20px; width:220px;">
										<span style="color:#606060" class="tool-tip" title="<%= s.album%>"><%= truncate(s.album, :length=> 28)%></span>
									</div></td>
									<td>
									<%= render :partial => "utility/song_toolbar" , :locals => {:song => s , :style => ""} %></td>
								</tr>
							</table>

						</li>
						<%end%>
						<%end%>
					</ul>
					<%else%>
					<p>
						Your friend is not hearing any songs currently
					</p>
					<%end%>

				</div>