$('#content').html("<%= escape_javascript(render :partial => "/user/insight",:locals=>{:a=>1}) %>");
setTimeout(function(){google.load('visualization', '1', {'callback':'', 'packages':['corechart']})}, 2000);