
$('#content').html("<%= escape_javascript(render :partial => "/user/my_song",:locals=>{:my_songs=>@my_songs}) %>");
$("#my_songs .pagination a").attr('data-title','Amuzzin-My Songs');
$("#my_songs .pagination a").attr('class','ajax-link');


