<div data-role="page">
<%= render :partial => "upload_song/toolbar"%>
<ul data-role="listview" data-inset="true">
		<%if user_signed_in?%>
		<% unless current_user.uploaded_songs.count.eql? 0 %>

	<% current_user.uploaded_songs.each do |cut|%>
		<li><a href="#" onclick="set_song('<%=cut.src_path%>')"><img src="<%=cut.art("medium")%>" /> <%=cut.title%> </a></li>
	<% end %>

<%else%>
<li> You have no cut songs </li>
<%end%>
<%else%>
<li> Please sign in at the top corner to use this feature</li>
<%end%>
</ul>
</div>