$('#content').html("<%= escape_javascript(render :partial => "/user/profile",:locals=>{:user=>@user,:user_songs=>@user_songs,:user_playlists=>@user_playlists}) %>");
<%if @user%>
$("#profile .pagination a").attr('data-title','Amuzzin-<%=@user.name%>');
<%else%>
$("#profile .pagination a").attr('data-title','Amuzzin-Not Found');
<%end%>
$("#profile .pagination a").attr('class','ajax-link');
if(document.getElementById(tab)!=null)
{
	$(document.getElementById(tab)).tab('show');
}
else
{
	$('#song-tab').tab('show');
}
