<%unless @current_queue.blank?%>
var current_song_position=0,counter=0;
<%@current_queue.each do |q|%>
    <% next if q.blank? %>
	<%identifier=generate_random%>
		if('<%=@current_song%>'=='<%=q.id%>')
		current_song_position=counter;
		var ael = document.createElement('audio');
		ael.setAttribute('data-src',"<%= escape_javascript(q.src_path)%>");
		ael.setAttribute('id', "<%= identifier%>");
		ael.setAttribute('data-name', "<%= escape_javascript(q.title)%>");
		ael.setAttribute('data-art', "<%= escape_javascript(q.art("small"))%>");
		ael.setAttribute('data-album', "<%= escape_javascript(q.album)%>");
		ael.setAttribute('data-id', "<%= q.id%>");
		ael.setAttribute('preload', "auto");
		document.getElementById('player1-songs').appendChild(ael);
		//ael.addEventListener('error', player_objects[0].resetaudio, false);
		player_objects[0].playlist.push('<%= identifier%>');
		counter++;
<%end%>
		player_objects[0].playChosen(player_objects[0].playlist[current_song_position]);
		<%if user_signed_in?%>
		socket.emit('get_song_queue_count', {song: $('#'+player_objects[0].playlist[current_song_position]).attr('data-id')});
		<%end%>
		player_objects[0].play_pause_song();
<%end%>