<%unless @queue.blank?%>
var el_collection = [];
var html='<div style="margin-top:5px;color:#999"><%=@user%> added the following songs to group queue : <strong>'
<%@queue.each do |q|%>
    <% next if q.blank? %>
	<%identifier=generate_random%>
		var ael = document.createElement('span');
		ael.setAttribute('data-src',"<%= escape_javascript(q.src_path)%>");
		ael.setAttribute('data-identifier', "<%= identifier%>");
		ael.setAttribute('data-name', "<%= escape_javascript(q.title)%>");
		ael.setAttribute('data-art', "<%= escape_javascript(q.art("small"))%>");
		ael.setAttribute('data-album', "<%= escape_javascript(q.album)%>");
		ael.setAttribute('data-id', "<%= q.id%>");
		ael.setAttribute('preload', "auto");
		el_collection.push(ael);
		html +="<p><%=q.title%></p>";
<%end%>
		html+='</strong></div>';
		player_objects[0].socket_enabled = false;
		player_objects[0].mass_add_songs_to_queue(el_collection,'add');
		//check if player's current song is not group song
		if(player_objects[0].position > -1 && player_objects[0].current_audio.getAttribute('data-id')!='<%=@group_song%>')
		{
			playlist = player_objects[0].playlist;
			status = player_objects[0].status;
			for(i=0;i<playlist.length;i++)
			{
				el = $('#'+playlist[i]);
				if(el.attr('data-id')=='<%=@group_song%>')
			    {
			      player_objects[0].playChosen(player_objects[0].playlist[i]);
			      break;
			    }
			}
			if(status==0)
			player_objects[0].play_pause_song();
		}

		player_objects[0].socket_enabled = true;
		$('#group-chat').append(html);
<%end%>