<div style="position:relative">

	  	<div id="group-log" data-id="<%=group.id%>" class="pull-left" style="width:320px;height:500px;border-right:1px solid #ddd;">
	  		<strong>Welcome to <span class="red" style="font-size:15px">"<%=group.name%>"</span></strong>
	  		<div class="btn-group pull-right offset10pxr">
	  			<button class="btn btn-default btn-xs disabled" id="show-group-chat"><i class="icon icon-comment"></i></button>
	  			<button class="btn btn-default btn-xs" id="show-group-log"><i class="icon icon-list"></i></button>
	  		</div>
	  		<br clear="both">
			<div id="group-log-other" style="display:none;">
				<div id="group-other">
	  				<%=render :partial => 'group_log', :locals => {:group => group,:type=>'other',:index=>0,:size=>50,:id=>'group_other'}%>
	  			</div>
	  		</div>
	  		<div id="group-log-chat">
		  		<div id="group-chat">
		  			<%=render :partial => 'group_log', :locals => {:group => group,:type=>'chat',:index=>0,:size=>50,:id=>'group_chat'}%>
		  		</div>
	  		<br>
	  		<div class="input-append">
				<input placeholder="Type a message and press enter ..." type="text" id="send_chat_to_group_box" style="width:265px" value=""></input>
				<button class="btn btn-danger btn-sm" title="Send this message to group" onclick="send_chat_to_group()"><icon class="icon icon-comment"></i></button>
			</div>
	  		</div>
			<br/>


	  	</div>
	  	<div id="group-slider" class="pull-right">

        	<div id="group-members" style="width:208px">
        		<span class="amuzzin-font" style="font-size:16px">Group Members</span><br/>
        		<a href="#" id="show-online-friends">Show Online Friends</a>
        		<table class="table table-striped" id="group_member_table">
        			<%group_members.each do |f|%>
        			<%if f.is_group_listen_enabled? && f.current_group == group%>
      	  			<tr id="group_member_<%=f.id%>">
      	  			<%else%>
      	  			<tr id="group_member_<%=f.id%>" title="This user is not in this group right now" class="transparent">
      	  			<%end%>
      	  				<td><img src="<%=f.get_profile_pic%>" class="small-image queue-image"/></td>
      	  				<td><%=f.name%></td>

      	  			</tr>
        			<%end%>
        		</table>
        	</div>
        	<div id="online-friends" style="width:210px" >
	  			<span class="amuzzin-font" style="font-size:16px">Online Friends</span><br/>
	  			<a href="#" id="show-group-members">Show Members</a>
	  			<button class="bpopup btn btn-xs btn-danger" data-height="400" data-width="310" data-url="/group/invite_offline_friends">
                  Invite offline friends
                </button><br>
	  			<table id="group_online_table" class="table table-striped offset10pxt">
	  			<%if @online_friends.present?%>
	  			<%@online_friends.each do |f|%>
	      	  		<tr id="online_friend_<%=f.id%>">
	      	  			<td><img src="<%=f.get_profile_pic%>" class="small-image queue-image"/></td>
	      	  			<td><%=f.name%></td>
	      	  			<td>
	      	  				<button class="btn btn-danger btn-xs invite_user_to_group" id="invite_user_<%=f.id%>" data-user="<%=f.id%>" <%=('style="display:none"').html_safe if group_members.include?(f)%>  data-calling="false" onclick="invite_to_group(this)"><i class="icon icon-plus"></i></button>
	      	  			</td>
	      	  		</tr>
	        	<%end%>
	        	<%else%>
	        	<tr id="none-online"><td colspan="2">No friend is online</td></tr>
	        	<%end%>
	        	</table>
	        </div>
	  	</div>
	</div>
	<br clear="both"/>
	<script>
	var chat_focus = false;
	if(!player_objects[0].group_listen)
		player_objects[0].enable_group_listen();
	$("#send_chat_to_group_box").keyup(function(event){
	    if(event.keyCode == 13){
	        send_chat_to_group();
	    }
	});
	$('#group-chat').slimScroll({
		height : '430px',
		wheelStep: 10,
		railVisible : true
	});
	$('#group-other').slimScroll({
		height : '480px',
		wheelStep: 10,
		railVisible : true
	});
	setTimeout(function(){
		var scrollTo_val = $('#group-chat').prop('scrollHeight') + 'px';
		$('#group-chat').slimScroll({scrollTo: scrollTo_val});
	}, 500);

	</script>