    <span class="amuzzin-font"><span class="red">Group</span> Request</span>

<hr/>

<div>

Incoming Group Listen Request from <b><%=@request_user%></b> ... 

<% if @leave_group_id %>
  <br/>
  <span class="red">
    (You are already in a Group. Joining this group will make you switch to the new group.)
  </span>
<%end%>

<br/>
<br/>

<center>

<button class="btn btn-default btn-sm btn-success" style="margin-top:-5px" onclick="accept_group_request()">
        <i class="icon icon-ok"></i> Accept and Join Group
      </button>

      <button class="btn btn-default btn-sm btn-danger" style="margin-top:-5px" onclick="ignore_group_request()">
        <i class="icon icon-remove"></i> Ignore Request
      </button>

</center>

</div>
<script>
	var ignore_request = setTimeout(function(){
    notify_missed_call(<%=@user.id rescue "-1"%>,<%=@group.id%>);
		ignore_group_request();
	},20000);
</script>