<div>
<div id="group_listen" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Group</span> Listen</span>
	<% if current_user && current_user.groups.present?%>
		&nbsp;&nbsp;&nbsp;<button title="All the Groups you have Joined" class="btn btn-default btn-xs btn-danger" style="margin-top:-5px" onclick="load_once_div('my_groups','/user/my_groups')">
				<i class="icon icon-group"></i> My Groups
			</button>
	<%end%>
	<% unless current_user.blank? || current_user.groups.blank? || @group.blank? || current_user.is_group_listen_enabled? %>
		<button title="Enable and Resume Group Listen" class="btn btn-default btn-xs btn-danger" style="margin-top:-5px" onclick="enable_group()"> 
			<i class="icon icon-ok"></i>  Enable </button>
	<%end%>
	<%if user_signed_in? && @group && current_user.is_group_listen_enabled?%>
	<div class="pull-right">
		<div class="input-append pull-left">
			<input  type="text" class="input-xs" name="group_name" id="group_name" placeholder="Group Name"/>
			<button style="vertical-align:middle" class="btn btn-danger btn-xs" onclick="start_new_group_listen()">Start New Group</button>
		</div>
		<div class="dropdown pull-left offset10pxl">
			<i class="icon icon-cog dropdown-toggle" style="font-size:20px;cursor:pointer" data-toggle="dropdown"></i>
			<ul class="dropdown-menu">
				<li><a href="#" onclick="disable_group()">Disable Group Listen</a></li>
				<li><a href="#" onclick="leave_group()">Leave Group</a></li>
			</ul>
		</div>
	</div>
	<%end%>
	<br>
	<br>

	    <div id="my_groups" style="display:none"></div>

	<%if user_signed_in?%>
	  <%if @group.present? && current_user.is_group_listen_enabled?%>
	  	<%=render :partial => 'group', :locals => {:group => @group,:group_members => @group_members}%>
	<%else%>
		<%=render :partial => 'start_group', :locals => {:group => @group}%>
	<%end%>
<%else%>
	<p>Now you can listen to songs along with your best pals.</p>
	<p>Please log in to use this feature.</p>
<%end%>
</div>
<%= render :partial => "layouts/footer" %>
</div>