<%if group.previous_page(type,index,size)%>
	<%= link_to 'Load more', "/group/group_log?type=#{type}&index=#{index+size}&size=#{size}&id=#{id}", :id=>"load-more-#{id}",:onclick => "$(this).html('<img src=\"/loading.gif\"/>')",:style=>"display:block;text-align:center", :remote => true %>
<%else%>
	<center><span>No more to show</span></center>
<%end%>
<%case type
when 'other'%>
<%=parse_log(group.other_log(index,size))%>
<%when 'chat'%>
<%=parse_log(group.chat_log(index,size))%>
<%end%>
<script>
$('abbr.timeago').timeago();
</script>