<%if group%>
<p>You are already in a group but have disabled Group Listen.</p>
Click Enable button at the top to resume Group Listen 
<br/><br/> Or If you wish to start a new Group then  <br/>

<%elsif current_user.groups.present?%>
<p>You have groups but you have not switched to one.</p> 
<p>You can either switch to one of the groups by</p>
<p> clicking on 'My groups' and join or start a new one</p>
<%else%>
<p>You can now listen to songs along with your friends.</p>
<p>Group listen allows the group's members to listen to a common queue.</p>
<p>All the group actions are synced among its members enhancing the social experience.</p>
<p>Start one now to experience it.</p>
<%end%>

<div class="input-append">
	<input  type="text" name="group_name" id="group_name" placeholder="   Enter some group name and "/>
	<button style="vertical-align:middle" class="btn btn-danger btn-sm" onclick="start_new_group_listen()">Start New Group <i class="icon-group"></i></button>
</div>