<%=popup_title('Invite Offline Friends')%> 
<br/>
<%if current_user%>
	<%if @offline_friends.present?%>
		<table id="all_friends_table" class="table table-striped">
			<tbody>
				<% @offline_friends.each_with_index do |f|%>
				<tr>
					<td><%= image_tag f.get_profile_pic,:class=>'small-image queue-image'%></td>
					<td>
					<div style="height:20px;width:180px;">
						<a href="/u/<%= f.id%>" title="<%= f.name%>" class="ajax-link"  data-title="Amuzzin-<%= f.name%>">
						<%= truncate(f.name, :length=> 20)%>
						</a>
					</div></td>
					<td>
					<%=group_invite_button(f,current_user.current_group)%>
					</td>
				</tr>

				<%end%>
			</tbody>
		</table>
	<%else%>
	There are no offline friends
	<%end%>
<%else%>
Please sign in to invite friends to group
<%end%>