<div id="cut_songs" class="well well-small offset10pxl offset15pxt" style="width: 535px;">

	<span class="amuzzin-font"><span class="red">My</span> Cuts</span>
	<br />
	<br />
	<%if user_signed_in?%>
	<% unless cut_songs.blank? %>
	<div id="shareModal" class="modal hide fade" style="display:none;">
		<div class="modal-body">
			<label class="checkbox"> <img src="/facebook_icon_small.jpg"/>
				<input type="checkbox" id="fb_check">
				Facebook
				<% if current_user.blank? or !current_user.has_fb_auth? %> <a href="/auth/facebook" target="_blank"> [ Click here to Connect with Facebook ] </a> <%end%> </label>
			<label class="checkbox"> <img src="/twitter-icon-small.gif"/>
				<input id="tw_check" type="checkbox">
				Twitter
				<% if current_user.blank? or !current_user.has_tweet_auth? %> <a href="/auth/twitter" target="_blank"> [ Click here to Connect with Twitter ] </a> <%end%> </label>
			<br>
			<center>
				<button  class="btn btn-danger" onclick="share_cut()">
					<i class="icon icon-share"></i>Share
				</button>
			</center>
		</div>
	</div>
	<%= will_paginate cut_songs , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
	<table class="table table-hover">
		<thead>
			<tr>
				<th> Song Title </th>
				<th> Type </th>
				<th> Start </th>
				<th> End </th>
				<th> Send to <i class="icon-heart"></i></th>
				<th> Preview </th>

			</tr>
		</thead>
		<tbody>
			<% cut_songs.each do |cut|%>
			<% shared = cut.shared_cuts.count > 0 %>
			<tr class="<%= shared ? "success" : "error" %>">
				<td>
				<div style="width:200px">
					<%= cut.uploaded_song.name%>
				</div></td>
				<td><!--TODO Add functionalities to these components --> <% if  shared%>
				<div class="btn-group">
					<a class="btn btn-default btn-xs btn-success" style="color:white !important" href="#">Shared</a>
					<a class="btn btn-default btn-xs btn-success dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#"><i class="icon-ban-circle"></i> Revoke share </a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" onclick="delete_cut(<%= cut.id%>,this.parentNode.parentNode.parentNode.parentNode.parentNode)"><i class="icon icon-remove"></i> Delete </a></a>
						</li>

					</ul>
				</div> <%else%>
				<div class="btn-group">
					<a class="btn btn-default btn-xs btn-danger" style="color:white !important" href="#">Draft</a>
					<a class="btn btn-default btn-xs btn-danger dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#shareModal" data-toggle="modal" onclick="set_cut_song(<%= cut.id%>)"><i class="icon-share"></i> Share </a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" onclick="delete_cut(<%= cut.id%>,this.parentNode.parentNode.parentNode.parentNode.parentNode)"><i class="icon icon-remove"></i> Delete </a></a>
						</li></li>
					</ul>
				</div> <%end%> </td>
				<td> <%= cut.humanize cut.start_duration%> </td>
				<td> <%= cut.humanize cut.end_duration%> </td>
				<td><div class="fb-send" data-href="http://<%= request.host%>:<%= request.port%>/ct/<%= cut.url%>"></div></td>
				<!-- 	<td> <a href="/ct/<%=cut.url%>"> View </a> </td> -->
				<td><a href="/ct/<%= cut.url%>" class="ajax-link" data-title="Amuzzin-<%= cut.uploaded_song.name%>"><span class="red"><b>View</b></span></a></td>

			</tr>
			<%end%>
		</tbody>
	</table>
	<%else%>
	You have no cut songs
	<%end%>
	<%else%>
	<p>
		You can find your cut songs here
	</p>
	<p>
		Please sign in at the top corner to use this feature
	</p>
	<%end%>
</div>

<script>
function delete_cut(cut_id,el)
{
$(el).remove();
invoke_controller_action('','POST','/cut_song/delete_cut_song?id='+cut_id,'');
}
function set_cut_song(id)
{
cut_song_id = id;
}

function share_cut()
{

var fb = $('#fb_check')[0].checked;
var tw = $('#tw_check')[0].checked;
if(!(fb||tw))
{
alert("You should select atleast one social stream to share");
return;
}

var share ="&fb_share="+fb+"&tw_share="+tw;
s = $.ajax({
type: "POST",
url: "/share_service/share_draft_song/",
data: "id="+cut_song_id+share,
});
}
FB.XFBML.parse();
</script>

