
<div id="shared_cuts" class="well well-small offset15pxt offset10pxl" style="width: 535px;" >
<span class="amuzzin-font"><span class="red">Shared</span> Cuts</span><br /><br />
<%if user_signed_in?%>
		<% unless cut_songs.blank? %>
		<%= will_paginate cut_songs , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
	<table class="table table-striped">
	<thead>
	<tr>
		<th> Song Title </th>
		<th> From </th>
		<th> Start </th>
		<th> End </th>
		<th> Marked on </th>
		<th> Page </th>
		
		
		
	</tr>
	</thead>
	<tbody>
	<% cut_songs.each do |cut|%>
	<tr>
	<td> <div style="width:200px"><%=cut.uploaded_song.name%></div> </td>
	<td> <a href='http://facebook.com/<%=cut.get_user%>' target='_blank'><%=image_tag fb_dp(cut.get_user)%></a> </td>
	<td> <%=cut.humanize cut.start_duration%>	</td>
	<td> <%=cut.humanize cut.end_duration%> </td>
	<td> <%=cut.updated_at%> </td>
	<!-- <td> <a href="/ct/<%=cut.url%>"> View </a> </td> -->
	<td><a href="/ct/<%=cut.url%>" class="ajax-link" data-title="Amuzzin-<%=cut.uploaded_song.name%>"><span class="red"><b>View</b></span></a></td>

	
	
	
	</tr>
	<%end%>
	</tbody>
</table>
<%else%>
 You have no shared cuts
<%end%>
<%else%>
<p>This lists all the cuts which has been shared with you</p>
<p>Please sign in at the top corner to use this feature</p>
<%end%>
</div>
