$('#content').html("<%= escape_javascript(render :partial => "/cut_song/cut_song",:locals=>{:cut_songs=>@cut_songs}) %>");
$("#cut_songs .pagination a").attr('data-title','Amuzzin-My Cuts');
$("#cut_songs .pagination a").attr('class','ajax-link');