$('#content').html("<%= escape_javascript(render :partial => "/cut_song/shared_cuts",:locals=>{:cut_songs=>@cut_songs}) %>");
$("#shared_cuts .pagination a").attr('data-title','Amuzzin-Shared Cuts');
$("#shared_cuts .pagination a").attr('class','ajax-link');