

<div class="bubble-list comments_<%=params[:id]%>">
  <% unless comments.empty? %>
    <%= render :partial => 'opinio/comments/comment', :collection => comments %>
  <% else %>
    <div class="no_comments_<%=params[:id]%>" style="height:50px;margin-top:20px;"><center><%= t('opinio.messages.no_comments_found') %></center></div>
  <% end %>
</div>

<div>
  <%= will_paginate comments , :renderer => BootstrapPagination::Rails,:inner_window=>2 , :class => "pagination pagination-centered pagination-mini"%>
</div>
<br/>
<script>
if('<%=params[:action]%>'=='current_song')
{
$("#current_song .comments_section .pagination a").attr('class','ajax-comment-link');
}
else if('<%=params[:action]%>'=='song_page')
{
$("#song_page .comments_section .pagination a").attr('class','ajax-link');
} 
</script>
