<% reply = defined?(reply) ? reply : false %>
<div class="bubble clearfix" id="comment_<%=comment.id%>">
  <a href="/u/<%=comment.owner.id%>" class="ajax-link tool-tip" data-title="Profile-<%=comment.owner.name%>" title="<%=get_tooltip_details(comment.owner)%>">
        <img src="<%=comment.owner.get_profile_pic%>"></img>
  </a> 
  <div class="bubble-content">
    <div class="point"></div>
      <p><a href="/u/<%=comment.owner.id%>" class="ajax-link tool-tip" data-title="Profile-<%=comment.owner.name%>" title="<%=get_tooltip_details(comment.owner)%>"><span style="font-weight: bold"><%=comment.owner.name%>: </span></a><%= comment.body %> </p>
      <p class="time-ago pull-right" style="position:relative;margin-top:-7px"><i class="icon icon-time" ></i> 
        <abbr class="timeago" title="<%=comment.created_at.iso8601%>">
          <%=comment.created_at.strftime("%B %d at %I:%M %p")%> UTC
        </abbr>
      </p>
  </div>
  <%# link_to t('opinio.actions.delete'), comment_path(comment), :method => :delete, :remote => true %>
  <%# this enables only 1 level of replies %>
  <% if Opinio.accept_replies && !reply %>
    <span><%= link_to t('opinio.actions.reply'), reply_comment_path(comment), :remote => true %></span>
    <ul id="comment_<%= comment.id %>_replies" class="replies">
      <%= render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true} %>
    </ul>
  <% end %>
     <br/>

    </div>
  <script>
      $("abbr.timeago").timeago();
  </script>