<div id="comment_form">
  <% if send(Opinio.current_user_method) %>
    <%= form_for Comment.new, :remote => true do |f| %>
      <p class="offset10pxl" style="position:relative;top: 10px;">
        <%= f.text_area :body,:maxlength => 500, :placeholder => 'Write a comment...' %>
      </p>
      <%= hidden_field_tag :commentable_id, commentable.id %>
      <%= hidden_field_tag :commentable_type, commentable.class.base_class.name.to_s %>
      <center><div class="btn-group offset15pxt"><button action="submit" class="btn btn-sm btn-danger"><span>Post</span></button>
      <button type="button" class="btn btn-default btn-sm" onclick="clearComment(this);"><span>Clear</span></button></div></center>
    <% end %>
  <% else %>
    <p align="center" style="position:relative;top:10px;">
      <%= t('opinio.messages.must_be_logged_in_to_comment') %>
    </p>
  <% end %>
</div>

