$('.no_comments_<%=params[:commentable_id]%>').hide();
<% if @comment.valid? %>
  <% if @reply %>
    if($('.comments_<%=params[:commentable_id]%> #comment_<%= @comment.commentable_id %> ul').length == 0)
      $('.comments_<%=params[:commentable_id]%> #comment_<%= @comment.commentable_id %>').append('<ul id="comment_<%= @comment.commentable_id %>_replies" class="replies"></ul>');
    $('.comments_<%=params[:commentable_id]%> #comment_<%= @comment.commentable_id %>_replies').append("<%= escape_javascript( render @comment, :locals => {:reply => @reply} ) %>");
    $('.comments_<%=params[:commentable_id]%> #commentable_id').val('<%= @comment.commentable.commentable_id %>');
    $('.comments_<%=params[:commentable_id]%> #commentable_type').val('<%= @comment.commentable.commentable_type %>');
  <% else %>
    $('.comments_<%=params[:commentable_id]%>').<%= Opinio.sort_order == 'ASC' ? 'append' : 'prepend'%>("<%= escape_javascript( render @comment, :locals => {:reply => @reply} ) %>");
  <% end %>
<% else %>
  $('.comments_<%=params[:commentable_id]%>').prepend("<%= escape_javascript(flash[:notice]) %>");
  $('.comments_<%=params[:commentable_id]%>').prepend("<%= escape_javascript(flash[:error]) %>");
<% end %>
