<h1><%= t('opinio.messages.comments') %></h1>
<%= will_paginate @comments , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
<%= render :partial => "opinio/comments/comments", :locals => { :comments => @comments } %>
<%= will_paginate @comments , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>

