<%page=params[:page]%>

<b>  <i class="icon-user" title='updated profile song'></i></b>updated profile song to
<% if activity.trackable %>
<% feed_song=activity.trackable.uploaded_song%>
<table class="song-el-table table table-striped" style="margin-top: 10px;">
  <tbody>
  <tr>
    <td><img src="<%= feed_song.art("medium")%>" class='medium-image feed-art'/></td>
    <td>
    <div style="height:20px;width:250px;">
        <a href="/s/<%=feed_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(feed_song.title, :length=> 20)%>">

      <span class="feed-tool-tip<%=page%> bold red" title="<%= get_tooltip_for_song(feed_song)%>"><b><%= truncate(feed_song.title, :length=> 25)%></b></span>
    </a>
    </div>
    <div style="height:20px;width:250px;">
      <span class="feed-tool-tip<%=page%> bold" title="<%= feed_song.album%>"><b style="color: #909090"><%= truncate(feed_song.album, :length=> 25)%></b></span>
    </div>
    <div style="height:20px;width:250px;color:#606060">
      by <a href="/u/<%= feed_song.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= feed_song.get_user%>"><span class="feed-tool-tip<%=page%>" title="<%= feed_song.get_user%>"><%= truncate(feed_song.get_user, :length=> 25)%></span></a>
    </div></td>
    <td>
    <%= render :partial => "utility/song_toolbar" , :locals => {:song => feed_song , :style => "margin-left:50px"} %>
          </td>

    <td class="song-el"><span data-identifier="<%= generate_random%>" data-src="<%= feed_song.src_path%>" data-name="<%= feed_song.title%>" data-art="<%= feed_song.art("small")%>" data-album="<%= feed_song.album%>" data-id="<%= feed_song.id%>" ></span></td>

  </tr>
  </tbody>
</table>
<% else %>
which has since been removed
<% end %>
<p class="time-ago"><i class="icon icon-time" ></i>
  <abbr class="timeago" title="<%=activity.created_at.iso8601%>">
    <%=activity.created_at%>
  </abbr>
</p>

