<%page=params[:page]%>
<% if activity.trackable %>
<i class="icon-comment" title='commented'></i> on a song </b>
<% body = activity.trackable.body %>
<% feed_song= UploadedSong.find(activity.trackable.commentable_id)%>
<table class="song-el-table">
	<tr>
	<td><img src="<%= feed_song.art("medium")%>" class='medium-image feed-art'/>
	</td>
	<td>
	<div style="height:20px;width:150px;">
	<a href="/s/<%=feed_song.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(feed_song.title, :length=> 20)%>">
		<span class="feed-tool-tip<%=page%> bold red" title="<%= get_tooltip_for_song(feed_song)%>"><b><%= truncate(feed_song.title, :length=> 20)%></b></span>
	</a>
	</div>
	<div style="height:20px;width:150px;">
		<span class="feed-tool-tip<%=page%> bold" title="<%= feed_song.album%>"><b style="color: #909090"><%= truncate(feed_song.album, :length=> 20)%></b></span>
	</div>
	<div style="height:20px;width:150px;color:#606060">
		by <a href="/u/<%= feed_song.user.id%>" class="ajax-link"  data-title="Amuzzin-<%= feed_song.user.name%>"><span class="feed-tool-tip<%=page%>" title="<%= get_tooltip_details(feed_song.user)%>"><%= truncate(feed_song.get_user, :length=> 20)%></span></a>
	</div>
	</td>
	<td>
	<div class="bubble-content pull-right">
		<div class="point"></div>
		<p><%= body[0..150]%><%= "..." if body.size > 150%></p>
	</div>
	</td>
	</tr>	
</table>
<% else %>
comment has been removed.
<% end %>
<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=activity.created_at.iso8601%>">
		<%=activity.created_at.strftime("%B %d at %I:%M %p")%> UTC
	</abbr>
</p>
