@import "compass";
@import "compass/reset";
@import "introjs.min";
@import "jquery.fileupload-ui";

@import "jquery.ui.all";
@import "player.css.scss";

@import "related_songs.css.scss";
@import "bootstrap_and_overrides.css.less";
@import "libnotify";
@import "normalize";
@import "bootstrap";

@import url("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css");

@import "player/*.png";
@include all-player-sprites;



body {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  position:relative;
  min-width:1090px;
}

.inner-border
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img
{
	max-width:none !important;
  -ms-interpolation-mode: bicubic;
}
/*a img {
  border: none;
}*/

.pl-icon1 {
	display: block;
	width: 28px;
	height: 31px;
}
 .pl-icon2 {
    display: block;
    width: 22px;
    height: 20px;
  }
  
  .pl-mini {
    display: block;
    width: 39px;
    height: 39px;
  }

 .pl-curve {
    display: block;
    width: 30px;
    height: 30px;
  }

  .pl-log {
  	display: block;
	width: 105px;
	height: 21px;
}

.pl-cut {
	display: block;
	width: 50px;
	height: 50px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.clearfix:after {
visibility:hidden;
display:block;
font-size:0;
content: ".";
clear:both;
height:0;
}
.clearfix {
display: inline-block;
}
* html .clearfix {
height: 1%;
}
.bubble-list .bubble img {
float:left;
margin-left:10px;
height:28px;
width:28px;
@extend .small-image
}

.bubble-content
{
 position:relative;
 float:left;
 margin-left:12px; 
 padding:0px 20px;
 border-radius: 3px;
 behavior: url(/PIE/PIE.htc);
 background-color:#F5F5F5;
 box-shadow:1px 1px 5px rgba(0,0,0,.2);
 width:195px;
 behavior: url(/PIE/PIE.htc);
}

.btn-player .icon
{
  display: inline;
  vertical-align:middle;
  text-align:center; 
}

.icon
{
  display:inline;
  vertical-align:middle;
}

#map { height: 343px; }


#song_page .bubble-content {
 width:430px;
}

#current_song #comment_body
{
  width:270px;
  height:30px;
}

#song_page #comment_body
{
  width:502px;
  height:30px;
}
.bubble {
margin-top: 15px;
}
 .point {
 border-top: 10px solid transparent;
border-bottom: 10px solid transparent;
border-right: 12px solid #F5F5F5;
 position:absolute;
left: -10px;
top: 5px;
} 


.notification-container {
    position: relative;
    width: 16px;
    height: 16px;
    top: 15px;
    left: 15px;
    
    i {
        color: #fff;
    }
}

.notification-counter {   
    position: absolute;
    top: 1px;
    left: 23px;
    border-radius: 6px;
    behavior: url(/PIE/PIE.htc);
    background-color: #3ADF00;
    color: #454545;

    padding: 1px 3px;
    font: 12px Verdana;
}

.online-counter {   
    position: absolute;
    top: 1px;
    left: 16px;
    border-radius: 6px;
    behavior: url(/PIE/PIE.htc);
    background-color: #3ADF00;
    color: #454545;

    padding: 1px 3px;
    font: 12px Verdana;
}

.new-feature {   
    position: absolute;
    top: 1px;
    border-radius: 6px;
    behavior: url(/PIE/PIE.htc);
    background-color: #3ADF00;
    color: #454545;

    padding: 1px 3px;
    font: 12px Verdana;
}

.fake-notification {
    font: 10px Arial;
    margin-top: 50px;
}


#container {
  width: 75%;
  margin: 0 auto;
  background-color: #FFF;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}




#user_nav {
  float: right;
  margin-bottom: 10px;
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #F5F5F5;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  behavior: url(/PIE/PIE.htc);
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  behavior: url(/PIE/PIE.htc);
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}


body { padding-top: 50px; }
body { padding-bottom: 40px; }

.button.bClose {
border-radius: 7px;
behavior: url(/PIE/PIE.htc);
box-shadow: none;
font: bold 131% sans-serif;
padding: 0 6px 2px;
position: absolute;
right: -7px;
top: -7px;
}

.flashplayer {
border-radius: 7px;
behavior: url(/PIE/PIE.htc);
padding: 0 6px 2px;
position: relative;
left: 40px;
top: 10px;
}


.roller {
margin-left:10px;
}

#main-menu
{
  height:224px;
}

#main-menu ul li
{
	width:182px;
	list-style: none;
	position:relative;
  font-size:13px;
  right:25px;
  padding:0px;
  background-color:transparent;
  cursor: pointer;
  display: block !important;
   	
}
#main-menu ul li a
{
display:block;
padding:5px;
}

#main-menu li a
{
	color:#ffffff;
}

a{
	color:#454545 !important;
}

a:hover{
	text-decoration: none !important;	
	color:#CC3333 !important;
}


.caret-black
{
	border-top-color: #000000 !important;
	border-bottom-color: #000000 !important;
}

.caret-white
{
	border-top-color: #ffffff !important;
	border-bottom-color: #ffffff !important;
}
.my-song-art
{
	height:129px !important;
	width:129px !important;
  
}

.popular-art
{
  height:130px !important;
  width:130px !important;
}

.qr-art
{
  height:130px !important;
  width:130px !important;
}

.share-art
{
  height:110px !important;
  width:110px !important;
}

#video-thumbnail img, #video-thumbnail-main
{
	height:100px !important;
	width:120px !important;
}

.fav-art
{
	height:60px !important;
	width:60px !important;
}

.favourite-link:hover
{
  color: #000000 !important;
}

.search-art
{
	height:50px !important;
	width:50px !important;
}

.feed-art
{
  height:50px !important;
  width:50px !important;
}

.friend_pic
{
	height:60px !important;
	width:60px !important;
}

.friend-song-image
{
	height:40px !important;
	width:40px !important;
}
.auto-image
{
	height:25px !important;
	width:25px !important;
	margin-top: 2px !important;
	
}
#main-menu li img
{
  height:20px;
  width:20px;
}

.well{
	background-color:#FFFFFF !important;
}
.queue-image
{
	height:25px !important;
	width:25px !important;
  margin-left: 2px;
}
.playlist-image
{
	height:40px !important;
	width:40px !important;
}
.recommended-image
{
  height:40px !important;
  width:40px !important;
}

.recommended-list
{
  margin-right: 10px;
}

.recommended-table tr td
{
  padding:5px;
}
.playlist-art-main
{
  height:80px !important;
  width:80px !important;
}
.playlists-li li a
{
  display: block;
  padding: 3px;
}
.playlists-li li:hover
{
  background-color: #ddd;
}

.playlist-table > tbody > tr:first-child
{
  border-top:1px solid #ddd;
}
.playlist-table tr:nth-child(odd)
{
	border-bottom:1px solid #ddd;
  border-left:7px solid #fff;
}
.playlist-table tr:nth-child(odd) td
{
	padding:7px;
}

.playlist-table > tbody > tr:nth-child(4n+1)
{
  background-color:#f5f5f5;
}

.radio_td
{
	border: solid 10px white;
}
#my_playlists .playlist-songs-inner
{
margin-left:40px;
}

.playlist-songs-inner,.friend-songs-inner
{
	margin-left:20px;
}
.custom-container
{
	background-color: #F5F5F5 !important;
}
.offset15pxt
{
	margin-top:15px;
}
.offset10pxt
{
  margin-top:10px;
}
#bpopup-div
{
  overflow-y:auto;
}
.offset10pxl
{
	margin-left:10px;
}
.offset3pxl
{
  margin-left:3px;
}
.offset10pxr
{
	margin-right:10px;
}
.playlist-songs ul,.friend-songs ul{
	list-style-type: none;
}
.playlist-songs ul li
{
	padding:0px;
	border:none;
}

.playlist-songs, .friend-songs
{
height:0px;
width:500px;
overflow-x: hidden;
}


.link{
	cursor:pointer;
	
}

.red-hover:hover
{
	color:#CC3333;
}


.link-text-menu:hover{
  @extend .inner-border;
  background-color: #e6e6e6 !important;
  border-radius: 0px 30px 30px 0px;
}

.link-text:hover{
	background-color:#e6e6e6 !important;
	color:#000000 !important;
  border-bottom: #e6e6e6 1px solid !important;
}

.big-image
{
    -webkit-box-shadow: 0px 0px 3px 0px #999999;
    -moz-box-shadow: 0px 0px 3px 0px #999999;
    box-shadow: 0px 0px 3px 0px #999999;
    border:4px solid #FFFFFF;
    padding:1px;
    background-color:#DDD;
}
.medium-image
{
    -webkit-box-shadow: 0px 0px 3px 0px #999999;
    -moz-box-shadow: 0px 0px 3px 0px #999999;
    box-shadow: 0px 0px 3px 0px #999999;
    border:3px solid #FFFFFF;
    padding:1px;
    background-color:#DDD;
}
.pl-songs-table tr td,.fr-songs-table tr td,.song-el-table tr td{
	padding:5px !important;
}
.pl-songs-table tr,.fr-songs-table tr,.song-el-table tr{
	padding:0px;
	border:none !important;
}

.small-image
{
    -webkit-box-shadow: 0px 0px 5px 0px #999999;
    -moz-box-shadow: 0px 0px 5px 0px #999999;
    box-shadow: 0px 0px 5px 0px #999999;
    border:2px solid #FFFFFF;
    padding:1px;
    background-color:#DDD;
}



.alert-info,.alert-error,.alert-warning
{
	background-color:#454545 !important;
	color: #fff !important;
	position:fixed;
	z-index:9999;
	left:5px !important;
	top: 50px !important;
}
.middle-align::after {
  right: 100px !important;

}

.middle-align:before {
  right: 100px !important;
}

hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #f2f2f2;
border-bottom: none;
}

.dropdown-menu hr {
margin: 20px 0;
border: 0;
border-top: 1px solid #353535;
border-bottom: none;
}

.dropdown-menu li > a
{
	display:block !important;
	padding:4px !important;
  color: #fff !important;
}

.navbar .nav > li > .dropdown-menu:before
{
  border:none;
}
.navbar .nav > li > .dropdown-menu:after
{
  border:none;
}

.dropdown-menu
{
  background-color: #454545;
  color: #fff;
  padding:3px;
}

.dropdown-menu .divider
{
margin: 0px;
border: 0;
border-top: 1px solid #353535;
border-bottom: none;
height: 0px;
background:none;
}
.navbar .divider-vertical {
height: 35px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
{
	background-image:none !important;
	background-color:#CC3333 !important;
	color:#fff !important;
	
}

#bpopup-div
{
  background-color: white;
  border:solid #FFCCCC 20px;
  border-radius: 10px;
  behavior: url(/PIE/PIE.htc);
  display: none;
  z-index: 9999;
  padding: 25px;  
}

.modal{
border-radius: 10px !important;
behavior: url(/PIE/PIE.htc);
border:solid #FFCCCC 20px !important;
}

.navbar-fixed-top{
height:36px !important;
position:fixed;
top:0px;
padding-left:10px;
padding-right:10px;
text-align:center;
filter: none !important;
background-image: none !important;
background-repeat: no-repeat !important;
background-color:#CC3333 !important;
}
#player1{
background-color:#CC3333;
border-radius:0px 0px 20px 20px;
-moz-border-radius:0px 0px 20px 20px;
-webkit-border-radius:0px 0px 20px 20px;
behavior: url(/PIE/PIE.htc);
}
.navbar-inner
{
padding: 0px !important;
width:1090px !important;
display: inline-block;
text-align:left;
height: 36px;
background-color:transparent !important;
background-image: none !important;
background-repeat: no-repeat !important;
filter: none !important;
border-style:none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow:none !important;
box-shadow:none !important;
}

.navbar .brand
{
  height: 40px;
  width: 200px;
  padding:0px;
  margin-left:0px;
}

.navbar .brand img,.navbar .brand span
{
  display:inline-block;
  vertical-align:middle;
}
.navbar .brand img
{
  width:40px;
}
.navbar .brand span
{
  margin-left:5px;
  height:21px;
}

.navbar .container
{
  width:1090px;
}


.nav-options
{
	color:#FFFFFF !important;
	font-size:14px !important;
	font-weight:200 !important;
	font-family:Arial, Helvetica, sans-serif !important;
	margin-top:-5px;
}


.close{
	position:relative !important;

}
#my-song-table tr td
{
border-left:30px solid #FFFFFF;
border-top:15px solid #FFFFFF;
border-bottom:15px solid #FFFFFF;	
}

#popular-table tr td
{
border-left:16px solid #FFFFFF;
border-right:16px solid #FFFFFF;
border-top:15px solid #FFFFFF;
border-bottom:15px solid #FFFFFF; 
}

#popular-table tr td:first-child
{
  border-left:2px solid #fff;
}

#popular-table tr td:last-child
{
  border-right:none
}

.carousel-indicators .active
{
  background: #454545;
}

.carousel-indicators li
{
  background: #C0C0C0;
  cursor: pointer;
}
.carousel-indicators
{
  position:relative;
  top: -5px;
  left: 38.5%;
}
#save_as_playlist_name
{
	width:117px;
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
background-color:#F5F5F5 !important;
}

.red
{
	color:#CC3333 !important;
}

.black
{
  color:#000 !important;
}

.grey
{
  color:#999 !important;
}


.confirm li
{
padding:0px 5px 5px 5px !important;
}

.navbar-search .search-query
{
	border-radius: 3px !important;
	width:525px;
	border: solid #999 1px;
  behavior: url(/PIE/PIE.htc);
}

.ui-autocomplete
{
  position:fixed;
	border-radius: 3px !important;
  behavior: url(/PIE/PIE.htc);
	border:solid #999 1px !important;
	background-color:#ffffff;
	width:542px !important;
	padding:5px !important;
}

.ui-menu-item
{
	font-size:12px !important;
	cursor: pointer;
	
}
.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active
{
  margin:auto !important;
}
.ui-menu-item .ui-corner-all
{
  border-left: 4px solid #fff !important;
}
.ui-autocomplete .ui-state-hover, .ui-widget-header .ui-state-hover,.ui-autocomplete .ui-state-focus, .ui-autocomplete .ui-state-focus, .ui-widget-header .ui-state-focus
{
    background: #454545;
    color: #fff !important;
    border:none !important;
    border-left: 4px solid #cc3333 !important;
    border-radius: 0px;
    behavior: url(/PIE/PIE.htc);
}
.table-striped{
	border-right:none !important;

}

#right-options
{
	position:relative !important;
	margin-right:-27px !important;
}
.tab-content{
	overflow:visible !important;
}

.transparent{
	opacity:0.4;
	filter:alpha(opacity=40);
}
.opaque{
	opacity:1;
	filter:alpha(opacity=100);
}

#profile-pic-mini
{
	width:15px !important;
	height:15px !important;
}

#profile-pic-main
{
	width:200px !important;
	height:200px !important;
}


#cut-profile-pic
{
	width:130px !important;
	height:130px !important;
}

#cut-song-art
{
	width:180px !important;
	height:180px !important;
}

#profile-page-pic
{
	width:150px !important;
	height:150px !important;	
}

#new_album_art
{
  width:175px !important;
  height:175px !important;  
}

.playlist-art
{
	width:50px !important;
	height:50px !important;
}

.introjs-skipbutton
{
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-xs;
  color: #ffffff !important;
  line-height:22px !important;
  text-decoration: none !important;
  
}
.introjs-skipbutton:hover
{
  color: #ffffff !important;
  
}
.introjs-prevbutton,.introjs-nextbutton
{
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-default;
  line-height:22px !important;
  text-decoration: none !important;
  
}

.introjs-prevbutton:hover,.introjs-nextbutton:hover
{
  color: #000000 !important;
  
}


.time-ago
{
  color:#606060;
}
.time-ago span
{
  position:relative;
  bottom:-1px;
}
abbr
{
  font-size:10px; 
}

.time-ago .icon-time
{
  opacity:0.6;
  filter:alpha(opacity=60);
  
}


.queue-icon
{
  font-size:18px;
}

.queue-btn
{
  width:37px;
}

.queue-found
{
  background-color: #FFFF00;
  color:#000;
}

#search-queue-input
{
  width:168px;
}

.input-xs
{
  height:12px !important;
  width:100px !important;
  font-size:11px !important;
}

.song-page-art
{
 height: 140px !important;
 width: 140px !important;
}

.ajax-link
{
  cursor: pointer !important;
}

.no-hover:hover
{
  color: #000 !important;
}

.hide
{
  display:none;
}

.amuzzin-font
{
  font-family: 'Oxygen',sans-serif; 
  font-size: 18px;
  font-weight:bolder;
}

.bold
{
  font-weight:bold;
  color: #454545;
}

a.carousel-control
{
  background: #FFF !important;
  border: none;
  height: 0px;
  width: 0px;
  font-size:60px;
  font-weight: bolder;
}

.btn-group .btn-xs
{
  font-size: 13px;
}

.btn-xs
{
  min-width:30px !important;
  min-height:22px !important;
  line-height:16px;
}

.btn-sm
{
  line-height: 18px;
}

.btn-xs .icon
{
  font-size: 11px;
}

.btn-danger
{
  background-color: #cc3333;
}

.btn-warning
{
  background-color: #ff7700;
}


.share-btn
{
  width:40px;
}

.btn-fb
{
  @extend .btn-danger;
  background-color:#4c66a4;
  border-color: #4c66a1;
  color: #fff !important;
  min-width: 30px;
}

.btn-twitter
{
  @extend .btn-danger;
  background-color:#4099FF;
  border-color: #4099FE;
  color: #fff !important;
}


.btn-fb:hover
{
  background-color:#4c66a6;
  border-color: #4c66a4;
}

.btn-fb:active
{
  background-color:#4c66a6 !important;
  border-color: #4c66a4;
}

.btn-fb:focus
{
  background-color:#4c66a6 !important;
  border-color: #4c66a4;
}

.btn-fb.btn.disabled
{
  background-color:#4c66a6 !important;
  border-color: #4c66a4;
}

.btn-twitter:hover
{
  background-color:#4099FF;
  border-color: #4099FE;
}

.btn-twitter:active
{
  background-color:#4099FF !important;
  border-color: #4099FE;
}

.btn-twitter:focus
{
  background-color:#4099FF !important;
  border-color: #4099FE;
}

.btn-twitter.btn.disabled
{
  background-color:#4099FF !important;
  border-color: #4099FE;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #000;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #000;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #000;
}

#group-slider{  
  position:relative;
  overflow:hidden;
  margin:0 auto;
  width:210px;
  height:500px;
  white-space:nowrap;
}

#group-slider div{
  position:relative;
  display:inline-block;
  white-space:normal;
  vertical-align:top;
  *display:inline;
  height:200px;
}

.group-log
{
  margin-top:5px;
}