
.player-mini{
	position:relative;
	top:3px;
	width: 320px;
	height: 37px;
	border-radius:10px;
	behavior: url(/PIE/PIE.htc);
	background-color:#999999;
	border:1px solid #909090;

}
.player-mini .play{
  position:absolute;
  left:-7px;
  top:-10px;
}

.player-mini .play img{
  position:relative;
  top:10px;
  left:9px;
  cursor:pointer;
}

.player-mini .control{
	position:absolute;
	left:39px;
	top:1px
}

.player-mini .playtitle{
	width: 160px;
	top: 2px;
	text-align:center;
	font-size: 13px;
	font-weight:bold;
}

.player-mini .volumebar{
	width: 30px;
	height: 5px;
	background-color: #000000;
	border-radius:10px;
	behavior: url(/PIE/PIE.htc);
	cursor:pointer;
	
}

.player-mini .volume{
	background-color: #ffffff; 
	height: 100%; 
	width:60%;
	border-radius:10px;
	behavior: url(/PIE/PIE.htc);
}

.player-mini .progressbar{
	position:absolute;
	bottom:7px;
	left:43px;
	background-color: #000000;
	width: 235px;
	height: 5px;
	border-radius:10px;
	behavior: url(/PIE/PIE.htc);
  cursor:pointer;
}

.player-mini .progress{
	height: 100%;
	width:0%;
	background-color: #999999;
	border-radius:10px;
	behavior: url(/PIE/PIE.htc);
}

.player-mini .time{
	position: absolute;
	bottom: 0px;
	right: 10px;
	font-size:10px;
}

.album-art-main
{
  height:102px !important;
  width:102px !important;
  margin-top:-5px;
}
#playlist1
{
  width:170px;
}

#progress-main
{
	background-color: #800000;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow:none;
	background-image:none;
}

#progress1
{
	background-color: #fff;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-box-shadow:none;
	background-image:none;
}

#menu1 td
{
  padding:3px;
}

tr ~ .song-indicator
{
	border-bottom:none;
}

.song-indicator
{
border-left: solid 4px #CC3333 !important;
background-color:#454545 !important;
color: #fff !important;
border-bottom: #454545 1px solid !important;
}

#volume1
{
  background: #800000;
}
#volume1 .ui-slider-range
{
  background: #F5F5F5;
  height:100%;
  position:relative;
}
#volume1 .ui-slider-handle
{
  border-style:none;
  border-radius:15px;
  outline:none;
  height:14px;
  width: 14px;
  top: -5px;
  position: absolute;
  cursor:pointer;
  background-color: #e6e6e6;
  
}

#volume1 .ui-slider-handle .ui-state-hover,#volume1 .ui-slider-handle .ui-state-focus
{
	background: #e6e6e6;
}

.audiojs
{
  visibility: hidden;
}

.ui-widget-content
{
	border: none;
}

.ui-corner-all
{
	border-radius: 0px;
}

.btn-player
{
padding: 1px 2px !important;
font-size: 14px !important;
width:20px;
line-height: 14px !important;
border-radius: 4px !important;
color: #800000 !important;
height:19px;
}



.btn-play-pause .icon
{
	margin-left: -5px;
}

#player1
{
	margin-left:-4px;
}

.blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
