
.related-song
{
height:60px;
width:302px;
}

#related-table
{
  width:302px;
}
#related-table tr
{
  border:none;
  border-bottom: solid 1px #DDD;
}
#related-table tr td
{
    padding:3px;
}

.related-song-art img
{
  height:50px !important;
  width:50px !important;
}
