.auto-type-content {
	opacity: 0.7;
	white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -webkit-animation-delay:3s;
    -webkit-animation-fill-mode:both;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -moz-animation-delay:3s;
    -moz-animation-fill-mode:both;
}

::-webkit-input-placeholder {
    color: red;
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -webkit-animation-delay:3s;
    -webkit-animation-fill-mode:both;
    -webkit-animation-iteration-count:infinite;
}

:-moz-placeholder { /* Firefox 18- */
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -moz-animation-delay:3s;
    -moz-animation-fill-mode:both;
    }

::-moz-placeholder {  /* Firefox 19+ */
    opacity: 0.7;
    white-space: nowrap;
    overflow: hidden;
    -moz-animation: typing 2s steps(26, end), 
                        blink-caret 1s step-end infinite;
    -moz-animation-delay:3s;
    -moz-animation-fill-mode:both;
    }

@-webkit-keyframes typing {
    from { width: 0; }
    to { width:535px; }
}

@-moz-keyframes typing {
    from { width: 0; }
    to { width:535px; }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000; }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #000; }
}
