<div>
<div id="my_playlists" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">My</span> Playlists</span>
	<br>
	<br>
	<%if user_signed_in?%>
	<div>
		<center>
			<%= form_for playlist, :remote=>true, :html=>{:class=>'form-inline playlist-form',:style=>'margin-bottom:-1px;'}  do |f| %>
			<div class="input-append">
			<%= f.text_field :name,:class=>'input-large playlist-name',:placeholder => 'Playlist name' %>
			<%= f.submit "Create",:class=>'btn btn-sm btn-default start' %>
		</div>
			<% end %>
		</center>
	</div>
	<hr>
	<%unless playlists.blank?%>
	<%= will_paginate playlists , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
	<button class="btn btn-default btn-sm btn-danger add-all-fav" style="margin-left:20px;" onclick="make_public()">
		<i class="icon-globe icon"></i>
		<span>Make Public</span>
	</button>
	<button class="btn btn-default btn-sm play-all-fav" style="margin-left:20px;" onclick="make_private()">
		<i class="icon-user icon"></i>
		<span style="color: #000000">Make Private</span>
	</button>
	<br />
	<br />
	<table class="playlist-table">
		<tbody>
			<% playlists.each_with_index do |p|%>
			<tr>
				<td>
				<div class="pull-left offset15pxt">
					<%= check_box_tag 'status',1,false,:class => 'playlist-status', 'data-id' => p.id %>
				</div>
				<div class="pull-left offset10pxl">
					<img src="<%= p.art("medium")%>" class="small-image playlist-art" />
				</div>
				<div style="width: 150px; left;margin-left:20px"  class="pull-left">
					<div>
						<%if p.status == "public"%>
						<a href="/playlists/public_playlist/<%=p.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(p.name, :length=> 20)%>">
						<span title="<%= p.name%>" class="tool-tip bold red"><%= truncate(p.name, :length=> 20)%></span> <span>(<%=pluralize(p.playlist_songs.count,'song')%>)</span>
						</a>
						<%else%>
						<span title="<%= p.name%>" class="tool-tip bold red"><%= truncate(p.name, :length=> 20)%></span> <span>(<%=pluralize(p.playlist_songs.count,'song')%>)</span>
						<%end%>
					</div>
					<div>
						<span title="<%= p.status%>" class="tool-tip bold" style="color:#999999"><%= p.status%></span>
					</div>
				</div>
				<div class="pull-right" style="margin-right:50px">
					<div class="btn-group">
						<button class="btn btn-default btn-xs view_playlist" onclick="showSongs(this,'playlist');">
							<i class="icon-chevron-up icon"></i>
						</button>
						<button class="btn btn-default btn-xs add-playlist" data-loaded="false">
							<i class="icon-plus icon"></i>
						</button>
						<button class="btn btn-default btn-xs play-playlist" data-loaded="false">
							<i class="icon-play icon"></i>
						</button>
					</div>
				</div></td>
				<td>
				<div class="dropdown confirm-dropdown">
					<button class="close dropdown-toggle" style="margin-bottom: 35px" data-toggle="dropdown">
						×
					</button>
					<%=render :partial=>"layouts/confirm_dropdown",:locals=>{:confirm_message => "Are you sure you want to remove this playlist?",:action=>"remove_playlist(#{p.id},this.parentNode.parentNode.parentNode)"}%>
				</div></td>
			</tr>
			<tr>
				<td>
					<div class="playlist-songs" id="playlist_songs_<%=p.id%>"></div>
				</td>

			</tr>
			<%end%>
		</tbody>
	</table>
	<script>
	</script>
	<%else%>
	<p>
		You don't have any playlists
	</p>

	<%end%>
	<%else%>
	<p>
		Playlists you create will be listed here
	</p>
	<p>
		Please sign in at the top corner to use this feature
	</p>
	<%end%>
</div>
<%= render :partial => "layouts/footer" %>
</div>
