Playing playlist <%=@playlist.name%> 

<script type="text/javascript">
  	var audioElement = document.createElement('audio');
	audioElement.setAttribute('src', '<%=@uploaded_song.src%>%>');
	audioElement.play();
</script>