<div>
<div id="public_playlist" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Public</span> Playlist</span>
	<br />
	<br />
	<%unless playlist.blank?%>

						<button class="btn btn-danger btn-default btn-sm add-page"  style="margin-bottom:-185px;margin-left:125px" data-loaded="false">
							<i class="icon-plus icon"></i>
							<span style="color: #ffffff">Add all</span>
						</button>
						<button class="btn btn-default btn-sm play-page" style="margin-bottom:-185px;margin-left:20px;" data-loaded="false">
							<i class="icon-play icon"></i>
							<span style="color: #000000">Play all</span>
						</button>


	<table class="table">
		<tbody>
			<tr >
				<td style="border:none">
				<div class="pull-left offset10pxl">
					<img src="<%=playlist.art("medium")%>" class="big-image playlist-art-main" />
				</div>
				<div style="width: 180px; left;margin-left:20px"  class="pull-left">
					<div><span title="<%= playlist.name%>" class="tool-tip"><%= truncate(playlist.name,:length=>25)%></span></div>
					<div>by <span title="<%= playlist.user.name%>" class="tool-tip" style="color:#999999"><%= truncate(playlist.user.name,:length=>25)%></span></div>
<br/>

</div>
                                <div class="pull-right">

                                        <div id="playlist-page-qr-code" style="position: relative;float:right;width:120px;">

                                        </div>
				</div></td>
			</tr>
			<tr>
				<td>
				<div class="playlist-songs-main">
					<div class="playlist-songs-inner-main">
						<%unless public_playlist_songs.blank?%>
						<%= will_paginate public_playlist_songs , :renderer => BootstrapPagination::Rails,:inner_window=>2 %>
						<ul class="playlist-songs-list-main">
							<% public_playlist_songs.each do |s|%>
							<li class="song-el offset10pxr" >
								<span data-identifier="<%= generate_random%>" data-src="<%= s.src_path%>" data-name="<%= s.title%>" data-art="<%= s.art("small")%>" data-album="<%= s.album%>" data-id="<%= s.id%>" ></span>
								<table class="pl-songs-table-main">
									<tr>
										<td> <%= image_tag s.art("small"),:class=>'small-image playlist-image'%> </td>
										<td>
										<div style="height: 20px; width:240px;">
											<span class="tool-tip" title="<%= s.title%>"><%= truncate(s.title,:length=>32)%></span>
										</div>
										<div style="height: 20px; width:240px;">
											<span class="tool-tip" style="color:#606060" title="<%= s.album%>"><%= truncate(s.album,:length=>32)%></span>
										</div></td>
										<td>
										<%= render :partial => "utility/song_toolbar" , :locals => {:song => s , :style => ""} %></td>
									</tr>
								</table>
								</span>
							</li>

							<%end%>
						</ul>
						<%else%>
						<p>
							No songs in this playlist
						</p>
						<%end%>
					</div>
				</div></td>

			</tr>
		</tbody>
	</table>
	<script>
        $('#playlist-page-qr-code').qrcode({width: 128,height: 128, text: document.location.href});
	</script>
	<%else%>
	<p>
		There is no such playlist
	</p>

	<%end%>

</div>
	<%= render :partial => "layouts/footer" %>
	</div>

