
<%=popup_title('Add To Playlist')%>
	<br />
	<br />
	<%if current_user%>
		<center>
			<%= form_for Playlist.new, :remote=>true, :html=>{:class=>'form-inline playlist-form'}  do |f| %>
			<div class="input-append">
			<%= f.text_field :name,:class=>'input-large available_playlist_name playlist-name' %>
			<%= hidden_field_tag 'song', @song%>
			<%= f.submit "Create",:class=>'btn btn-sm btn-danger start',:style=>'font-size:13px' %>
			</div>
			<% end %>
		</center>
<div style="position:relative;margin-left:-17px;" id="playlist-div">
	<ul class="playlists-li" id="available-playlists" style="list-style:none;width:145px;">

		<%unless @playlists.blank?%>
		<% @playlists.each_with_index do |p,i|%>
		<li>
			<%= link_to p.name,{:controller=>"playlists", :action=>"add_song",:s_id=>@song,:id=>p.id},:remote=>"true",:method=>:post,:onclick=>"$(this.parentNode).prev().remove();$(this.parentNode).remove();",:class=>"related-playlist-link"%>
		</li>
		<%if i!=@playlists.length-1%>
		<li class="divider"></li>
		<%end%>
		<%end%>
		<%else%>
		<li class="empty-playlist-li">This song is in all your</li>
		<li class="empty-playlist-li">playlists</li>
		<%end%>
	</ul>
</div>
<script>
$('#available-playlists').slimScroll({
	height : '150px',
	alwaysVisible : true,
	railVisible : true
});
</script>
<%else%>
Please log in to add the current song to your playlists
<%end%>
