$('#content').html("<%= escape_javascript(render :partial => "index",:locals=>{:playlists=>@playlists,:playlist=>@playlist}) %>");
$("#my_playlists .pagination a").attr('data-title','Amuzzin-My Playlists');
$("#my_playlists .pagination a").attr('class','ajax-link');
