					<div class="playlist-songs-inner">
						<%unless @playlist_songs.blank?%>
						<ul class="playlist-songs-list">
							<% @playlist_songs.each do |s|%>
							<li class="play-all" style="margin-right:10px;border-bottom:solid 1px #DDD" data-identifier="<%= generate_random%>" data-src="<%= s.src_path%>" data-name="<%= s.title%>" data-art="<%= s.art("small")%>" data-album="<%= s.album%>" data-id="<%= s.id%>">
								<table class="pl-songs-table">
									<tr>
										<td> <%= image_tag s.art("small"),:class=>'small-image playlist-image'%> </td>
										<td>
										<div style="height: 20px; width:220px;">
											<a href="/s/<%=s.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(s.title, :length=> 20)%>">
											<span class="tool-tip red" title="<%= s.title%>"><%= truncate(s.title, :length=> 20)%></span>
											</a>
										</div>
										<div  style="height: 20px; width:220px;">
											<span class="tool-tip" style="color:#606060" title="<%= s.album%>"><%= truncate(s.album, :length=> 20)%></span>
										</div></td>
										<td>
										<%= render :partial => "utility/song_toolbar" , :locals => {:song => s , :style => ""} %>

									</td>
										<%if @playlist.user_id == current_user.id%>
										<td>
										<div class="dropdown confirm-dropdown">
											<button class="close dropdown-toggle" data-toggle="dropdown">
												×
											</button>
											<%=render :partial=>"layouts/confirm_dropdown",:locals=>{:confirm_message => "Are you sure you want to remove this song from the playlist?",:action=>"invoke_controller_action('', 'POST', '/playlists/#{@playlist.id}/remove_song/?s_id=#{s.id}', '')"}%>
										</div></td>
										<%end%>
									</tr>
								</table>
							</li>

							<%end%>
						</ul>
						<%else%>
						<p>
							No songs in this playlist
						</p>
						<p>
							To add songs to a playlist, click the playlist icon in any song
						</p>
						<%end%>
					</div>
