$('#content').html("<%= escape_javascript(render :partial => "public_playlist",:locals=>{:playlist=>@public_playlist,:public_playlist_songs=>@public_playlist_songs}) %>");
$("#public_playlist .pagination a").attr('data-title','Amuzzin-Public Playlist');
$("#public_playlist .pagination a").attr('class','ajax-link');