<%=render 'layouts/show_flash' %>
<%if song%>
$('.empty-playlist-li').remove();
$('.playlists-li').each(function(){
	$(this).prepend('<li><%= link_to playlist.name,{:controller=>"playlists", :action=>"add_song",:s_id=>song,:id=>playlist.id},:remote=>"true",:method=>:post,:onclick=>"$(this.parentNode).prev().remove();$(this.parentNode).remove();",:class=>"related-playlist-link"%></li>'+
		'<li class="divider"></li>');
});
<%end%>
if(document.getElementById('my_playlists')!=null)
refresh_current_page();

