<%unless activities.blank?%>
	<% activities.each do |activity| %>
	<div class="activity" style="margin-top:15px;">
		<div style="float: left;margin-top: 15px;">
			<div class="pull-left">
				<img src="<%=activity.owner.get_profile_pic%>" class="queue-image small-image" >
			</div>

			<div class="pull-left offset10pxl" style="width:300px;">
				<a href="/u/<%= activity.owner.id%>" class="ajax-link"  data-title="Amuzzin-<%= activity.owner.name%>"><span class="tool-tip" title="<%= get_tooltip_details(activity.owner)%>"><%= activity.owner.name%></span></a> 
				<%= render_activity activity, page: activities.current_page %>
			</div>

		</div>
	</div>
	<script>
	$(document).ready(function() {
  		$("abbr.timeago").timeago();
	});

</script>
	<% end %>
	<div style="clear: both"></div>
	<%end%>