<div>
<div>
<div id="friend_feed" class="well well-small offset10pxl offset15pxt" style="width: 535px;">
	<span class="amuzzin-font"><span class="red">Music</span> Feed</span>
	<br />
	<br />
	<%if current_user%>
	<div class="well well-small custom-container" style="display:none" id="new_feed"></div>
	<div id="diff_feed"></div>
	<div id="old_feed"></div>

	<%= render :partial => 'activities', :locals => { :activities => @activities } %>

</div>
	<div class="well well-small custom-container offset10pxl" style="width:535px;">
	
		<center>
			<%if @activities.next_page%>
				<%= link_to 'Load more posts', "/activities?page=#{@activities.next_page}&last_id=#{@activities.last.id}", :class => 'load-more-posts activity', :remote => true %>
			<%else%>
				<span>No more posts to show</span>
			<%end%>
		</center>
	</div>
<br><br/>
<%else%>
Please log in at the top corner to see your friends' activities
<%end%>
</div>
<%= render :partial => "layouts/footer" %>
</div>