<%if current_user%>
if(<%=@activities.current_page%>==1)
$('#activity-feed-content').html('<%= escape_javascript(render :partial => "index",:locals=>{:activities=>@activities}) %>');
else
$('#friend_feed').append('<%= escape_javascript(render :partial => "activities",:locals=>{:activities=>@activities}) %>'); 
<% unless @activities.next_page %>
$('a.load-more-posts').unbind('inview');
$('a.load-more-posts').attr('href','');
$('a.load-more-posts').html('No more posts to show');
<%else%>
$('a.load-more-posts').attr('href', '/activities?page=<%=@activities.next_page%>&last_id=<%=@activities.last.id%>');
$('a.load-more-posts').unbind('inview').bind('inview',function(event,isInView,visiblePartX,visiblePartY){
	if(isInView)
	{
	$(this).html('<img src="/loading.gif" style="height:10px;width:15px">');
	$.getScript($(this).attr('href'));
	}
	else
	{
		$(this).html('Load more posts');
	}
});
<%end%>
$('#unread_feed_count').html('0');
$('#unread_feed_count').hide();
<%else%>
$('#activity-feed-content').html('<%= escape_javascript(render :partial => "index",:locals=>{:activities=>@activities}) %>');
<%end%>