$('#new_feed').hide();
$('#old_feed').html($('#diff_feed').html());
$('#diff_feed').html('<%= escape_javascript(render :partial => "activities",:locals=>{:activities=>@activities}) %>'); 
$('#diff_feed').effect('highlight',{},2000);
$('#unread_feed_count').html('0');
$('#unread_feed_count').hide();