<%page=params[:page]%>
<strong>created a new playlist</strong>
<% if activity.trackable %>
  <% p=activity.trackable%>
  <table class="playlist-table">
				<tbody>
					<tr>
						<td>
						<div class="pull-left ">
							<img src="<%=p.art("medium")%>" class="small-image playlist-art" />
						</div>
						<div style="width: 200px;height:70px;margin-left: 10px" class="pull-left">
							<div style="width: 200px;height:35px" class="pull-left">
								<%if p.is_public?%>
									<a href="/playlists/public_playlist/<%=p.id%>" class="ajax-link" data-title="Amuzzin-<%=truncate(p.name, :length=> 20)%>">
								<span class="feed-tool-tip<%=page%> bold red" title="<%= p.name%>"><%= truncate(p.name, :length=> 20)%></span>
									</a>
								<%else%>
									<span class="feed-tool-tip<%=page%> bold red" title="<%= p.name%>"><%= truncate(p.name, :length=> 20)%></span>
								<%end%>
							</div>
							<div style="width: 200px;height:35px" class="pull-left bold">
								<span><b style="color:#606060">by </b> <a href="/u/<%=p.user.id%>" class="ajax-link"  data-title="Amuzzin-<%=p.user.name%>"><span class="feed-tool-tip<%=page%>" title="<%= p.user.name%>"><%= truncate(p.user.name, :length=> 20)%></span></a></span>
							</div>
						</div>
						<div style="float: right;margin-right:7px;">
							<div class="btn-group">
								<button class="btn btn-default btn-xs view_playlist" onclick="showSongs(this,'playlist');">
									<i class="icon-chevron-up icon"></i>
									
								</button>
								<button class="btn btn-default btn-xs add-playlist"  data-loaded="false">
									<i class="icon-plus icon"></i>
									
								</button>
								<button class="btn btn-default btn-xs play-playlist" data-loaded="false">
									<i class="icon-play icon"></i>
									
								</button>
							</div>
						</div></td>
					</tr>
					<tr>
						<td>
						<div class="playlist-songs" id="playlist_songs_<%=p.id%>" style="margin-left:-20px">
							
						</div></td>

					</tr>
				</tbody>
			</table>
<% else %>
  which has since been removed
<% end %>
<p class="time-ago"><i class="icon icon-time" ></i> 
	<abbr class="timeago" title="<%=activity.created_at.iso8601%>">
		<%=activity.created_at%>
	</abbr>
</p>

