<%if defined?(style).present?%>
<ul class="dropdown-menu confirm" style="<%=style%>">
<%else%>
<ul class="dropdown-menu confirm" style="top:35px;margin-left:-137px;">
<%end%>
	<li>
		<%=confirm_message%>
	</li>
	<li class="divider"></li>
	<li>
		<center>
			<div class="btn-group">
				<button class="btn btn-xs btn-danger confirm-close" onclick="<%=action%>">
					<span>Ok</span>
				</button>
				<button class="btn btn-xs btn-default confirm-close">
					<span>Cancel</span>
				</button>
			</div>
		</center>
	</li>
</ul>