
<%if flash[:notice]%>
		<div class="alert alert-info">
			<button class="close" data-dismiss="alert" style="color: #ffffff;opacity:0.5;filter:alpha(opacity=50);">
				×
			</button>
			<%= flash.notice %>
		</div>
<%end%>
		