<%if flash[:alert]%>
		<div class="alert alert-error">
			<button class="close" data-dismiss="alert" style="color: #ffffff;opacity:0.5;filter:alpha(opacity=50);">
				×
			</button>
			<%= flash.alert %>
		</div>
<%end%>