          <div id="footer">
                <center>  
                  <span class="red">
                <% if current_user %>
                  <% guest_name = current_user.name%>
                <% else %>
                  <% random_string = rand(36**8).to_s(36) %>
                  <% guest_name = "Anonymous #{random_string}"%>
                <%end%>

                            <a href="http://api.amuzz.in/" data-title="Develop apps with amuzzin" target='_blank'> API </a> |
            <a href="http://blog.amuzz.in" target='_blank'> Blog </a> |

              <a data-intro="<strong>You have completed the tour.</strong><br/> Please provide us your valuable feedback after exploring amuzz.in <br/><br/>  <strong>Thank you.</strong>"  data-step="9" data-position="top" href='http://www.hipchat.com/gGMiD3LQC?name=<%=CGI.escape guest_name%>' target='_blank'>
              Chat </a> | 

  <a href="/terms/paypal" data-title="Donate with Paypal" class="ajax-link">
  Donate
  </a> |
            <a href="/privacy" data-title="Privacy Policy" class="ajax-link"> Privacy </a> |
            <a href="/terms" data-title="Terms & Conditions" class="ajax-link"> Terms </a> |
              <a href='mailto:support@amuzz.in' target='_blank'>
                Contact
              </a>
</span>

<br/>
<br/>
                        <center>
  <a href='https://www.facebook.com/amuzzinapp' target='_blank'>
  <button class='btn btn-fb btn-xs' title='Check our Facebook Page' style="width:22px">
    <i class="icon icon-facebook"></i>
  </button>
  </a>

  <a href='https://twitter.com/amuzzinapp' target='_blank'>
  <button class='btn btn-xs btn-twitter' title='Follow us on Twitter' style="width:22px">
    <i class="icon icon-twitter"></i>
  </button>
  </a>

    <a href='https://plus.google.com/+AmuzzInapp' target='_blank'>
  <button class='btn btn-xs btn-danger' title='+1 us on Google Plus' style="width:22px">
    <i class="icon icon-google-plus"></i>
  </button>
  </a>
<!-- 
    <a href='https://chrome.google.com/webstore/detail/amuzzin/ghljkgplcmlkmeaeonodcccngcjfgaii' target='_blank'>
  <button class='btn btn-xs btn-default' title='Add to Chrome'>
    <i class="icon icon-globe"></i>
  </button>
  </a> -->

</center>

</center><br/>
          </div>