
<% if user_signed_in? %>

<div style="display:none">
	<%= form_for current_user, :remote=>true , :html => {:id => "change_photo_form"} do |f| %>
	  <%= f.file_field :image , :class => "file" , :id => "profile_photo_upload" %> <br/>
    <%= f.submit "upload" ,:id => "upload_form" %>
   <%end%>
</div>

	<div id='notification_over_content' style="position:fixed;right:50px;">
	</div>

<li>
	
</li>
<li>

 <span id="chrome_app_installation" style="display:none" title="amuzzin <3 chrome. Add amuzzin as an App to your Google Chrome for quicker access.">
	<a href='https://chrome.google.com/webstore/detail/amuzzin/ndachnohlbjgcjobijhbfggckaofphcl?hl=en-US&gl=US' target='_blank'>
		<img style='margin-right:25px' src='https://www.google.com/images/icons/product/chrome_web_store-32.png'/>
	</a>
</span>

	<div class="btn-group profile-preview" style="background-color:#CC3333;top:-2px;">
		<button class="btn btn-default btn-sm btn-profile" title="Check whats popular in amuzzin" onclick="put_state('/home', 'Amuzzin-Home', '/home');">
			<i class="icon icon-home" style="font-size:17px;color:#800000;"></i>
		</button>	
		<button class="btn btn-default btn-sm btn-profile" title="Messages for Me" onclick="show_notification()">
			<i class="icon icon-envelope" style="font-size:14px;color:#800000;"></i>
			<%message_count = current_user.get_unread_message_count%>
			<%if message_count == 0%>
				<span id="notify_count" class="notification-counter"  style="display:none">
				0
				</span>
			<%else%>
				<span id="notify_count" class="notification-counter">
				<%=message_count%>
				</span>
			<%end%>
		</button>	
		<button  onclick="put_state('/u/<%= current_user.id%>', 'Amuzzin-<%= current_user.name%>', '/u/<%= current_user.id%>');" class="btn btn-default btn-sm btn-profile" title="My Profile">
				<img  src="<%=current_user.get_profile_pic%>"  id='profile-pic-mini' />
		</button>


		<button class="btn btn-default btn-sm btn-profile dropdown-toggle" data-toggle="dropdown" title="More user Options" >
			
			<span class="caret caret-black"></span>
		</button>
		<ul class="dropdown-menu" style="left:-82px;padding:7px">
	
			<li title="Current amuzzin user's email">

				<a href='#'>
				<i class="icon icon-user">
					<%=current_user.name %>
				</i>
			</a>
			</li>
			<li class="divider"></li>

			<li title="Current amuzzin user's location">
				<a href='#'>
				<i class="icon icon-map-marker">
					<span id="location-display-div">
						<%= current_user.get_location_str %>
					</span>
				</i>	
			</a>
			</li>
			<li class="divider"></li>
			<li>
				<div style="position:relative" class="profile-preview">
					<button class="btn btn-default btn-xs" style="position:absolute;top:5px;right:5px" onclick="$('#profile_photo_upload').click()">
						<i class="icon-pencil"></i> Edit Profile Picture
					</button>
				<img src="<%=current_user.get_profile_pic%>" id='profile-pic-main' />
			</div>
			</li>

			<li class="divider"></li>
			<li>
				<%= link_to "<i class=\"icon icon-off\" style=\"bottom:-2px;\"></i> Sign out".html_safe, destroy_user_session_path, :method => :delete %>
			</i>
			</li>
			<li class="divider"></li>
			<li>
				<%= link_to "<i class=\"icon icon-cog\" style=\"bottom:-2px;\"></i> Change Password".html_safe, '#',:class => "bpopup", :id => "change_pass", "data-height" => "200", "data-width" => "220", "data-url" => "/passwords/edit"%>
			</li>
			<li class="divider"></li>
			<li>
				<a href="#" id="take_tour_button"><i class="icon icon-zoom-in"></i> Try Tour</a>
			<li>
		</ul>

	</div>
</li>

<% else %>
<li>

<li class="dropdown" style="top:-2px;">
	<button data-toggle="dropdown" class="btn btn-sm btn-profile">
		Sign Up <strong class="caret caret-black"></strong>
	</button>
	<div class="dropdown-menu middle-align" style="padding: 15px; padding-bottom: 0px;margin-right:-90px">
		<center>
			<%= render :partial => "/authentications/sign_up_form"%>

		</center>
	</div>
</li>
</li>
<li>

<li class="divider-vertical"></li>
<li class="dropdown" style="top:-2px;">
	<button data-toggle="dropdown" class="btn btn-sm btn-profile" id="signin_dropdown">
		Sign In <strong class="caret caret-black"></strong>
	</button>
	<div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
		<center>
			<%= render :partial => "/authentications/services"%>

			<%= render :partial => "/authentications/login_form"%>
		</center>
	</div>
</li>

</li>
<% end %>

<script type="text/javascript">
	$(function() {
		// Setup drop down menu
		$('.dropdown-toggle').dropdown();

		// Fix input element click problem
		$('.dropdown input, .dropdown label').click(function(e) {
			e.stopPropagation();
		});
	});

	$.fn.serializeObject = function() {
		var values = {}
		var id = this.attr('id');
		console.log(id);
		$("#" + id + " input," + "#" + id + " select," + "#" + id + " textarea").each(function() {
			values[this.name] = $(this).val();
		});

		return values;
	}
	$(function() {

		$("form#ajax_signin").submit(function(e) {
			e.preventDefault();
			//This prevents the form from submitting normally
			var user_info = $(this).serializeObject();
			console.log("About to post to /users/sign_in: " + JSON.stringify(user_info));
			$.ajax({
				type : "POST",
				url : "/users/sign_in",
				data : user_info,
				success : function(json) {
					console.log("The Devise Response: " + JSON.stringify(json));
						location.href='/';location.reload();
				},
				error : function(json) {
					if(json["status"] == 200)
						{
							location.href='/';
							location.reload();
							return;
						}
					show_flash("Invalid email or password",false);
				},
				dataType : "json"
			});
		});

	});

	$(function() {

		$("form#ajax_signup").submit(function(e) {
			e.preventDefault();
			//This prevents the form from submitting normally
			$('#native_signup').attr('disabled',true);
			$('#native_signup').attr('value','Verifying Your Email, Please wait ...');
			var user_sign_up_info = $(this).serializeObject();
			console.log("About to post to /users: " + JSON.stringify(user_sign_up_info));
			$.ajax({
				type : "POST",
				url : "/users",
				data : user_sign_up_info,
				success : function(json) {
					if (json.errors) {
						msg="";
						json.errors.each(function(k, v) {
							msg += (k + " " + v);
						})
						msg = msg.replaceAll('<li>','').replaceAll('</li>','<br>');
						show_flash(msg,false);
					} else {
						console.log("The Devise Response: " + JSON.stringify(json));
						$('#ajax_signup')[0].reset();
						show_flash("Please Confirm your Email<br/> by checking your Inbox<br/> for Activation Link.",false);
						$('#native_signup').attr('value','We sent you an Email.');
					}
				},
				error : function(json) {
					console.log(json.responseText);
					error_msg =json.responseText.split("<ul>")[1];
					if(error_msg == undefined)
					{
						$('#ajax_signup')[0].reset();
						show_flash("Please Confirm your Email<br/> by checking your Inbox<br/> for Activation Link.",false);
						$('#native_signup').attr('value','We sent you an Email.');
						return;
					}
					error_msg = error_msg.split("</ul>")[0];
					console.log(error_msg);
					error_msg = error_msg.replaceAll('<li>','').replaceAll('</li>','<br>');
					show_flash(error_msg,false);	
					error_msg="";	
					$('#native_signup').attr('disabled',false);
					$('#native_signup').attr('value','Enter amuzzin');
					return;
					msg="";
					$.each($.parseJSON(json.responseText).errors, function(k, v) {
						msg += k + " " + v + "\n";
					})
					msg = msg.replaceAll('<li>','').replaceAll('</li>','<br>');
					show_flash(msg,false);
				},
				dataType : "json"
			});
		});

	});

function show_notification_div()
{
	$('#notification_over_content').toggle();
	link = '/notification/hover';
	$("#notification_list .pagination a").attr('data-title','Amuzzin-My Notifications');
	$("#notification_list .pagination a").attr('class','ajax-link');
	$('#notify_count').html('0');
	$('#notification_over_content').load(link);
}

function show_notification()
{
	put_state('/messages', 'Amuzzin-Messages for Me', '/messages');
	if (Notification && Notification.permission !== "denied") 
	{
      Notification.requestPermission(function (status) {
        if (Notification.permission !== status) 
        {
          Notification.permission = status;
        }
      });
    }
}

$(document).ready(function(){
    var preview = $(".profile-preview img");

    $(".file").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
        show_flash("Changing Profile picture ...",false);
       $('#upload_form').click();
    });
});
</script>
