$("#flash").html("<%= escape_javascript(render(:partial => 'layouts/flash_messages')).html_safe %>");
$(function() {
  $('#flash').hide();
  $('#flash').stop().fadeOut();
  $('#flash').fadeIn('normal', function() {
      $(this).delay(3500).fadeOut();
  });
});