
<div class="span4 sidebox">
  <div class="text" style="margin-left:10px;">
<% cut_songs = CutSong.find(:all, :limit => 1)  
  session[:last_share_id] = cut_songs.last.id if cut_songs.present?
  cut_songs.each do |cut|
%>

<div class="row nowShowing">
<div class="span4">
<a href="#" class="thumbnail sidebarsong" data-cut="<%=cut.url%>" id="firstcut" data-userimg="<%=user_profile_pic(cut.user_id)%>" data-songtext="<%=ticker_box_text(cut.id, cut.user_id)%>">
<%=image_tag cut.uploaded_song.art("medium") , :size => '50x50', :style=> "margin-left:2px;"%>
<span style="float:left;margin-left:65px;margin-top:-50px;"><%=cut.uploaded_song.name%></span>
</a>

</div>
</div>
<%end%>

</div>
</div>
</div>


<!-- <div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
  <ul class="nav">
	<li>
	</li>
	</ul>
  </div>
</div> -->
<script type="text/javascript">
  var audioElement;
 $(".live-tile, .flip-list").not(".exclude").liveTile();
  $(function(){
    $('.sidebox').slimScroll({
        height: '500px'
    });
  var img = $('#firstcut').data('userimg');
  var text = $('#firstcut').data('songtext');
  $('#firstcut').popover({content : img+text, position : 'left', verticalOffset : '50', trigger : 'hover'});
  });
</script>
