<div data-role="header" data-position="fixed" data-theme="cs" class="toolbar">
      <div id="song_player">
                    <%= image_tag "/min-menu.png" , :size => "30x30" %>
                    <%= image_tag "/play.png" , :size => "30x30" , :id => "song_state" , :onclick => "toggle_music()"%>
                    <%= image_tag "/next.png" , :size => "30x30" %>
                  </div>

                     <a class="add">
                       <%=image_tag current_user.get_profile_pic('square') , :id => 'profile-pic-mini' , :size => '30x30'%>
                     </a>   
                      <h1> amuzzin  </h1>
<a href="#" data-icon="gear" class="ui-btn-right">Options</a>
</div>