<!DOCTYPE html>
<html>
	<head>
		<title>amuzzin</title>
		<link rel="icon" type="image/gif" href="/favicon.png" />
		<%= stylesheet_link_tag    "application", :media => "all" %>

		<%= jquery_include_tag :google %>
		<%= javascript_include_tag "application" %>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
<link href='http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css' rel='stylesheet' type='text/css'>
		<%= csrf_meta_tags %>

	</head>
	<body style="color:#000000;font-size:12px;word-wrap:break-word;">
		<div id="fb-root"></div>

		<%if user_signed_in?%>
		<span id="signed_in_flag" style="visibility: hidden"></span>
		<%if current_user.is_group_listen_enabled?%>
		<span id="group_listen_enabled" style="visibility: hidden"></span>
		<%end%>
		<%end%>
		<div id="page-load" align="center" style="position:fixed;top:15%;left:0px;width:100%">
			<div style="background:url(/glossy_logo.png) no-repeat center center;width:200px;height:200px">
			<div style="width:170px;height:5px">
			<div id="page-loader" style="float:left;margin-top:220px;height:5px;width:0%;background-color:#000;">
			</div>
			</div>
			</div>

		</div>
		<div id="main-content" style="visibility: hidden">
			<div id="flash">
				<%= render :partial=>'/layouts/flash_messages'%>
			</div>
			<div id="error_flash">
				<%= render :partial=>'/layouts/flash_errors'%>
			</div>
			<div class="navbar navbar-fixed-top navbar-default basic-tour">
				<div class="navbar-inner hor-scroll" >
					<div class="container">
						<a class="brand ajax-link" href="/home" title="Go to amuzzin home" data-title="amuzzin"> <img src="/new_logo.png"/><span id="new_logo" class="pl-log player-brand"></span></a>
					<ul class="nav pull-right" >
						<li>
								<%= render :partial => "layouts/login_links"%>
						</li>

					</ul>
					</div>

				</div>
			</div>

			<div id="main" style="position:absolute;width:1090px;height:100%;left:50%;margin-left:-545px;top:36px;height:100%;top:0px">
				<div id="bpopup-div">
					<div class="content">

					</div>
				</div>
				<div id="left-wrapper" style="position:absolute;left:0px;width:190px;height:100%;top:36px" >
					<div style="position:fixed;width:190px;height:100%;background-color:#cc3333;z-index:-2;" class="hor-scroll"></div>
					<div id="left-container" class="inner-border hor-scroll" style="position:fixed;width:190px;height:100%;border-right:1px solid #999;z-index:-1;background-color:#fff;border-radius:0px 25px 0px 0px"></div>
					<div id="side-menu" style="position:relative;">

					<%if user_signed_in?%>
					<div id="main-menu" style="border-bottom: 1px #999 solid;width:190px">
						<div id='hide-menu-min'>
					<ul>

						<li id="songs" class="link-text-menu" data-intro="These are the list of Songs you have already uploaded to amuzzin. You can come back and listen to your songs anytime, anywhere.<br/><br/> All you need is  internet and a browser." data-step="3" data-position="right" >
							<a href="/songs"  class="ajax-link" data-title="Amuzzin-My Songs"><img src="<%=IMG_CDN%>/images/Music-icon.png" height="20" width="20"/> My Songs</a>
						</li>

						<% if current_user.enable_upload? %>
						<li id="upload" class="link-text-menu" data-intro="To start with, you need to upload your songs." data-step="2" data-position="right">
							<a href="/upload"  class="ajax-link" data-title="Amuzzin-Upload songs"><img src="<%=IMG_CDN%>/images/upload.png" height="20" width="20"/> Upload Songs</a>
						</li>


					    <% end %>

					<li id="playlist" class="link-text-menu" data-intro="Create a playlist from here and add any song to it by choosing the appropriate playlist in particular song menu. " data-step="4" data-position="right">
							<a href="/playlists"  class="ajax-link" data-title="Amuzzin-My Playlists"><img src="<%=IMG_CDN%>/images/playlist.png" height="20" width="20"/> Playlists</a>
						</li>

						<li id="favourite" class="link-text-menu" data-intro="Hate playlists ? Love a song on top of everything else in the world ? Just favourite it and it would appear here :)" data-step="5" data-position="right">
							<a href="/favourites"  class="ajax-link" data-title="Amuzzin-My Favourites"><img src="<%=IMG_CDN%>/images/favorite.png" height="20" width="20" /> Favourites</a>
						</li>
						<li id="group" class="link-text-menu" data-intro="Listen to a synced queue along with your friends" data-step="5" data-position="right">
							<a href="/group_listen"  class="ajax-link" data-title="Amuzzin-Group Listen"><img src="<%=IMG_CDN%>/images/group_listen.png" height="20" width="20" /> Group Listen
							<!--span class="new-feature">
							new
							</span--></a>
								<span id="group_chat_count" class="online-counter" style="display:none">
								0
							 </span>
						</li>
						<!-- <li id="discovery" class="link-text-menu" data-intro="Discover new songs of your taste" data-step="7" data-position="right">
							<a href="/discover"  class="ajax-link" data-title="Amuzzin-Song Discovery"><img src="<%=IMG_CDN%>/images/search.png" height="20" width="20" /> Song Discovery</a>
						</li> -->
</ul>
</div>
<div id='always-show-menu' style="margin-top:-10px;">
		<ul>
						<li id="friend" class="link-text-menu friend-menu" data-intro="We integrate your facebook friends to show you what songs they are currently listening to" data-step="6" data-position="right">
							<a href="/friends" class="ajax-link" data-title="Amuzzin-Friends' Stream"><img src="<%=IMG_CDN%>/images/stream.png" height="20" width="20"/> Friends' Stream</a>
							<% if current_user %>
								<%ol_count = current_user.get_online_count %>

							<span id="online_count" class="online-counter"  <%= 'style="display:none"'.html_safe if ol_count == 0%> >
								<%= ol_count %>
							 </span>
							 <%end%>
						</li>

						<li id="feed" class="link-text-menu" data-intro="All your friends' activities like favourites,comments,creations etc., will appear here" data-step="7" data-position="right" >
							<a href="/activities"  class="ajax-link" data-title="Amuzzin-Music Feed"><img src="<%=IMG_CDN%>/images/feed.png" height="20" width="20"/> Music Feed</a>

							<span id="unread_feed_count" class="online-counter" style="display:none">
							0
							</span>

						</li>

					</ul>
				</div>
					</div>
					<%end%>
					<br>
					<%if user_signed_in?%>
						<div id="current-queue" style="width:190px">
							<%else%>
							<div id="current-queue" style="margin-top:-10px;">
								<%end%>

						<span id="queue-title"><span class="amuzzin-font"><span class="red">Current</span> Queue</span></span>
								&nbsp;&nbsp;&nbsp;
								<%if user_signed_in?%>
								<button  class="btn btn-default btn-xs btn-danger pull-right" id="hide-menu-bar"  title="Pull playlist up" style="margin-right:7px;" onclick="$('#hide-menu-bar').hide();$('#show-menu-bar').show();$('.link-text-menu').addClass('hide');$('#hide-menu-min').hide();$('#always-show-menu').css('margin-top','0px');$('#main-menu').height('64px');scroll_logic()">
									<i class="icon icon-arrow-up" ></i>
								</button>
								<button  class="btn btn-default btn-xs btn-danger pull-right" id="show-menu-bar" style="display:none;margin-right:7px" onclick="$('#hide-menu-bar').show();$('#show-menu-bar').hide();$('#hide-menu-min').show();$('#always-show-menu').css('margin-top','-10px');$('#main-menu').height('224px');scroll_logic()">
									<i class="icon icon-arrow-down" ></i>
								</button>
								<%end%>
						<div style="width: 100%;margin-top: 7px;height:40px;margin-left:2px" >
							<div class="btn-group" >
								<button class="btn btn-default btn-sm queue-btn" id="shuffle-queue" title="Shuffle queue" onclick="javascript:shuffle(1);return false;">
									<i class="icon icon-random queue-icon"></i>
								</button>
								<button class="btn btn-default btn-sm queue-btn" id="loop-queue" title="Loop queue" onclick="javascript:loop(1);return false;">
									<i class="icon icon-repeat queue-icon" ></i>
								</button>
								<button class="btn btn-default btn-sm queue-btn" id="save-queue" title="Save queue as playlist">
									<i class="icon icon-save queue-icon" ></i>
								</button>
								<button class="btn btn-default btn-sm queue-btn" title="Search queue" id="search-queue-btn">
									<i class="icon icon-search queue-icon" ></i>
								</button>
								<button id="clear-queue" title="Clear queue" class="btn btn-default btn-sm  dropdown-toggle queue-btn" data-toggle="dropdown" href="#">
    								<i class="icon icon-remove queue-icon"></i>
  								</button>
								<%=render :partial=>"layouts/confirm_dropdown",:locals=>{:confirm_message => "Are you sure you want to clear the queue?",:action=>"clear_playlist(1)",:style=>"white-space:normal"}%>
							</div>


						</div>
						<div id="search-queue" style="position:relative;height:40px;width:100%;">
							<%= text_field_tag 'search-queue-input',nil,placeholder: 'Search queue'%>
						</div>
						<div id="queue-playlist" style="position:relative;height:70px;width:100%;">
							<% if user_signed_in? %>
							<p>
								Enter a playlist name:
							</p>
							<%= form_tag url_for(:controller=>'playlists',:action=>'save_queue'),:remote=>true,:method=>:post,:id=>'save-as-playlist-form'  do%>
							<table>
								<tr>
									<td><%= text_field_tag 'save_as_playlist_name'%></td>
									<td><%= submit_tag "Save",:style=>'position:relative;bottom:5px;left:5px;',:class=>"btn btn-sm btn-danger"%></td>
								</tr>
							</table>
							<% end %>
							<%else%>
							Sign in at the top corner to save this queue as playlist
							<%end%>
						</div>
						<div id="playlist1" class="playlist" ></div>
						</div>
												<div style="height: 10px;border-bottom: solid 1px #999999;"></div>
<div class="fb-like-box" data-href="https://www.facebook.com/amuzzinapp" data-width="180" data-height="180" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>


					</div>
				</div>
				<div id="middle-container" style="position:absolute;left:190px;width:575px;height:100%">
					<div id="player1" class="player" style="z-index:1035;position: fixed;width:583px;height:55px;top:9px;" data-intro="This is the main Player with all necessary options.<br/><br/> <strong> You can find shortcut keys for each action here: </strong><table class='table table-striped'><tr><td>Play/Pause</td><td>Space Key</td></tr><tr><td>Next Song</td><td>Left Arrow Key</td></tr><tr><td>Previous Song</td><td>Right Arrow key</td></tr><tr><td>Mute</td><td>'X' key</td></tr><tr><td>Share song</td><td>'s' or 'S' key</td></tr><tr><td>Information</td><td>'i' or 'I' key</td></tr></table> <br/><br/> You can press Enter key to walk through the rest of the tour. <br/>"  data-step="1"></div>
					<div id="player1-songs" class="player-songs">
					</div>

					<div id="search-bar" style="-moz-border-radius: 10px;z-index:1030;position:fixed;top:45px;height:50px;width:575px;background-color:#fff" class="hor-scroll">
						<form class="navbar-search" id="search-form" style="margin-top:25px;left:10px;" action="/utility/search_results" data-remote="true" data-toggle="dropdown" data-intro="We don't need any explanation why we need a search. But this search does things beyond you think. Enter any random lyrics of a song or album name or even your friends name. We will find it for you and will return you the results. Please click on appropriate tab of search results to view all the results." data-step="8">

							<input type="text" name="query" id="search-text" class="search-query" placeholder="Search for music, album, lyrics, friends and more..."/>
							<i class="icon icon-search" style="position:absolute;right:10px;top:6px;cursor:pointer" onclick="$('#search-form').submit();" title="Show Complete list of items found for search."></i>
						</form>
					</div>
					<div id="upload-song-content" style="position:absolute;width:575px;min-height:90%;top:95px;z-index:999;visibility:hidden"></div>
					<div id="activity-feed-content" style="position:absolute;width:575px;min-height:90%;top:95px;z-index:999;display:none"></div>
					<div id="content" style="position:absolute;width:575px;min-height:90%;top:95px;">
					</div>
				</div>

				<div id="right-wrapper" style="position:absolute;left:765px;width:325px;height:100%;top:36px">
					<div style="position:fixed;width:325px;height:100%;background-color:#cc3333;z-index:-2" class="hor-scroll"></div>
					<div id="right-container" class="inner-border hor-scroll" style="position:fixed;height:100%;width:325px;border-right:1px solid #999;border-left:1px solid #999;background-color:#fff;border-radius:25px 0px 0px 0px;z-index:-1">
					</div>
					<div id="twitter_trend" class="offset10pxl" style="position:fixed;top: 60px;width:302px;display:none;">
					<a href="#" onclick="hide_and_show('current_song')"> <i class="icon icon-caret-left"></i> <strong>Back to Current Song Info </strong></a>
			<br/>
			<a class="twitter-timeline" href="https://twitter.com/search?q=%23nowplaying" data-widget-id="382167785750536192" data-chrome="transparent" lang="EN" data-related="amuzzinapp" height="600">Tweets about "#nowplaying"</a>

					</div>
					<div id="current-song-container" style="position:relative;top:20px;"></div>
				</div>
			</div>
</div>
			<% if user_signed_in? %>

		<audio id="notify_muz" src='/notify' hidden='true'></audio>
		<audio id="group_call_tune" src='/tring_tring' hidden='true' loop='true'></audio>
		<%end%>

		</div>


  <div id="videoModal" class="modal hide fade">
			<div class="modal-body" id="videoModal-body">
				<span  style="font-family: 'Palitine Linotype',Serif; font-size: 20px;font-weight:bolder;color:#CC3333;"><span id="video-title"></span>
					<button class="close" data-dismiss="modal" style="float:right;margin-right:5px;">
						×
					</button></span>
				<br>
				<br>
				<div id="modal-content">
				<center>

				</center>
				</div>
			</div>
	</div>

	<script type="text/javascript">
		var notify_audio_js;
		var group_call_audio_js;
      	var socket;
      	var friends;
      	var additional_feeds;
      	var notify_audio;
			$(document).ready(function() {
				//var height = window.innerHeight;
				<%if user_signed_in?%>
				$('#playlist1').slimScroll({
					height : '400px',
					width: '190px',
					railVisible : true,
					disableFadeOut: true
				});
				<%else%>
				$('#playlist1').slimScroll({
					height : '550px',
					width: '190px',
					railVisible : true,
					disableFadeOut: true
				});
				<%end%>
<% if current_user %>

notify_audio = document.getElementById('notify_muz');
group_call_audio = document.getElementById('group_call_tune');
			audiojs.events.ready(function() {
    			notify_audio_js = audiojs.create(notify_audio);
    			group_call_audio_js = audiojs.create(group_call_audio);
    			try
				{
					notify_audio_js.setVolume (0.3);
				}
				catch(e)
				{
					notify_audio.addEventListener('loadstarted',function(){
					notify_audio_js.setVolume (0.3);
					notify_audio.removeEventListener('loadstarted', arguments.callee, false);
	  			},false);
				}
  			});

additional_feeds = [];
friends = JSON.parse('<%=friends_json%>');
socket = io.connect('<%= "#{SOCKET_IO_URL}?vtoken=#{cookies["_validation_token_key"]}"%>');


// At first, let's check if we have permission for notification
  // If not, let's ask for it
  if (Notification && Notification.permission !== "granted") {
    Notification.requestPermission(function (status) {
      if (Notification.permission !== status) {
        Notification.permission = status;
      }
    });
  }



  if (navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(setPosition);
	}


	socket.on('connect', function(data){
		//whenever socket disconnects force reload of activity
		if(player_objects[0].group_listen)
		{
			show_flash("Connected to group listen",false);
			// if(player_objects[0].position > -1)
			// {
			// 	player_objects[0].reset_player();
			// }
			// invoke_controller_action('show_flash("Syncing group queue...",false);', 'GET', '/queue/get_group_queue', 'load_playlist(1, 0);show_flash("Syncing done",false);');
		}
		refresh_activity = true;
		setStatus('connected');
		socket.emit('subscribe', {channel:'realtime',vtoken:'<%= cookies["_validation_token_key"] %>'});
	});

	socket.on('reconnecting', function(data){
		//whenever socket disconnects force reload of activity
		refresh_activity = true;
		setStatus('reconnecting');
	});

	socket.on('disconnect', function (data) {
		//whenever socket disconnects force reload of activity
		if(player_objects[0].group_listen)
		{
			show_flash("Couldn't connect to group listen.",false);
		}
		refresh_activity = true;
		setStatus('disconnected');
	});

	socket.on('error', function (reason){
		//whenever socket disconnects force reload of activity
		refresh_activity = true;
  		console.error('Unable to connect Socket.IO', reason);
	});

	socket.on('message', function (data) {
	console.log('received a message: '+ data);
	obj_data = JSON.parse(data);
	if(obj_data["id"] != <%=current_user.id%>)
	addMessage(obj_data,friends,<%=current_user.id%>);
	});


	enable_onbeforeunload();


 });
 var confirmOnPageExit = function (e)
	{
	    // If we haven't been passed the event get the window.event
	    e = e || window.event;

	    var message = 'You can instead press: \n\n 1. X or x key to Mute the sound.\n 2. <space bar> key to Pause \n\n Refresh might stop the Music Playback!';

	    // For IE6-8 and Firefox prior to version 4
	    if (e)
	    {
	        e.returnValue = message;
	    }

	    // For Chrome, Safari, IE8+ and Opera 12+
	    return message;
	};
<%else%>
});

<%end%>

function load_tour()
{
  <% if current_user and current_user.current_sign_in_at.eql?(current_user.last_sign_in_at) and cookies[:seen_tour].blank? %>
  <% cookies[:seen_tour]=true%>
  document.body.scrollTop = document.documentElement.scrollTop = 0;
  introJs().start();
  <%end%>
 }
 <%if current_user%>
  function setPosition(position)
  {
  	if(position.coords.latitude!='<%=current_user.lat%>' && position.coords.longitude!='<%=current_user.lng%>')
  	$('#location-display-div').load('/user/location?latitude='+position.coords.latitude+'&longitude='+position.coords.longitude);
   }
 <%end%>

// $(window).scroll(function(){
// 	$('*').filter(function() {
//     return $(this).css("position") === 'fixed';
// }).css({
// 		'left': -1 * $(this).scrollLeft()
// 	});
// });
</script>
</body>

</html>

