<%= stylesheet_link_tag    "mobile", :media => "all" %>
<%= javascript_include_tag  "mobile" %>
    <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<script type="text/javascript">
   var universal_audio = document.createElement('audio');
   var playing = 0;
   	function set_song(path)
   	{
	   	universal_audio.setAttribute('src', path);
	   	universal_audio.preload="metadata";
      play_song();
	}

	function pause_song()
	{
		universal_audio.pause();
		$('#song_state')[0].setAttribute('src','/play.png');
    playing=0;
	}

	function play_song()
	{
		universal_audio.play();
		$('#song_state')[0].setAttribute('src','/pause.png');
    playing=1;

	} 

	function toggle_music()
	{
    if(universal_audio.src == "")
    {
      alert(" No songs to play.\n Goto My Songs -> Click a Song.");
      return;
    }
		if(playing == 0)
		{
			playing = 1;
			play_song();
		}
		else
		{
			playing = 0;
			pause_song();
		}
	}
</script>

      <% if current_user %>
        <div data-role="page">
                <%= render :partial => "toolbar" %>
                <div data-role="content">
                <ul data-role="listview" data-inset="true">

                    <li data-role="list-divider"> Notifications </li>
                                    <li class="arrow"><a href="/user/friends_stream">Friends Radio 
                     <span class="ui-li-count">0</span></a></li>
                    <li class="arrow"><a href="/cut_song/shared_cuts">Shared Cuts 
                        <span class="ui-li-count"><%= CutSong.shares(current_user.id) %></span></a></li>
    
                                       <li data-role="list-divider"> My Library </li>
                    <li class="arrow"><a href="/upload_song/cut_song">My Cuts
                     <span class="ui-li-count"><%= current_user.cut_songs.count %></span> </a></li>
                    <li class="arrow"><a href="/user/my_song">My Songs
                      <span class="ui-li-count"><%= current_user.uploaded_songs.count %></span> </a></li>
                    <li class="arrow"><a href="/playlists">Playlists

                     <span class="ui-li-count"><%= current_user.playlists.count%></span>  </a></li>
                    <li class="arrow"><a href="/favourite/my_favourite">Favourites 
                      <span class="ui-li-count"><%= current_user.favourite_songs.count %></span></a></li>

                </ul>
              </div>
            </div>
          
<% else %>
   <div data-role="page">
           <%= render :partial => "toolbar" %>
              <ul data-role="listview" data-inset="true">
                    <li>

                          <div>  <a href='/auth/facebook' target='_blank' class='auth_provider' >
                          <input data-theme="b" type="submit" value="Login With Facebook">  
                     </a> </div>


                      </li>
                   <li> <h1>or login directly</h1></li>
                   <form action="/users/sign_in/" method="post">
                    <li><input type="text" name="user[email]" placeholder="you@email.com"></li>
                    <li><input type="password" name="user[password]" placeholder="password"></li>
                    <li><input type="submit" value="Sign in"></li>
                  </form>
                </ul>

    </div>




<% end %>


