<!DOCTYPE html>
<html>
	<head>
		<title>amuzzin</title>
		<link rel="icon" type="image/gif" href="/favicon.png" />
		<%= stylesheet_link_tag "application", :media => "all" %>

		<%= jquery_include_tag :google %>
		<%= javascript_include_tag "essentials" %>

		<link href='http://fonts.googleapis.com/css?family=Oxygen:400,700' rel='stylesheet' type='text/css'>
		<%= csrf_meta_tags %>

	</head>
	<body style="color:#000000;font-size:12px;word-wrap:break-word;">
		<div id="flash">
			<%= render :partial=>'/layouts/flash_messages'%>
		</div>
		<div id="error_flash">
			<%= render :partial=>'/layouts/flash_errors'%>
		</div>
		<center>
			<div style="background:url(/glossy_logo.png) no-repeat center center;width:200px;height:200px">
			</div>
			<%=yield%>
		</center>
		<br><br>
		<%= render :partial => "layouts/footer" %>
	</body>
</html>