<!DOCTYPE html>
<html>
<head>
  <title>MusicCutter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%if flash[:notice]%>
<div class="alert alert-info">
<button class="close" data-dismiss="alert">×</button>
<%= flash.notice %>
</div>
<%end%>
<%if flash[:alert]%>

<button class="close" data-dismiss="alert">×</button>
<%= flash.alert %></div>

<%end%>
<%= yield %>

</body>

</html>

